/* CSS Document */
/* TO DO Future: Clean up admin CSS and organize into logical scss files */
/* CSS Document */
.wpsd-specification-disabled-wrap {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; }

/*
***********************************************************
Begin Custom Fields
***********************************************************
*/
.vehicle_page_wpsd_settings_options .wpsd-field-tag {
  display: none; }

.wpsd-template-settings-title {
  color: #6495ed;
  cursor: pointer; }

.wpsd-export-fields, .wpsd-import-fields {
  width: 100%; }

.wpsd-import-export-field, .wpsd-import-export-wrap {
  display: none; }

.wpsd-advanced-button {
  cursor: pointer;
  float: right; }

.wpsd-build-field-item {
  display: none; }

.cdff-image-wrap {
  cursor: pointer;
  float: left;
  margin-left: 10px;
  position: relative; }
  .cdff-image-wrap img {
    display: none; }
  .cdff-image-wrap i {
    font-size: 24px; }
  .cdff-image-wrap:hover img {
    display: block;
    left: 12px;
    position: absolute;
    z-index: 10000; }

.wpsd-field-wrap-type-image input[type=text] {
  float: left; }

.wpsd-fieldset {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  max-width: 600px;
  padding: 6px;
  position: relative; }
  .wpsd-fieldset legend {
    cursor: pointer;
    font-weight: 700; }

.wpsd-open-add-field {
  cursor: pointer; }

.wpsd-build-field {
  display: none; }
  .wpsd-build-field small {
    display: none; }
  .wpsd-build-field .wpsd-remove-field {
    display: none; }

.wpsd-remove-field {
  color: #f00;
  cursor: pointer;
  display: none;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  right: 6px;
  top: 6px; }

.wpsd-custom-fields-defaults {
  display: none; }

.wpsd-field-wrap {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  float: left;
  padding: 4px;
  position: relative;
  width: calc(100% - 8px); }
  .wpsd-field-wrap.wpsd-field-wrap-type-comment small {
    display: none; }
  .wpsd-field-wrap.ui-state-highlight {
    background-color: #F3EF5C;
    height: 75px;
    line-height: 65px; }
  .wpsd-field-wrap .wpsd-tip-wrap {
    background-color: #ddf;
    border-radius: 14px;
    float: left;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 22px; }
    .wpsd-field-wrap .wpsd-tip-wrap:before {
      content: "?";
      cursor: pointer; }
    .wpsd-field-wrap .wpsd-tip-wrap .wpsd-tip {
      background-color: #fff;
      border: 1px solid #ccc;
      display: none;
      min-width: 200px;
      padding: 12px;
      position: absolute;
      z-index: 100; }
    .wpsd-field-wrap .wpsd-tip-wrap .wpsd-tip-content {
      font-weight: 400;
      margin-top: 6px; }
    .wpsd-field-wrap .wpsd-tip-wrap:hover .wpsd-tip {
      display: block; }
  .wpsd-field-wrap label {
    float: left;
    /*font-weight:  700;*/
    max-width: 600px;
    width: calc( 100% - 48px ); }
  .wpsd-field-wrap span {
    float: left;
    margin-bottom: 6px;
    margin-top: 12px;
    padding-left: 6px;
    width: calc( 100% - 6px ); }
  .wpsd-field-wrap small {
    float: left;
    padding-bottom: 6px;
    padding-left: 6px;
    width: calc( 100% - 6px ); }
  .wpsd-field-wrap input[type=text], .wpsd-field-wrap textarea {
    max-width: 320px;
    width: 100%; }
  .wpsd-field-wrap textarea {
    height: 128px; }
  .wpsd-field-wrap .cdff-item {
    float: left;
    width: 100%; }
    .wpsd-field-wrap .cdff-item label {
      width: auto; }
    .wpsd-field-wrap .cdff-item span {
      width: auto; }
  .wpsd-field-wrap .cdff-maybe-select {
    background-color: #fff;
    position: relative;
    max-width: 320px;
    z-index: 2; }
    .wpsd-field-wrap .cdff-maybe-select .cdff-maybe-select-value {
      display: none; }
    .wpsd-field-wrap .cdff-maybe-select .cdff-maybe-select-option-wrap {
      display: none;
      border: 1px solid #333;
      border-top: 0px;
      margin-left: 4px;
      margin-top: 0px;
      max-width: 314px;
      position: relative; }
      .wpsd-field-wrap .cdff-maybe-select .cdff-maybe-select-option-wrap .cdff-maybe-select-option {
        cursor: pointer;
        height: 26px;
        margin-top: 0px;
        max-width: 308px;
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px; }
        .wpsd-field-wrap .cdff-maybe-select .cdff-maybe-select-option-wrap .cdff-maybe-select-option:hover {
          background-color: #ddd; }

/* CSS Document */
.post-type-vehicle {
  /*
  Admin Styles
  */
  /* End images */ }
  .post-type-vehicle .wpsd-edit-vehicle-welcome-wrap label {
    float: left;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%; }
    .post-type-vehicle .wpsd-edit-vehicle-welcome-wrap label .dashicons {
      margin-right: 12px;
      font-size: 28px; }
  .post-type-vehicle .wpsd-edit-vehicle-welcome-wrap .wpsd-edit-vehicle-welcome-hide {
    float: left; }
  .post-type-vehicle .wpsd-is-sold-wrap {
    background-color: #f1f1ff;
    border: 2px dashed #aaf;
    font-size: 22px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    width: calc(100% - 44px); }
    .post-type-vehicle .wpsd-is-sold-wrap label {
      margin-right: 10px; }
      .post-type-vehicle .wpsd-is-sold-wrap label .dashicons {
        font-size: 24px;
        margin-right: 10px;
        margin-top: 4px; }
    .post-type-vehicle .wpsd-is-sold-wrap select {
      font-size: 18px; }
  .post-type-vehicle .wpsd-edit-vehicle-prices-wrap {
    background-color: #efe;
    border: 2px dashed #0f0;
    float: left;
    margin-top: 8px;
    padding: 10px;
    position: relative;
    width: calc(100% - 24px); }
    .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-before-price {
      float: left;
      min-width: 10%;
      width: fit-content; }
    .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-after-price {
      float: left;
      min-width: 10%;
      width: fit-content; }
    .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-price-item {
      display: block;
      height: 36px;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
      .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-price-item label {
        float: left;
        font-size: 14px;
        line-height: 30px;
        padding-right: 10px;
        padding-left: 0px;
        width: calc(50% - 10px); }
        .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-price-item label .dashicons {
          margin-right: 2px;
          margin-top: 6px; }
      .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-price-item span {
        float: left;
        width: 50%; }
        .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-price-item span input[type=text], .post-type-vehicle .wpsd-edit-vehicle-prices-wrap .wpsd-edit-vehicle-price-item span input[type=number] {
          box-sizing: border-box;
          float: left;
          margin: 0px;
          width: calc(100% - 36px);
          text-align: right; }
  .post-type-vehicle .wpsd-edit-vehicle-specs-metabox-wrap {
    position: relative; }
  .post-type-vehicle .wpsd-edit-vehicle-type-wrap {
    border-bottom: solid #333 1px;
    margin-bottom: 0px;
    padding-bottom: 20px; }
    .post-type-vehicle .wpsd-edit-vehicle-type-wrap .wpsd-edit-select-type-title {
      font-size: 18px;
      font-weight: 700; }
      .post-type-vehicle .wpsd-edit-vehicle-type-wrap .wpsd-edit-select-type-title .dashicons {
        margin-right: 12px;
        font-size: 28px; }
    .post-type-vehicle .wpsd-edit-vehicle-type-wrap .wpsd-edit-vehicle-type-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 75px; }
    .post-type-vehicle .wpsd-edit-vehicle-type-wrap .wpsd-edit-select-vehicle-type {
      margin-top: 10px; }
  .post-type-vehicle .wpsd-edit-vehicle-specs-wrap .wpsd-edit-vehicle-spec-group {
    margin-bottom: 20px; }
    .post-type-vehicle .wpsd-edit-vehicle-specs-wrap .wpsd-edit-vehicle-spec-group .wpsd-edit-vehicle-spec-group-title {
      background-color: #d4efeb;
      font-size: 16px;
      font-family: inherit;
      font-weight: 700;
      margin-bottom: 10px;
      padding: 10px; }
  .post-type-vehicle .wpsd-edit-vehicle-price-wrap {
    float: left;
    width: 100%; }
    .post-type-vehicle .wpsd-edit-vehicle-price-wrap label {
      float: left;
      font-size: 14px;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 100%; }
    .post-type-vehicle .wpsd-edit-vehicle-price-wrap span {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px); }
  .post-type-vehicle .wpsd-field-wrap {
    padding-left: 20px;
    padding-right: 0px;
    width: calc(100% - 20px); }
    .post-type-vehicle .wpsd-field-wrap:nth-of-type(even) {
      background-color: #eee; }
    .post-type-vehicle .wpsd-field-wrap label {
      line-height: 30px; }
    .post-type-vehicle .wpsd-field-wrap label, .post-type-vehicle .wpsd-field-wrap span {
      font-size: 16px;
      font-family: inherit;
      height: 30px;
      margin: 0px;
      padding: 0px;
      width: 50%; }
    .post-type-vehicle .wpsd-field-wrap small {
      display: none; }
    .post-type-vehicle .wpsd-field-wrap .wpsd-switch-tab {
      cursor: pointer;
      margin-right: 4px;
      width: auto; }
    .post-type-vehicle .wpsd-field-wrap .wpsd-clear {
      clear: none; }
  .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap {
    /* .wpsd-edit-vehicle-options-wrap { */ }
    .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap.wpsd-edit-no-group-options .wpsd-edit-vehicle-options-group-title {
      display: none; }
    .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap.wpsd-edit-no-group-options .wpsd-edit-vehicle-options-sub-group-title {
      display: none; }
    .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap.wpsd-edit-no-group-options .wpsd-edit-vehicle-options-list-all-enabled {
      display: none; }
    .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap {
      /* end .wpsd-edit-vehicle-options-group { */
      /* end .wpsd-edit-vehicle-options-sub-group { */ }
      .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap .wpsd-edit-vehicle-options-group .wpsd-edit-vehicle-options-group-title {
        background-color: #d4efeb;
        float: left;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 6px;
        padding: 4px;
        width: calc(100% - 8px); }
      .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap .wpsd-edit-vehicle-options-group .wpsd-edit-vehicle-options-item-wrap {
        background-color: #eee;
        float: left;
        margin: 4px;
        padding: 4px;
        padding-left: 8px;
        position: relative; }
        .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap .wpsd-edit-vehicle-options-group .wpsd-edit-vehicle-options-item-wrap.in-active {
          display: none; }
        .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap .wpsd-edit-vehicle-options-group .wpsd-edit-vehicle-options-item-wrap .wpsd-toggle-wrap label.wpsd-toggle {
          float: right;
          margin-left: 8px;
          margin-right: 8px;
          margin-top: 2px; }
        .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap .wpsd-edit-vehicle-options-group .wpsd-edit-vehicle-options-item-wrap .wpsd-toggle-wrap .wpsd-toggle-title {
          font-size: 14px;
          line-height: 20px; }
        .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap .wpsd-edit-vehicle-options-group .wpsd-edit-vehicle-options-item-wrap .wpsd-toggle-wrap .in-active {
          background-color: #ffd;
          opacity: 0.5; }
      .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-wrap .wpsd-edit-vehicle-options-sub-group .wpsd-edit-vehicle-options-sub-group-title {
        background-color: #ddd;
        float: left;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 6px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        width: calc(100% - 16px); }
    .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-list-all {
      display: none;
      float: left;
      height: 80px;
      margin: 10px;
      width: calc(100% - 20px); }
      .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-list-all.wpsd-edit-vehicle-options-list-all-enabled {
        display: block; }
    .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-list {
      display: none;
      float: left;
      height: 80px;
      margin: 10px;
      width: calc(100% - 20px); }
      .post-type-vehicle .wpsd-edit-vehicle-options-metabox-wrap .wpsd-edit-vehicle-options-list.active {
        display: block; }
  .post-type-vehicle .wpsd-edit-vehicle-vin-decodes-wrap, .post-type-vehicle .wpsd-edit-vehicle-history-reports-wrap {
    border-bottom: solid #333 1px;
    float: left;
    margin-bottom: 0px;
    min-height: 282px;
    padding-bottom: 20px;
    width: 50%; }
    .post-type-vehicle .wpsd-edit-vehicle-vin-decodes-wrap label, .post-type-vehicle .wpsd-edit-vehicle-history-reports-wrap label {
      float: left;
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 10px;
      padding-top: 10px;
      width: 100%; }
  .post-type-vehicle .wpsd-edit-vehicle-details-wrap label {
    float: left;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%; }
  .post-type-vehicle .wpsd-edit-vehicle-details-wrap span {
    float: left;
    width: 100%; }
  .post-type-vehicle .wpsd-edit-vehicle-details-wrap .wpsd-edit-vehicle-description {
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px); }
  .post-type-vehicle .wpsd-edit-vehicle-details-wrap .wpsd-edit-vehicle-excerpt-wrap {
    display: none; }
    .post-type-vehicle .wpsd-edit-vehicle-details-wrap .wpsd-edit-vehicle-excerpt-wrap .wpsd-edit-vehicle-excerpt {
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px); }
  .post-type-vehicle .admin_box_vehicle_photo {
    background-color: inherit;
    border: 1px solid #333;
    float: left;
    margin: 2px;
    padding: 5px; }
    .post-type-vehicle .admin_box_vehicle_photo:hover {
      background-color: #FCC; }
  .post-type-vehicle .vehicle_photo_admin_box {
    background-color: inherit;
    border: 1px solid #333;
    float: left;
    margin: 2px;
    padding: 5px; }
  .post-type-vehicle .vehicle_photo_admin_box:hover {
    background-color: #FCC; }
  .post-type-vehicle .vehicle_photo_remove {
    cursor: pointer;
    color: #F00;
    font-weight: 700;
    margin-bottom: 6px;
    margin-right: 10px;
    margin-top: 0px;
    text-align: right; }
  .post-type-vehicle .wpsd_reverse_attachments_btn {
    background-color: #007cba;
    cursor: pointer;
    float: right;
    margin-right: 20px; }
    .post-type-vehicle .wpsd_reverse_attachments_btn:hover {
      background-color: #0071a1; }
  .post-type-vehicle .wpsd_image_links_list_wrap {
    display: none;
    float: left;
    margin-bottom: 10px;
    width: 100%; }
  .post-type-vehicle .wpsd_image_links_list {
    height: 100px;
    width: 100%; }
  .post-type-vehicle .wpsd_edit_image_links {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 200px; }
  .post-type-vehicle .wpsd_edit_image_links:hover {
    color: #0b0; }
  .post-type-vehicle .wpsd_close_image_links {
    float: right; }
  .post-type-vehicle .wpsd_update_image_links_btn {
    float: left; }
  .post-type-vehicle #remove-post-thumbnail-btn {
    cursor: pointer; }
    .post-type-vehicle #remove-post-thumbnail-btn:hover {
      color: #0b0; }
  .post-type-vehicle .wpsd_main_image_wrapper {
    float: left;
    margin-bottom: 14px;
    max-width: 356px;
    width: 100%; }
    .post-type-vehicle .wpsd_main_image_wrapper h4 {
      margin-top: 0px; }
  .post-type-vehicle .wpsd_main_image {
    border: 2px dashed #ccc;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 10px; }
    .post-type-vehicle .wpsd_main_image img {
      cursor: pointer;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 260px; }

/* CSS Document */
.wpsd-edit-vehicle-data-api-vin-wrap {
  border-bottom: 1px solid #333;
  float: left;
  padding-bottom: 10px;
  width: 100%; }

.wpsd-edit-vehicle-data-api {
  display: none; }
  .wpsd-edit-vehicle-data-api.wpsd-edit-vehicle-data-api-show {
    display: block; }

.wpsd-close-report {
  background-color: #ddd;
  color: #333;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: -22px;
  z-index: 30; }
  .wpsd-close-report i {
    background-color: #b00;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    height: 18px;
    line-height: 16px;
    padding: 2px;
    text-align: center;
    width: 18px; }
  .wpsd-close-report span {
    display: block;
    float: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    height: 18px;
    line-height: 16px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 4px; }

.wpsd-service-data-api-label-wrap {
  float: left;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%; }

.wpsd-bad-vin {
  background-color: #FFB3B3 !important; }

div.wpsd-bad-vin {
  color: #000;
  font-size: 16px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase; }

div.wpsd-bad-vin.wpsd-bad-vin-flash {
  background-color: #F00 !important;
  color: #fff; }

.wpsd-data-api-button {
  background-color: #eee;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 6px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase; }

.wpsd-edit-vehicle-vin-decodes-wrap {
  /* end .wpsd-service-vin-decode */ }
  .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode {
    /* end wpsd-service-status-vin-decodes */ }
    .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-vin-decode-label .wpsd-vin-decode-result-label {
      color: #b00;
      float: left;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      width: 100%; }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-vin-decode-label .wpsd-vin-decode-result-label span {
        cursor: pointer; }
    .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-vin-decode-label .wpsd-vin-decode-results {
      display: none;
      float: left;
      height: 200px;
      width: 100%; }
    .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-vin-decode-results-wrap {
      display: none; }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-vin-decode-results-wrap.wpsd-vin-decode-result-label {
        display: block;
        float: left;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        width: 100%; }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-vin-decode-results-wrap .wpsd-service-vin-decode-results {
        display: none; }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-vin-decode-results-wrap .wpsd-service-vin-decode-results-view {
        cursor: pointer;
        font-size: 12px;
        margin-top: 6px;
        padding-left: 4px;
        width: calc(100% - 4px); }
    .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes {
      float: left;
      margin-bottom: 10px;
      padding: 6px;
      width: calc(100% - 12px);
      /* end wpsd-vin-decodes-total-wrap */
      /* end wpsd-vin-decodes-total-wrap */
      /* end wpsd-vin-decodes-total-wrap */ }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-service-status-label {
        background-color: #eee;
        float: left;
        font-size: 16px;
        font-weight: 700;
        margin-right: 4px;
        padding: 4px;
        width: calc(100% - 12px); }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-total-wrap {
        float: left;
        width: 100%; }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-total-wrap .wpsd-vin-decodes-total-label {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-total-wrap .wpsd-vin-decodes-total {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-used-wrap {
        float: left;
        width: 100%; }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-used-wrap .wpsd-vin-decodes-used-label {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-used-wrap .wpsd-vin-decodes-used {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
      .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-available-wrap {
        background-color: #bfb;
        float: left;
        font-size: 14px;
        width: 100%; }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-available-wrap.wpsd-service-refill {
          background-color: #ffcfcf;
          font-size: 16px;
          font-weight: 700; }
          .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-available-wrap.wpsd-service-refill .wpsd-refill-message {
            display: block; }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-available-wrap .wpsd-refill-message {
          display: none;
          float: left;
          padding: 8px; }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-available-wrap .wpsd-vin-decodes-available-label {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
        .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes .wpsd-vin-decodes-available-wrap .wpsd-vin-decodes-available {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
    .wpsd-edit-vehicle-vin-decodes-wrap .wpsd-service-vin-decode .wpsd-service-status-vin-decodes-form {
      float: left;
      margin-bottom: 10px;
      padding: 6px;
      width: calc(100% - 12px); }

.wpsd-edit-vehicle-history-reports-wrap {
  /* end .wpsd-service-history-report */ }
  .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report {
    /* end wpsd-service-status-history-reports */ }
    .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-history-report-label .wpsd-history-report-result-label {
      color: #b00;
      float: left;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      width: 100%; }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-history-report-label .wpsd-history-report-result-label span {
        cursor: pointer; }
    .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-history-report-label .wpsd-history-report-results {
      display: none;
      float: left;
      height: 200px;
      width: 100%; }
    .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-history-report-results-wrap {
      display: none; }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-history-report-results-wrap.wpsd-history-report-result-label {
        display: block;
        float: left;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        width: 100%; }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-history-report-results-wrap .wpsd-service-history-report-results {
        display: none; }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-history-report-results-wrap .wpsd-service-history-report-results-view {
        cursor: pointer;
        font-size: 12px;
        margin-top: 6px;
        padding-left: 4px;
        width: calc(100% - 4px); }
    .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports {
      float: left;
      margin-bottom: 10px;
      padding: 6px;
      width: calc(100% - 12px);
      /* end wpsd-history-reports-total-wrap */
      /* end wpsd-history-reports-total-wrap */
      /* end wpsd-history-reports-total-wrap */ }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-service-status-label {
        background-color: #eee;
        float: left;
        font-size: 16px;
        font-weight: 700;
        margin-right: 4px;
        padding: 4px;
        width: calc(100% - 12px); }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-total-wrap {
        float: left;
        width: 100%; }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-total-wrap .wpsd-history-reports-total-label {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-total-wrap .wpsd-history-reports-total {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-used-wrap {
        float: left;
        width: 100%; }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-used-wrap .wpsd-history-reports-used-label {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-used-wrap .wpsd-history-reports-used {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
      .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-available-wrap {
        background-color: #bfb;
        float: left;
        font-size: 14px;
        width: 100%; }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-available-wrap.wpsd-service-refill {
          background-color: #ffcfcf;
          font-size: 16px;
          font-weight: 700; }
          .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-available-wrap.wpsd-service-refill .wpsd-refill-message {
            display: block; }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-available-wrap .wpsd-refill-message {
          display: none;
          float: left;
          padding: 8px; }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-available-wrap .wpsd-history-reports-available-label {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
        .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports .wpsd-history-reports-available-wrap .wpsd-history-reports-available {
          float: left;
          padding: 4px;
          width: calc(50% - 8px); }
    .wpsd-edit-vehicle-history-reports-wrap .wpsd-service-history-report .wpsd-service-status-history-reports-form {
      float: left;
      margin-bottom: 10px;
      padding: 6px;
      width: calc(100% - 12px); }

@media only screen and (min-width: 767px) {
  .wpsd_save_settings {
    position: fixed;
    top: 30px;
    right: 0;
    background: #CBF8DD; } }
.wpsd_field_table {
  background-color: #fff;
  border: 2px solid #333;
  float: left;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 0px;
  width: calc(100% - 4px); }
  .wpsd_field_table tr {
    padding: 4px;
    width: calc(100% - 12px); }
    .wpsd_field_table tr:nth-of-type(odd) {
      background-color: #eee;
      border: none;
      border-bottom: 2px dashed #333; }
    .wpsd_field_table tr:nth-of-type(1) {
      background-color: #ddd;
      border: none;
      border-bottom: 2px dashed #333;
      text-align: center; }
    .wpsd_field_table tr .dashicons {
      margin-right: 10px; }
    .wpsd_field_table tr td {
      padding: 6px; }

input.wpsd-edit-field {
  width: 100%; }

.edit_option_tabs {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0;
  padding: 10px;
  cursor: pointer; }
  .edit_option_tabs:hover {
    background: #57F797; }

.wpsd-admin-field-wrap {
  float: left;
  line-height: 26px;
  padding: 10px;
  width: 100%; }

.wpsd-admin-field-wrap label {
  float: left;
  width: 175px; }

.wpsd-admin-radio-wrapper {
  box-sizing: border-box;
  float: left;
  padding-left: 20px;
  width: 100%; }

.wpsd-admin-radio-wrapper span {
  float: left;
  margin-right: 6px; }

.wpsd-admin-radio-wrapper li {
  float: left;
  width: 100%; }

.wpsd_option_item a {
  text-decoration: none; }

.wpsd_settings_message {
  cursor: pointer;
  float: right;
  margin: 0px;
  margin-right: 16px;
  padding: 10px;
  text-align: center; }
  .wpsd_settings_message.active-message {
    background-color: #99ff99;
    border: 1px solid #ddd; }

.edit_option_tabs_div {
  width: 100%;
  float: left; }

.wpsd-save-settings-button {
  background-color: #afa;
  border: 1px solid #ddd;
  cursor: pointer;
  float: right;
  padding: 10px;
  padding-right: 16px; }
  .wpsd-save-settings-button .dashicons {
    margin-right: 6px; }

.wpsd-save-settings-button:hover {
  background-color: #fff; }

.wpsd_admin_form_label {
  font-size: 14px;
  padding-right: 20px;
  width: 165px;
  display: inline;
  float: left;
  font-weight: bold; }

.wpsd_admin_form input {
  width: 400px; }

.wpsd_admin_form {
  width: 600px;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  border: solid;
  border-width: 2px;
  border-color: #999999;
  margin-bottom: 10px;
  margin-top: 20px; }

.small_text {
  font-size: 10px; }

.admin_default_description {
  max-width: 580px;
  height: 100px; }

.admin_finance_size {
  width: 50px !important; }

.admin_no_price {
  width: 282px !important; }

.admin_disclaimer_notice {
  font-weight: bold;
  color: #FF0000; }

.admin_update_options_btn {
  margin-left: 250px;
  margin-top: 15px;
  width: 130px !important; }

.admin_pages_div {
  max-width: 500px; }

.admin_add_pages_div {
  float: left;
  width: 300px; }

.admin_add_pages_btn {
  cursor: pointer;
  width: 90%; }

.admin_add_pages_shortcodes {
  float: left;
  max-width: 300px;
  margin-left: 10px;
  margin-top: 0px; }

.admin_settings_updated_title {
  color: #FF0000; }

.admin_cell_providers {
  width: 250px; }

.wpsd_admin_filter {
  float: left; }

.wpsd_admin_filter_label {
  float: left;
  padding: 3px; }

.wpsd_admin_filter_field {
  float: left; }

.custom_option_container {
  width: 662px; }

.custom_option_directions {
  width: 562px; }

.wpsd_select_custom_options {
  width: 150px;
  height: 130px !important; }

.btn_move_right {
  width: 150px;
  height: 26px; }

.wpsd_custom_options_box {
  width: 400px;
  height: 150px; }

.wpsd_select_custom_options_container {
  float: left;
  padding: 3px; }

.wpsd_custom_options_box_container {
  float: left;
  padding: 3px; }

.vehicle_option_group {
  width: 25%;
  min-width: 250px;
  float: left; }

.vehicle_option_group_items {
  width: 50%;
  min-width: 250px;
  height: 200px;
  float: left; }

.add_vehicle_option_group {
  color: #093;
  cursor: pointer; }

.delete_vehicle_option_group {
  color: #900;
  cursor: pointer;
  float: left;
  margin-left: 15px;
  margin-top: 5px; }

.add_vehicle_option_group_form {
  display: none; }

.wrap .tab {
  display: none;
  margin-left: 30px; }

.open_tab {
  cursor: pointer;
  width: 50%;
  max-width: 250px; }

.close_tab {
  cursor: pointer;
  width: 30%;
  max-width: 250px;
  float: right;
  color: #900;
  font-weight: bold; }

.cancel_add_group {
  cursor: pointer;
  width: 30%;
  max-width: 250px;
  float: right;
  color: #900;
  font-weight: bold; }

.btn_update_group {
  margin-bottom: 15px; }

.post-type-vehicle .wpsd_admin_group {
  background-color: #fff;
  margin-left: 15px;
  border: solid 1px;
  padding: 10px;
  max-width: 600px;
  margin-top: 15px;
  z-index: 9000; }
  .post-type-vehicle .wpsd_admin_group legend {
    cursor: pointer; }
  .post-type-vehicle .wpsd_admin_group.wpsd_admin_group .wpsd-field-wrap span {
    height: auto; }

.wpsd_option_group {
  display: none; }
  .wpsd_option_group.wpsd_option_open {
    display: block; }
  .wpsd_option_group.wpsd_option_group_layout {
    display: block; }

.wpsd_data_api label {
  display: block;
  padding-bottom: 6px;
  padding-top: 12px;
  width: 100%; }
.wpsd_data_api .wpsd-approved {
  color: #0a0;
  display: none;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px; }
  .wpsd_data_api .wpsd-approved.wpsd-approved-true {
    display: block; }

.wpsd-api-activate-msg {
  font-size: 12px; }

.wpsd_api_active {
  display: none; }

.wpsd_api_items.wpsd_api_validated_class {
  display: block; }

.wpsd_api_key {
  width: 320px; }

.wpsd-api-services {
  width: 100%; }
  .wpsd-api-services tr.wpsd-api-services-header {
    background-color: #eee; }
    .wpsd-api-services tr.wpsd-api-services-header td {
      font-size: 16px;
      font-weight: 700;
      padding: 8px;
      padding-left: 0px;
      padding-right: 0px; }
  .wpsd-api-services th {
    padding-left: 10px;
    text-align: left; }
  .wpsd-api-services td {
    padding: 8px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center; }

.wpsd_api_items_wrap {
  padding: 20px; }
  .wpsd_api_items_wrap .wpsd_api_items_wrap_title {
    display: none; }
  .wpsd_api_items_wrap.wpsd_api_items_inactive {
    background-color: #ffdfdf; }
    .wpsd_api_items_wrap.wpsd_api_items_inactive .wpsd_api_items_wrap_title {
      display: block;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center; }
      .wpsd_api_items_wrap.wpsd_api_items_inactive .wpsd_api_items_wrap_title span {
        display: block;
        float: left;
        font-size: 14px;
        font-weight: 400;
        width: 100%; }

.wpsd_vpd_api_items_inactive {
  background-color: #ffdfdf;
  font-size: 16px;
  padding: 20px; }

.wpsd_admin_show_all {
  cursor: pointer;
  max-width: 150px; }

.wpsd_admin_form h1 {
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer; }

.wpsd_location {
  display: none; }

.wpsd_location_nav .page-numbers {
  border: 1px solid #000;
  margin: 1px;
  padding: 5px;
  background-color: #fff; }

/*
Welcome Screen
*/
.wpsd_welcome h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #199e80;
  margin-bottom: 30px; }

.wpsd_welcome_logo_wrap {
  float: left;
  margin-right: 20px; }

.wpsd_welcome_logo {
  border-bottom: 1px solid #000;
  max-width: 800px;
  margin: 10px;
  margin-bottom: 30px; }
  .wpsd_welcome_logo h2.wpsd-welcome-header {
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
    color: #199e80;
    margin-bottom: 30px; }
    .wpsd_welcome_logo h2.wpsd-welcome-header.wpsd-welcome-header-top {
      text-align: left; }
    .wpsd_welcome_logo h2.wpsd-welcome-header.wpsd-welcome-header-bottom {
      text-align: right; }

.wpsd_welcome_clear {
  clear: both; }

.wpsd-admin-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #eeeeff; }

.wpsd_settings_tab_title {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s; }
  .wpsd_settings_tab_title a {
    color: #333; }
  .wpsd_settings_tab_title.wpsd_settings_tab_title_go_pro:hover, .wpsd_settings_tab_title.wpsd_settings_tab_title_go_pro.active {
    background-color: #99ff99; }

.wpsd_settings_tab_title:hover, .wpsd_settings_tab_title.active {
  background-color: #ddd; }

.wpsd_settings_tab {
  border-top: 1px solid #999;
  font-size: 16px;
  margin-left: 5px;
  padding-top: 20px; }
  .wpsd_settings_tab.wpsd_settings_tab_vehicle_options legend .dashicons {
    margin-right: 6px; }
  .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-field-wrap span {
    height: auto; }
  .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-field-wrap .wpsd-tip-wrap {
    background-color: #ddf;
    border-radius: 14px;
    font-weight: bold;
    right: 4px;
    top: 10px;
    position: absolute;
    text-align: center;
    width: 22px; }
  .wpsd_settings_tab.wpsd_settings_tab_locations {
    position: relative; }
    .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-location-wrap {
      display: none;
      float: left;
      position: relative;
      width: 100%; }
      .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-location-wrap.active {
        display: block; }
      .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-location-wrap.in-active {
        display: none; }
    .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-location-button, .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-remove-location-button {
      cursor: pointer;
      float: left;
      text-align: center;
      width: 50%; }
      .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-location-button dashicons, .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-remove-location-button dashicons {
        margin-right: 6px; }
    .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-view-locations {
      display: none; }
    .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-view-locations, .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-admin-location-add-button {
      background-color: #ddd;
      cursor: pointer;
      float: left;
      font-size: 16px;
      margin: 5px;
      padding: 6px;
      padding-left: 10px;
      padding-right: 10px; }
      .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-view-locations.active, .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-admin-location-add-button.active {
        display: block; }
      .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-edit-view-locations.in-active, .wpsd_settings_tab.wpsd_settings_tab_locations .wpsd-admin-location-add-button.in-active {
        display: none; }
    .wpsd_settings_tab.wpsd_settings_tab_locations table.active {
      display: block; }
    .wpsd_settings_tab.wpsd_settings_tab_locations table.in-active {
      display: none; }
  .wpsd_settings_tab .wpsd-field-wrap:nth-of-type(even) {
    background-color: #fff; }

.wpsd-admin-tabs-content h3 .dashicons {
  margin-right: 4px; }

.wpsd_welcome_tab_title {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s; }
  .wpsd_welcome_tab_title a {
    color: #333; }
  .wpsd_welcome_tab_title.wpsd_welcome_tab_title_go_pro:hover, .wpsd_welcome_tab_title.wpsd_welcome_tab_title_go_pro.active {
    background-color: #99ff99; }

.wpsd_welcome_tab_title:hover, .wpsd_welcome_tab_title.active {
  background-color: #ddd; }

.wpsd_welcome_tab {
  border-top: 1px solid #999;
  display: none;
  font-size: 16px;
  margin-left: 5px;
  padding-top: 20px; }
  .wpsd_welcome_tab.active {
    display: block; }

.welcome_excerpt {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px; }

.wpsd_change_log {
  font-size: 10px;
  margin-left: 20px; }

.wpsd_release_version {
  font-size: 12px;
  margin-left: -15px; }

.wpsd_welcome_left {
  margin: 20px;
  margin-left: 0px;
  margin-top: 0px; }

.wpsd_welcome_center_shortcode {
  width: 473px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #aaa; }

.wpsd_welcome_center_pro {
  width: 473px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #aaa; }

.wpsd_whats_new h3 {
  color: #0000ff;
  line-height: 1.2em; }

.wpsd_settings_tab {
  display: none; }

.wpsd_settings_tab.active {
  display: block; }

.wpsd_setup_inventory {
  margin-left: 20px;
  border: solid 1px #aaa;
  padding: 10px; }

.wpsd_setup_inventory input[type=text] {
  width: 200px; }

.create_inventory_results {
  display: block;
  margin-top: 20px; }

.wpsd_setup_step {
  font-size: 16px;
  color: #2B3E6B;
  font-weight: bold; }
  .wpsd_setup_step .dashicons {
    margin-right: 4px; }

h4.wpsd_setup {
  margin-left: 20px;
  margin-right: 20px; }

p.wpsd_setup_text {
  margin-left: 20px; }

.welcome_float_button {
  float: left; }

h2.wpsd_welcome_small {
  font-size: 1px;
  line-height: 1px;
  margin: 0px;
  padding: 0px; }

.wpsd_go_pro_box h2 {
  line-height: 30px; }

.wpsd_go_pro_box h3, .wpsd_go_pro_box h2 {
  text-align: center; }

.wpsd_go_pro_header {
  color: #03921D;
  text-align: center; }

.wpsd_go_pro ul li {
  margin-left: 20px;
  font-weight: bold; }

.wpsd_go_pro h4 {
  cursor: pointer; }

.wpsd_go_pro li {
  width: 600px; }

.wpsd_go_pro li a {
  text-decoration: none; }

.wpsd_go_pro div {
  display: none;
  text-align: center; }

.wpsd-pro-splash {
  background-color: #fff;
  border: 2px dashed #00b;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  width: 100%; }
  .wpsd-pro-splash img {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    width: 100%; }
  .wpsd-pro-splash label {
    float: left;
    width: 100%; }
  .wpsd-pro-splash span {
    display: none; }

.wpsd_expand_item {
  display: block;
  float: left;
  font-size: 30px;
  color: #31C513;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer; }

a .wpsd_go_pro_btn {
  color: #FFFFFF;
  text-decoration: none; }

a .wpsd_go_pro_btn:hover {
  color: #96090C;
  background: #A2F182;
  border: 1px solid #96090C; }

.wpsd_go_pro_btn {
  padding: 10px;
  background: #96090C;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  float: left;
  margin: 10px;
  width: 200px;
  margin-left: 14%;
  margin-right: auto; }

.wpsd_home {
  font-size: 40px;
  font-style: italic;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center; }

.wpsd_sample_inventory {
  padding: 4px; }

.wpsd_hidden {
  display: none; }

.wpsd_spec_cap_box {
  display: none;
  padding-left: 50px; }

.wpsd_open_caps {
  color: #0a0;
  font-weight: bold;
  cursor: pointer; }

.wpsd-show-taxonomy-tip {
  cursor: help; }

.wpsd_tooltip {
  background-color: #9f9;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  position: relative; }

.wpsd_tip {
  display: none; }

.wpsd_tooltip:hover .wpsd_tip {
  border: 1px solid #000;
  background-color: #ddd;
  display: block;
  left: 10px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 125px; }

.price.column-price {
  width: auto; }

/* CSS Document */
.wpsd_style_selection {
  width: 120px;
  margin: 10px; }

.wpsd_style_submit_holder {
  width: 100%;
  height: 25px; }

/* CSS Document */
.wpsd_options fieldset {
  border: 1px solid #000000;
  max-width: 800px;
  padding: 10px;
  padding-right: 15px; }

.wpsd_options fieldset legend {
  font-weight: bold; }

.wpsd_error {
  font-weight: bold;
  font-size: 22px;
  color: #ff0000; }

.wpsd_options label {
  display: block;
  padding: 5px; }

.wpsd_products {
  margin: 10px;
  margin-left: 15px; }

.wpsd_product_setting, .wpsd_setting {
  width: 50px; }

.wpsd_products li {
  padding: 10px;
  border: 1px solid #000000;
  max-width: 400px; }

.wpsd_tabs {
  width: 95%;
  float: left;
  margin: 0px;
  border-bottom: 1px solid #333333; }

.wpsd_tabs li:hover {
  background-color: #aaaaaa;
  color: #ffffff; }

.wpsd_tabs li {
  width: 125px;
  border: 1px solid #000000;
  border-bottom: none;
  float: left;
  list-style: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 0px; }

.wpsd_user_area {
  width: 95%;
  float: left;
  margin: 0px;
  padding: 10px;
  display: none; }

.wpsd_user_area.wpsd_active_page {
  display: block; }

.wpsd-inactive {
  display: none; }

.wpsd_active_tab {
  background-color: #333333;
  color: #ffffff; }

.wpsd_tabs li.wpsd_active_tab:hover {
  background-color: #333333;
  color: #ffffff; }

.wpsd_content {
  height: 150px;
  width: 100%; }

.wpsd-admin-vehicle-options {
  float: left;
  width: 100%; }

.wpsd-text-center {
  text-align: center; }

h2.wpsd-text-center {
  font-size: 24px; }

.wpsd-instructions-wrap {
  background-color: #fff;
  float: left;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 2px;
  position: relative;
  width: 100%; }
  .wpsd-instructions-wrap.wpsd-instructions-wrap-startup-guide .wpsd-instructions {
    display: block; }
  .wpsd-instructions-wrap .wpsd-instructions-title {
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 6px;
    padding-left: 6px;
    padding-top: 6px; }
    .wpsd-instructions-wrap .wpsd-instructions-title .dashicons {
      margin-right: 6px; }
  .wpsd-instructions-wrap .wpsd-instructions {
    display: none;
    padding-left: 10px; }
  .wpsd-instructions-wrap .wpsd-instructions-hide {
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 6px; }
    .wpsd-instructions-wrap .wpsd-instructions-hide:hover {
      color: #00f; }
  .wpsd-instructions-wrap .wpsd-tnt-wrap {
    float: left;
    line-height: normal;
    width: 100%; }
    .wpsd-instructions-wrap .wpsd-tnt-wrap img.wpsd-tnt-logo {
      border-bottom: 4px solid #000000;
      box-sizing: border-box;
      padding: 16px;
      padding-bottom: 0px; }
    .wpsd-instructions-wrap .wpsd-tnt-wrap .wpsd-tnt-col {
      box-sizing: border-box;
      float: left;
      max-width: 500px;
      padding: 20px;
      width: calc(100% - 40px); }
      .wpsd-instructions-wrap .wpsd-tnt-wrap .wpsd-tnt-col img {
        cursor: pointer;
        width: inherit; }
      .wpsd-instructions-wrap .wpsd-tnt-wrap .wpsd-tnt-col h2 {
        line-height: 32px;
        margin: 0px;
        margin-bottom: 20px; }
      .wpsd-instructions-wrap .wpsd-tnt-wrap .wpsd-tnt-col .wpsd-video-wrap {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden; }
        .wpsd-instructions-wrap .wpsd-tnt-wrap .wpsd-tnt-col .wpsd-video-wrap iframe, .wpsd-instructions-wrap .wpsd-tnt-wrap .wpsd-tnt-col .wpsd-video-wrap object, .wpsd-instructions-wrap .wpsd-tnt-wrap .wpsd-tnt-col .wpsd-video-wrap embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }

.wpsd-col-wrap .wpsd-col {
  box-sizing: border-box;
  float: left;
  min-width: 200px;
  max-width: 500px;
  padding: 20px;
  width: calc(100% - 40px); }

ul.wpsd-addons li {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px dashed #00b;
  display: block;
  float: left;
  margin: 4px;
  max-width: 144px;
  padding: 6px; }
  ul.wpsd-addons li img {
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    width: 100%; }
  ul.wpsd-addons li label {
    box-sizing: border-box;
    float: left;
    font-size: 14px;
    font-weight: 700;
    max-width: 150px;
    min-height: 44px;
    padding: 4px;
    text-align: center;
    width: calc(100% - 8px); }
  ul.wpsd-addons li span {
    display: none; }
  ul.wpsd-addons li a {
    text-decoration: none; }
  ul.wpsd-addons li input[type=button] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 82px; }

.wpsd-global-fields-wrap {
  background-color: #fff;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 6px;
  width: calc(100% - 28px); }
  .wpsd-global-fields-wrap .wpsd-remove-button {
    background-color: #5c5;
    color: transparent; }
    .wpsd-global-fields-wrap .wpsd-remove-button:after {
      color: #fff;
      content: " + ";
      height: 12px;
      position: absolute;
      right: 0px;
      text-align: center;
      width: 100%;
      z-index: 10; }
  .wpsd-global-fields-wrap .wpsd-global-fields-item {
    background-color: #ddd;
    box-sizing: border-box;
    float: left;
    margin: 4px;
    padding: 6px;
    padding-right: 28px;
    position: relative; }
  .wpsd-global-fields-wrap pre {
    display: none; }

.wpsd-default-add-types-wrap {
  float: left;
  width: 100%; }
  .wpsd-default-add-types-wrap small {
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: fit-content; }
    .wpsd-default-add-types-wrap small:hover {
      color: #00f; }

.wpsd_settings_tab_startup_guide .wpsd-default-types-wrap {
  display: block; }
  .wpsd_settings_tab_startup_guide .wpsd-default-types-wrap .wpsd-default-type-item {
    position: relative; }
    .wpsd_settings_tab_startup_guide .wpsd-default-types-wrap .wpsd-default-type-item.wpsd-default-type-exists:before {
      background-color: #0d0;
      bottom: 0;
      content: "Installed";
      left: 0px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%; }

.wpsd-default-types-wrap {
  background-color: #fff;
  display: none;
  float: left;
  margin-top: 10px;
  padding: 14px;
  position: relative;
  width: calc(100% - 28px); }
  .wpsd-default-types-wrap h3 {
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    padding-top: 6px; }
  .wpsd-default-types-wrap .wpsd-default-type-item {
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin: 2px;
    max-width: 100px;
    text-align: center; }
    .wpsd-default-types-wrap .wpsd-default-type-item.wpsd-default-type-exists img {
      opacity: 0.5; }
    .wpsd-default-types-wrap .wpsd-default-type-item.wpsd-default-type-exists label {
      background-color: #dfd; }
    .wpsd-default-types-wrap .wpsd-default-type-item:hover {
      background-color: #bdbdf5; }
      .wpsd-default-types-wrap .wpsd-default-type-item:hover img {
        opacity: 0.5; }
      .wpsd-default-types-wrap .wpsd-default-type-item:hover label {
        background-color: #ddf; }
    .wpsd-default-types-wrap .wpsd-default-type-item label {
      float: left;
      padding-bottom: 2px;
      width: 100%; }
    .wpsd-default-types-wrap .wpsd-default-type-item .wpsd-default-type-icon-wrap img {
      float: left;
      width: 100%; }
  .wpsd-default-types-wrap .wpsd-remove-button {
    font-size: 14px;
    right: 10px; }

.wpsd-type-wrap {
  background-color: #fff;
  box-sizing: border-box;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 100%; }

.wpsd-type-wrap strong {
  font-weight: bold; }

.wpsd-type-specification-field {
  background-color: #ddd;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  margin: 4px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 22px;
  position: relative;
  /* end &.wpsd-type-specification-global */ }
  .wpsd-type-specification-field.spec-active {
    background-color: #ddf; }
  .wpsd-type-specification-field.wpsd-type-specification-global {
    /* end &.wpsd-spec-locked { */ }
    .wpsd-type-specification-field.wpsd-type-specification-global.wpsd-spec-locked .wpsd-type-specification-field-values .wpsd-specification-field-option-wrap:nth-of-type(6) {
      display: block; }

.wpsd-type-specification-field-values {
  background: #fff;
  box-shadow: 0 -2px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid #333;
  box-sizing: border-box;
  display: none;
  margin-top: 4px;
  padding: 6px;
  padding-top: 10px;
  position: absolute;
  overflow: auto;
  width: 200px;
  z-index: 50; }

.wpsd-type-data-wrap {
  display: none;
  float: left;
  padding-top: 10px;
  width: 100%; }

.wpsd-type-specification-field-label {
  height: 20px;
  cursor: pointer; }

.wpsd-spec-group-no .wpsd-spec-group-fieldset legend {
  display: none; }
.wpsd-spec-group-no .action-add-specification-group, .wpsd-spec-group-no .action-remove-specification-group {
  display: none; }

/* chevrons */
.wpsd-toggle-button-wrap {
  float: left;
  position: relative;
  /* end .wpsd-toggle-wrap { */ }
  .wpsd-toggle-button-wrap .wpsd-toggle-wrap {
    float: left;
    height: 20px;
    /* end label */ }
    .wpsd-toggle-button-wrap .wpsd-toggle-wrap .wpsd-toggle-title {
      float: left;
      font-size: 12px;
      line-height: 17px;
      margin-left: 10px; }
    .wpsd-toggle-button-wrap .wpsd-toggle-wrap label {
      display: block;
      height: 10px;
      font-size: 14px;
      position: relative;
      /* The switch - the box around the slider */
      /* end &.wpsd-toggle { */ }
      .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle {
        display: inline-block;
        height: 17px;
        float: left;
        position: relative;
        width: 30px;
        /* Hide default HTML checkbox */
        /* The slider */
        /* end .slider */ }
        .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle:after {
          display: none; }
        .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle input {
          opacity: 0;
          width: 0;
          height: 0; }
        .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
          /* Rounded sliders */ }
          .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle .slider:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s; }
          .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle .slider.round {
            border-radius: 17px; }
          .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle .slider.round:before {
            border-radius: 50%; }
        .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle input:checked + .slider {
          background-color: #2196F3; }
        .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle input:focus + .slider {
          box-shadow: 0 0 1px #2196F3; }
        .wpsd-toggle-button-wrap .wpsd-toggle-wrap label.wpsd-toggle input:checked + .slider:before {
          -webkit-transform: translateX(13px);
          -ms-transform: translateX(13px);
          transform: translateX(13px); }

/* end .wpsd-toggle-section-wrap */
.wpsd-option-group-label {
  float: left;
  height: 20px;
  font-weight: 700;
  padding-bottom: 4px;
  position: relative;
  text-transform: uppercase;
  width: 100%; }

.wpsd-option-group.wpsd-option-group-open .wpsd-option-group-label {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px; }

.wpsd-option-group-wrap {
  /* display: none; */ }

.wpsd-option-group-no .wpsd-option-group-wrap .wpsd-type-data-buttons-wrap {
  display: none; }
  .wpsd-option-group-no .wpsd-option-group-wrap .wpsd-type-data-buttons-wrap.action-add-option {
    display: block; }
.wpsd-option-group-no .action-add-option-group {
  display: none; }
.wpsd-option-group-no .wpsd-option-group-wrap {
  display: block; }
.wpsd-option-group-no .wpsd-option-group .wpsd-option-group-label {
  display: none; }
.wpsd-option-group-no .wpsd-option-group .wpsd-option-sub-group {
  background: transparent;
  border: none;
  box-shadow: none; }
  .wpsd-option-group-no .wpsd-option-group .wpsd-option-sub-group .wpsd-option-sub-group-title {
    display: none; }

.wpsd-type-wrap label {
  float: left;
  position: relative;
  width: 100%; }
  .wpsd-type-wrap label:after {
    font-size: 12px;
    border-color: #777;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    right: 0.15em;
    position: absolute;
    top: 6px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.45em; }
.wpsd-type-wrap .dashicons {
  margin-right: 6px; }

.wpsd-type-specification-field.wpsd-field-disabled {
  background-color: #ffb;
  text-decoration: line-through;
  z-index: 500; }

.wpsd-type-data-buttons-wrap {
  float: left;
  width: 100%; }

.wpsd-type-data-buttons-no-width-wrap {
  float: left; }

.wpsd-type-icon-wrap {
  float: right; }

.wpsd-type-icon {
  float: left;
  margin-right: 10px;
  max-width: 125px;
  max-height: 38px; }

.wpsd-type-data-buttons-wrap input[type=text] {
  float: right;
  margin: 4px; }

.wpsd-type-data-button {
  background-color: #ddd;
  box-sizing: border-box;
  cursor: pointer;
  float: right;
  font-size: 12px;
  font-weight: 700;
  margin: 4px;
  min-width: 120px;
  max-width: 340px;
  padding: 6px;
  text-align: center;
  text-transform: uppercase; }

.wpsd-type-data-button:hover {
  background-color: #333;
  color: #fff; }

.wpsd-type-wrap fieldset {
  background-color: #efefef;
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: left;
  margin-top: 20px;
  padding: 10px;
  width: 100%; }
  .wpsd-type-wrap fieldset fieldset {
    background-color: #fff; }

.wpsd-option-group {
  background-color: #e8e8f7;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px; }

.wpsd-option-sub-group {
  background-color: #fff;
  border: dashed 1px #aaa;
  box-shadow: #ddd 2px 2px 4px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%; }

.wpsd-option-subgroup-items-wrap {
  float: left;
  width: 100%; }

.wpsd-option-sub-group-title {
  background-color: #ddd;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  padding: 6px;
  position: relative;
  width: 100%; }

.wpsd-option-tag {
  background-color: #ddd;
  box-sizing: border-box;
  cursor: grabbing;
  float: left;
  font-size: 14px;
  margin: 4px;
  padding: 1px;
  padding-left: 6px;
  padding-right: 22px;
  position: relative; }
  .wpsd-option-tag .wpsd-remove-button {
    line-height: 7px; }

.wpsd-remove-button {
  background-color: #b00;
  border: solid 1px #333;
  box-sizing: border-box;
  color: #fff;
  content: "x";
  cursor: pointer;
  float: right;
  font-weight: 400;
  height: 12px;
  line-height: 8px;
  padding-top: 0px;
  position: absolute;
  right: 4px;
  text-align: center;
  top: 5px;
  width: 12px;
  z-index: 10; }

.wpsd-clear {
  clear: both; }

.wpsd-fieldset-closed {
  cursor: pointer; }

.wpsd-fieldset-closed:before {
  content: "+";
  margin: 4px; }

.wpsd-fieldset-closed.wpsd-fieldset-open:before {
  content: " - "; }

.wpsd-fieldset-content {
  display: none;
  position: relative; }

.wpsd-type-specification-field-values-label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 4px; }

.wpsd-type-specification-field-values .wpsd-type-data-button {
  float: none; }

.wpsd-invalid, input[type=text].wpsd-invalid {
  background-color: #eaa; }

.wpsd-valid, input[type=text].wpsd-valid {
  background-color: #aea; }

.wpsd-type-wrap-SLUG {
  display: none; }

.wpsd-spec-group-fieldset-slug {
  display: none; }

.wpsd-type-specification-SLUG-TYPE-SLUG-GROUP-slug-specification {
  display: none; }

.wpsd-type-specification-field-slug-item {
  /*	display: none;*/ }

.wpsd-option-group-slug {
  display: none; }

.wpsd-option-tag-slug-type-slug-group-slug-sub-group-slug {
  display: none; }

.wpsd-option-sub-group-slug-type-slug-group-slug {
  display: none; }

.wpsd-option-sub-group-slug {
  display: none; }

.wpsd-option-tag-slug {
  display: none; }

.wpsd-specification-restrict, .wpsd-specification-field-option-show-ui {
  float: left;
  width: 100%; }

.wpsd-specification-field-option-wrap {
  float: left;
  margin-bottom: 14px;
  width: 100%; }
  .wpsd-specification-field-option-wrap h4 {
    margin-bottom: 4px;
    margin-top: 4px; }
  .wpsd-specification-field-option-wrap .wpsd-specification-plural {
    display: none;
    float: left;
    margin-bottom: 10px;
    width: 100%; }
    .wpsd-specification-field-option-wrap .wpsd-specification-plural.show {
      display: block; }

.wpsd-tool-tip {
  background: #ff0000;
  border-radius: .4em;
  box-sizing: border-box;
  color: #fff;
  display: none;
  font-size: 16px;
  font-weight: 700;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  padding: 6px;
  position: absolute;
  text-align: center;
  z-index: 100; }

.wpsd-tool-tip label {
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  padding: 6px;
  text-transform: uppercase;
  width: 100%; }

.wpsd-tool-tip span {
  box-sizing: border-box;
  display: block;
  padding: 6px;
  width: 100%; }

.wpsd-tool-tip:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #ff0000;
  border-top: 0;
  margin-left: -20px;
  margin-top: -20px; }

.wpsd-admin-lightbox {
  background-color: rgba(32, 30, 30, 0.81);
  bottom: 0;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500000; }
  .wpsd-admin-lightbox.active-lightbox {
    display: block; }
    .wpsd-admin-lightbox.active-lightbox .msg {
      background-color: #ffff55;
      font-size: 26px;
      font-weight: 700;
      height: auto;
      line-height: 34px;
      margin-left: calc( 50% - 150px );
      margin-right: auto;
      max-width: 400px;
      padding: 20px;
      padding-right: 40px;
      position: absolute;
      top: calc( 50% - 40px );
      text-align: center; }
      .wpsd-admin-lightbox.active-lightbox .msg i {
        float: left;
        margin-top: 8px; }

.wpsd-edit-field.saving, .wpsd-edit-sold.saving {
  background-color: #ffa; }

.wpsd-edit-field.saved, .wpsd-edit-sold.saved {
  background-color: #afa; }

.wpsd-edit-field.failed, .wpsd-edit-sold.failed {
  background-color: #faa; }

/*
Start Car Demon admin tab CSS
*/
.wpsd-cd-installed {
  color: #0a0;
  font-size: 16px;
  font-weight: 700;
  padding: 10px; }

.wpsd-cd-installed-content {
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  text-align: center; }

.wpsd-cd-status-table {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 10px;
  width: 100%; }
  .wpsd-cd-status-table tr:nth-of-type(odd) {
    background-color: #eee; }
  .wpsd-cd-status-table th {
    background-color: #eee;
    font-size: 18px;
    padding: 6px; }
  .wpsd-cd-status-table td {
    padding: 4px;
    text-align: left;
    width: 50%; }
    .wpsd-cd-status-table td:nth-of-type(3) {
      text-align: center; }

.wpsd-cd-import-button {
  background-color: #afa;
  border: 1px solid #ddd;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 10px;
  padding-right: 16px;
  width: 100%; }

.wpsd-cd-import-message {
  color: #00b;
  float: left;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  text-align: left;
  width: 100%; }

.wpsd-cd-options-item {
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%; }
  .wpsd-cd-options-item.wpsd-cd-options-item-box {
    border: 1px dashed #333;
    padding: 10px;
    text-align: center;
    width: calc(100% - 20px); }
  .wpsd-cd-options-item label {
    float: left;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%; }
  .wpsd-cd-options-item span {
    float: left;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 100%; }
    .wpsd-cd-options-item span input[type=text] {
      max-width: 300px;
      width: 100%; }
  .wpsd-cd-options-item small {
    float: left;
    text-align: left;
    width: 100%; }

.wpsd-cd-options label {
  text-transform: capitalize; }
.wpsd-cd-options textarea {
  height: 100px;
  max-width: 600px;
  width: 100%; }
  .wpsd-cd-options textarea:disabled {
    color: #555; }

.wpsd-cd-specs label {
  text-transform: capitalize; }
.wpsd-cd-specs textarea {
  height: 100px;
  max-width: 600px;
  width: 100%; }
  .wpsd-cd-specs textarea:disabled {
    color: #555; }

.wpsd-cd-note {
  border: 1px dashed #333;
  padding: 10px;
  text-align: left;
  width: calc(100% - 20px); }

.wpsd-cd-group-wrap {
  display: none; }

.wpsd-cd-show {
  background-color: #afa;
  border: 1px solid #ddd;
  cursor: pointer;
  float: right;
  font-weight: 700;
  padding: 10px; }

.wpsd-cd-agree-wrap {
  padding: 4px; }
  .wpsd-cd-agree-wrap.wpsd-no-agree {
    background-color: #b00;
    color: #fff; }
    .wpsd-cd-agree-wrap.wpsd-no-agree .wpsd-cd-agree {
      background-color: #fff; }

.wpsd-calc-admin-form label {
  float: left;
  padding-bottom: 2px;
  padding-top: 6px;
  width: 100%; }
.wpsd-calc-admin-form .wpsd_wide {
  box-sizing: border-box;
  float: left;
  padding: 4px;
  width: 100%; }
.wpsd-calc-admin-form .calc_disclaimer {
  height: 75px;
  width: 100%; }

.wpsd-calc-block-field {
  max-width: 90%; }

.wpsd-forms-tab-wrap {
  float: left;
  width: 100%; }
  .wpsd-forms-tab-wrap .wpsd-forms-tab {
    background-color: #bddae1;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    margin: 4px;
    padding: 8px; }
    .wpsd-forms-tab-wrap .wpsd-forms-tab.active {
      background-color: #c9edb7; }

.wpsd-forms-tab-content-wrap .wpsd-forms-tab-content {
  display: none;
  background-color: #fff;
  box-sizing: border-box;
  float: left;
  margin: 4px;
  max-width: 1024px;
  padding: 12px;
  width: calc(100% - 8px); }
  .wpsd-forms-tab-content-wrap .wpsd-forms-tab-content h2 {
    margin-bottom: 10px;
    margin-top: 10px; }
  .wpsd-forms-tab-content-wrap .wpsd-forms-tab-content h3 {
    text-align: center; }
  .wpsd-forms-tab-content-wrap .wpsd-forms-tab-content.active {
    display: block; }
  .wpsd-forms-tab-content-wrap .wpsd-forms-tab-content .wpsd-question {
    color: #89b9c5;
    display: block;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    padding: 10px;
    text-align: center;
    width: calc(100% - 20px); }
  .wpsd-forms-tab-content-wrap .wpsd-forms-tab-content pre {
    background-color: #eee;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 10px;
    overflow: auto;
    padding: 8px;
    white-space: nowrap; }

.wpsd-forms-tab-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: fit-content; }
