@import 'front-end/nav';
@import 'front-end/searched-by';
@import 'front-end/srp';
@import 'front-end/srp-item';
@import 'front-end/vdp-item';
@import 'front-end/calculator';
@import 'front-end/history-report';

#wpsd-inventory-wrap {
	clear: both;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 100%;
	
	&.wpsd-full-width {
		max-width: 100%;
	}
	&.wpsd-narrow-width {
		max-width: 600px;
	}
}
.wpsd-clear {
	clear: both;
}
.sorry {
	color: #f00;
	font-size: 16px;
	font-weight: bold;
}


.wpsd-lightbox {
    background-color: #000;
    height: 100%;
    min-height: 1000px;
    opacity: 0.7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

/*
Block controls
*/
.wpsd-block-wrap label {
    text-transform: capitalize;
}
.wpsd-block-field label {
    float: left;
    text-transform: capitalize;
    width: 100%;
    
    &.components-checkbox-control__label {
        float: none;
        width: auto;
    }
}

.wpsd-block-settings {
	
	.components-panel__row {
		
        &.wpsd-block-field-map {
            display: none;
        }
        
		.components-base-control {
			width: 100%;
		}
	}
    
    .wpsd-block-field-order {
        
        li {
            background: #eee;
            border: 1px solid #333;
            cursor: pointer;
            float: left;
            font-size: 16px;
            padding: 6px;
            text-align: center;
            width: 100%;
        }
    }
    
    .wpsd-reorder-fields-tip {
        font-size: 14px;
    }
}
.wpsd-block-list-settings {

	.components-panel__row {
		
		.components-base-control {
			width: 100%;
		}
	}
}