#wpsd-container-wrap {
  position: relative; }
  #wpsd-container-wrap .wp-pagenavi a.last {
    display: none; }
  #wpsd-container-wrap .wp-pagenavi a.first {
    display: none; }
  #wpsd-container-wrap .wp-pagenavi .pages {
    display: none; }

.wpsd-navigation-wrap {
  float: left;
  max-width: 400px;
  width: 100%; }

.wpsd-navigation {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */
  /* end css reset */ }
  .wpsd-navigation div, .wpsd-navigation span, .wpsd-navigation applet, .wpsd-navigation object, .wpsd-navigation iframe,
  .wpsd-navigation h1, .wpsd-navigation h2, .wpsd-navigation h3, .wpsd-navigation h4, .wpsd-navigation h5, .wpsd-navigation h6, .wpsd-navigation p, .wpsd-navigation blockquote, .wpsd-navigation pre,
  .wpsd-navigation a, .wpsd-navigation abbr, .wpsd-navigation acronym, .wpsd-navigation address, .wpsd-navigation big, .wpsd-navigation cite, .wpsd-navigation code,
  .wpsd-navigation del, .wpsd-navigation dfn, .wpsd-navigation em, .wpsd-navigation img, .wpsd-navigation ins, .wpsd-navigation kbd, .wpsd-navigation q, .wpsd-navigation s, .wpsd-navigation samp,
  .wpsd-navigation small, .wpsd-navigation strike, .wpsd-navigation strong, .wpsd-navigation sub, .wpsd-navigation sup, .wpsd-navigation tt, .wpsd-navigation var,
  .wpsd-navigation b, .wpsd-navigation u, .wpsd-navigation i, .wpsd-navigation center,
  .wpsd-navigation dl, .wpsd-navigation dt, .wpsd-navigation dd, .wpsd-navigation ol, .wpsd-navigation ul, .wpsd-navigation li,
  .wpsd-navigation fieldset, .wpsd-navigation form, .wpsd-navigation label, .wpsd-navigation legend,
  .wpsd-navigation table, .wpsd-navigation caption, .wpsd-navigation tbody, .wpsd-navigation tfoot, .wpsd-navigation thead, .wpsd-navigation tr, .wpsd-navigation th, .wpsd-navigation td,
  .wpsd-navigation article, .wpsd-navigation aside, .wpsd-navigation canvas, .wpsd-navigation details, .wpsd-navigation embed,
  .wpsd-navigation figure, .wpsd-navigation figcaption, .wpsd-navigation footer, .wpsd-navigation header, .wpsd-navigation hgroup,
  .wpsd-navigation menu, .wpsd-navigation nav, .wpsd-navigation output, .wpsd-navigation ruby, .wpsd-navigation section, .wpsd-navigation summary,
  .wpsd-navigation time, .wpsd-navigation mark, .wpsd-navigation audio, .wpsd-navigation video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .wpsd-navigation article, .wpsd-navigation aside, .wpsd-navigation details, .wpsd-navigation figcaption, .wpsd-navigation figure,
  .wpsd-navigation footer, .wpsd-navigation header, .wpsd-navigation hgroup, .wpsd-navigation menu, .wpsd-navigation nav, .wpsd-navigation section {
    display: block; }
  .wpsd-navigation body {
    line-height: 1; }
  .wpsd-navigation ol, .wpsd-navigation ul {
    list-style: none; }
  .wpsd-navigation blockquote, .wpsd-navigation q {
    quotes: none; }
  .wpsd-navigation blockquote:before, .wpsd-navigation blockquote:after,
  .wpsd-navigation q:before, .wpsd-navigation q:after {
    content: '';
    content: none; }
  .wpsd-navigation table {
    border-collapse: collapse;
    border-spacing: 0; }
  .wpsd-navigation li {
    display: inline; }
    .wpsd-navigation li a {
      color: #333;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #333;
      cursor: pointer;
      padding: 4px;
      margin: 2px; }
      .wpsd-navigation li a:hover {
        color: #333;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #333;
        cursor: pointer;
        padding: 4px;
        margin: 2px;
        background-color: #ccc; }
  .wpsd-navigation li.active a {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    padding: 4px;
    margin: 2px;
    background-color: #ccc; }
  .wpsd-navigation li.disabled {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    padding: 4px;
    margin: 2px; }

/* CSS Document */
.wpsd-sort-form-wrap {
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22px;
  max-width: 300px;
  width: 100%;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */ }
  .wpsd-sort-form-wrap div, .wpsd-sort-form-wrap span, .wpsd-sort-form-wrap applet, .wpsd-sort-form-wrap object, .wpsd-sort-form-wrap iframe,
  .wpsd-sort-form-wrap h1, .wpsd-sort-form-wrap h2, .wpsd-sort-form-wrap h3, .wpsd-sort-form-wrap h4, .wpsd-sort-form-wrap h5, .wpsd-sort-form-wrap h6, .wpsd-sort-form-wrap p, .wpsd-sort-form-wrap blockquote, .wpsd-sort-form-wrap pre,
  .wpsd-sort-form-wrap a, .wpsd-sort-form-wrap abbr, .wpsd-sort-form-wrap acronym, .wpsd-sort-form-wrap address, .wpsd-sort-form-wrap big, .wpsd-sort-form-wrap cite, .wpsd-sort-form-wrap code,
  .wpsd-sort-form-wrap del, .wpsd-sort-form-wrap dfn, .wpsd-sort-form-wrap em, .wpsd-sort-form-wrap img, .wpsd-sort-form-wrap ins, .wpsd-sort-form-wrap kbd, .wpsd-sort-form-wrap q, .wpsd-sort-form-wrap s, .wpsd-sort-form-wrap samp,
  .wpsd-sort-form-wrap small, .wpsd-sort-form-wrap strike, .wpsd-sort-form-wrap strong, .wpsd-sort-form-wrap sub, .wpsd-sort-form-wrap sup, .wpsd-sort-form-wrap tt, .wpsd-sort-form-wrap var,
  .wpsd-sort-form-wrap b, .wpsd-sort-form-wrap u, .wpsd-sort-form-wrap i, .wpsd-sort-form-wrap center,
  .wpsd-sort-form-wrap dl, .wpsd-sort-form-wrap dt, .wpsd-sort-form-wrap dd, .wpsd-sort-form-wrap ol, .wpsd-sort-form-wrap ul, .wpsd-sort-form-wrap li,
  .wpsd-sort-form-wrap fieldset, .wpsd-sort-form-wrap form, .wpsd-sort-form-wrap label, .wpsd-sort-form-wrap legend,
  .wpsd-sort-form-wrap table, .wpsd-sort-form-wrap caption, .wpsd-sort-form-wrap tbody, .wpsd-sort-form-wrap tfoot, .wpsd-sort-form-wrap thead, .wpsd-sort-form-wrap tr, .wpsd-sort-form-wrap th, .wpsd-sort-form-wrap td,
  .wpsd-sort-form-wrap article, .wpsd-sort-form-wrap aside, .wpsd-sort-form-wrap canvas, .wpsd-sort-form-wrap details, .wpsd-sort-form-wrap embed,
  .wpsd-sort-form-wrap figure, .wpsd-sort-form-wrap figcaption, .wpsd-sort-form-wrap footer, .wpsd-sort-form-wrap header, .wpsd-sort-form-wrap hgroup,
  .wpsd-sort-form-wrap menu, .wpsd-sort-form-wrap nav, .wpsd-sort-form-wrap output, .wpsd-sort-form-wrap ruby, .wpsd-sort-form-wrap section, .wpsd-sort-form-wrap summary,
  .wpsd-sort-form-wrap time, .wpsd-sort-form-wrap mark, .wpsd-sort-form-wrap audio, .wpsd-sort-form-wrap video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-sort-form-wrap article, .wpsd-sort-form-wrap aside, .wpsd-sort-form-wrap details, .wpsd-sort-form-wrap figcaption, .wpsd-sort-form-wrap figure,
  .wpsd-sort-form-wrap footer, .wpsd-sort-form-wrap header, .wpsd-sort-form-wrap hgroup, .wpsd-sort-form-wrap menu, .wpsd-sort-form-wrap nav, .wpsd-sort-form-wrap section {
    display: block; }
  .wpsd-sort-form-wrap body {
    line-height: 1; }
  .wpsd-sort-form-wrap ol, .wpsd-sort-form-wrap ul {
    list-style: none; }
  .wpsd-sort-form-wrap blockquote, .wpsd-sort-form-wrap q {
    quotes: none; }
  .wpsd-sort-form-wrap blockquote:before, .wpsd-sort-form-wrap blockquote:after,
  .wpsd-sort-form-wrap q:before, .wpsd-sort-form-wrap q:after {
    content: '';
    content: none; }
  .wpsd-sort-form-wrap table {
    border-collapse: collapse;
    border-spacing: 0; }

/* CSS Document */
.wpsd-search-by-wrap {
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  max-width: 300px;
  width: 100%;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */ }
  .wpsd-search-by-wrap div, .wpsd-search-by-wrap span, .wpsd-search-by-wrap applet, .wpsd-search-by-wrap object, .wpsd-search-by-wrap iframe,
  .wpsd-search-by-wrap h1, .wpsd-search-by-wrap h2, .wpsd-search-by-wrap h3, .wpsd-search-by-wrap h4, .wpsd-search-by-wrap h5, .wpsd-search-by-wrap h6, .wpsd-search-by-wrap p, .wpsd-search-by-wrap blockquote, .wpsd-search-by-wrap pre,
  .wpsd-search-by-wrap a, .wpsd-search-by-wrap abbr, .wpsd-search-by-wrap acronym, .wpsd-search-by-wrap address, .wpsd-search-by-wrap big, .wpsd-search-by-wrap cite, .wpsd-search-by-wrap code,
  .wpsd-search-by-wrap del, .wpsd-search-by-wrap dfn, .wpsd-search-by-wrap em, .wpsd-search-by-wrap img, .wpsd-search-by-wrap ins, .wpsd-search-by-wrap kbd, .wpsd-search-by-wrap q, .wpsd-search-by-wrap s, .wpsd-search-by-wrap samp,
  .wpsd-search-by-wrap small, .wpsd-search-by-wrap strike, .wpsd-search-by-wrap strong, .wpsd-search-by-wrap sub, .wpsd-search-by-wrap sup, .wpsd-search-by-wrap tt, .wpsd-search-by-wrap var,
  .wpsd-search-by-wrap b, .wpsd-search-by-wrap u, .wpsd-search-by-wrap i, .wpsd-search-by-wrap center,
  .wpsd-search-by-wrap dl, .wpsd-search-by-wrap dt, .wpsd-search-by-wrap dd, .wpsd-search-by-wrap ol, .wpsd-search-by-wrap ul, .wpsd-search-by-wrap li,
  .wpsd-search-by-wrap fieldset, .wpsd-search-by-wrap form, .wpsd-search-by-wrap label, .wpsd-search-by-wrap legend,
  .wpsd-search-by-wrap table, .wpsd-search-by-wrap caption, .wpsd-search-by-wrap tbody, .wpsd-search-by-wrap tfoot, .wpsd-search-by-wrap thead, .wpsd-search-by-wrap tr, .wpsd-search-by-wrap th, .wpsd-search-by-wrap td,
  .wpsd-search-by-wrap article, .wpsd-search-by-wrap aside, .wpsd-search-by-wrap canvas, .wpsd-search-by-wrap details, .wpsd-search-by-wrap embed,
  .wpsd-search-by-wrap figure, .wpsd-search-by-wrap figcaption, .wpsd-search-by-wrap footer, .wpsd-search-by-wrap header, .wpsd-search-by-wrap hgroup,
  .wpsd-search-by-wrap menu, .wpsd-search-by-wrap nav, .wpsd-search-by-wrap output, .wpsd-search-by-wrap ruby, .wpsd-search-by-wrap section, .wpsd-search-by-wrap summary,
  .wpsd-search-by-wrap time, .wpsd-search-by-wrap mark, .wpsd-search-by-wrap audio, .wpsd-search-by-wrap video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-search-by-wrap article, .wpsd-search-by-wrap aside, .wpsd-search-by-wrap details, .wpsd-search-by-wrap figcaption, .wpsd-search-by-wrap figure,
  .wpsd-search-by-wrap footer, .wpsd-search-by-wrap header, .wpsd-search-by-wrap hgroup, .wpsd-search-by-wrap menu, .wpsd-search-by-wrap nav, .wpsd-search-by-wrap section {
    display: block; }
  .wpsd-search-by-wrap body {
    line-height: 1; }
  .wpsd-search-by-wrap ol, .wpsd-search-by-wrap ul {
    list-style: none; }
  .wpsd-search-by-wrap blockquote, .wpsd-search-by-wrap q {
    quotes: none; }
  .wpsd-search-by-wrap blockquote:before, .wpsd-search-by-wrap blockquote:after,
  .wpsd-search-by-wrap q:before, .wpsd-search-by-wrap q:after {
    content: '';
    content: none; }
  .wpsd-search-by-wrap table {
    border-collapse: collapse;
    border-spacing: 0; }
  .wpsd-search-by-wrap .wpsd-search-by-item {
    background-color: #ccc;
    float: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin: 4px;
    position: relative; }
    .wpsd-search-by-wrap .wpsd-search-by-item .wpsd-search-by-item-remove {
      background-color: #b00;
      color: #fff;
      cursor: pointer;
      height: 18px;
      float: left;
      font-size: 10px;
      font-weight: 700;
      line-height: 10px;
      padding: 4px;
      text-align: center;
      width: 18px; }
    .wpsd-search-by-wrap .wpsd-search-by-item .wpsd-search-by-item-title {
      float: left;
      line-height: 14px;
      padding: 2px;
      padding-left: 6px;
      padding-right: 6px; }

.srp-results-found, .wpsd-no-results-msg-wrap {
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 6px;
  padding-top: 6px;
  max-width: 300px;
  width: 100%;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */ }
  .srp-results-found div, .srp-results-found span, .srp-results-found applet, .srp-results-found object, .srp-results-found iframe,
  .srp-results-found h1, .srp-results-found h2, .srp-results-found h3, .srp-results-found h4, .srp-results-found h5, .srp-results-found h6, .srp-results-found p, .srp-results-found blockquote, .srp-results-found pre,
  .srp-results-found a, .srp-results-found abbr, .srp-results-found acronym, .srp-results-found address, .srp-results-found big, .srp-results-found cite, .srp-results-found code,
  .srp-results-found del, .srp-results-found dfn, .srp-results-found em, .srp-results-found img, .srp-results-found ins, .srp-results-found kbd, .srp-results-found q, .srp-results-found s, .srp-results-found samp,
  .srp-results-found small, .srp-results-found strike, .srp-results-found strong, .srp-results-found sub, .srp-results-found sup, .srp-results-found tt, .srp-results-found var,
  .srp-results-found b, .srp-results-found u, .srp-results-found i, .srp-results-found center,
  .srp-results-found dl, .srp-results-found dt, .srp-results-found dd, .srp-results-found ol, .srp-results-found ul, .srp-results-found li,
  .srp-results-found fieldset, .srp-results-found form, .srp-results-found label, .srp-results-found legend,
  .srp-results-found table, .srp-results-found caption, .srp-results-found tbody, .srp-results-found tfoot, .srp-results-found thead, .srp-results-found tr, .srp-results-found th, .srp-results-found td,
  .srp-results-found article, .srp-results-found aside, .srp-results-found canvas, .srp-results-found details, .srp-results-found embed,
  .srp-results-found figure, .srp-results-found figcaption, .srp-results-found footer, .srp-results-found header, .srp-results-found hgroup,
  .srp-results-found menu, .srp-results-found nav, .srp-results-found output, .srp-results-found ruby, .srp-results-found section, .srp-results-found summary,
  .srp-results-found time, .srp-results-found mark, .srp-results-found audio, .srp-results-found video, .wpsd-no-results-msg-wrap div, .wpsd-no-results-msg-wrap span, .wpsd-no-results-msg-wrap applet, .wpsd-no-results-msg-wrap object, .wpsd-no-results-msg-wrap iframe,
  .wpsd-no-results-msg-wrap h1, .wpsd-no-results-msg-wrap h2, .wpsd-no-results-msg-wrap h3, .wpsd-no-results-msg-wrap h4, .wpsd-no-results-msg-wrap h5, .wpsd-no-results-msg-wrap h6, .wpsd-no-results-msg-wrap p, .wpsd-no-results-msg-wrap blockquote, .wpsd-no-results-msg-wrap pre,
  .wpsd-no-results-msg-wrap a, .wpsd-no-results-msg-wrap abbr, .wpsd-no-results-msg-wrap acronym, .wpsd-no-results-msg-wrap address, .wpsd-no-results-msg-wrap big, .wpsd-no-results-msg-wrap cite, .wpsd-no-results-msg-wrap code,
  .wpsd-no-results-msg-wrap del, .wpsd-no-results-msg-wrap dfn, .wpsd-no-results-msg-wrap em, .wpsd-no-results-msg-wrap img, .wpsd-no-results-msg-wrap ins, .wpsd-no-results-msg-wrap kbd, .wpsd-no-results-msg-wrap q, .wpsd-no-results-msg-wrap s, .wpsd-no-results-msg-wrap samp,
  .wpsd-no-results-msg-wrap small, .wpsd-no-results-msg-wrap strike, .wpsd-no-results-msg-wrap strong, .wpsd-no-results-msg-wrap sub, .wpsd-no-results-msg-wrap sup, .wpsd-no-results-msg-wrap tt, .wpsd-no-results-msg-wrap var,
  .wpsd-no-results-msg-wrap b, .wpsd-no-results-msg-wrap u, .wpsd-no-results-msg-wrap i, .wpsd-no-results-msg-wrap center,
  .wpsd-no-results-msg-wrap dl, .wpsd-no-results-msg-wrap dt, .wpsd-no-results-msg-wrap dd, .wpsd-no-results-msg-wrap ol, .wpsd-no-results-msg-wrap ul, .wpsd-no-results-msg-wrap li,
  .wpsd-no-results-msg-wrap fieldset, .wpsd-no-results-msg-wrap form, .wpsd-no-results-msg-wrap label, .wpsd-no-results-msg-wrap legend,
  .wpsd-no-results-msg-wrap table, .wpsd-no-results-msg-wrap caption, .wpsd-no-results-msg-wrap tbody, .wpsd-no-results-msg-wrap tfoot, .wpsd-no-results-msg-wrap thead, .wpsd-no-results-msg-wrap tr, .wpsd-no-results-msg-wrap th, .wpsd-no-results-msg-wrap td,
  .wpsd-no-results-msg-wrap article, .wpsd-no-results-msg-wrap aside, .wpsd-no-results-msg-wrap canvas, .wpsd-no-results-msg-wrap details, .wpsd-no-results-msg-wrap embed,
  .wpsd-no-results-msg-wrap figure, .wpsd-no-results-msg-wrap figcaption, .wpsd-no-results-msg-wrap footer, .wpsd-no-results-msg-wrap header, .wpsd-no-results-msg-wrap hgroup,
  .wpsd-no-results-msg-wrap menu, .wpsd-no-results-msg-wrap nav, .wpsd-no-results-msg-wrap output, .wpsd-no-results-msg-wrap ruby, .wpsd-no-results-msg-wrap section, .wpsd-no-results-msg-wrap summary,
  .wpsd-no-results-msg-wrap time, .wpsd-no-results-msg-wrap mark, .wpsd-no-results-msg-wrap audio, .wpsd-no-results-msg-wrap video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .srp-results-found article, .srp-results-found aside, .srp-results-found details, .srp-results-found figcaption, .srp-results-found figure,
  .srp-results-found footer, .srp-results-found header, .srp-results-found hgroup, .srp-results-found menu, .srp-results-found nav, .srp-results-found section, .wpsd-no-results-msg-wrap article, .wpsd-no-results-msg-wrap aside, .wpsd-no-results-msg-wrap details, .wpsd-no-results-msg-wrap figcaption, .wpsd-no-results-msg-wrap figure,
  .wpsd-no-results-msg-wrap footer, .wpsd-no-results-msg-wrap header, .wpsd-no-results-msg-wrap hgroup, .wpsd-no-results-msg-wrap menu, .wpsd-no-results-msg-wrap nav, .wpsd-no-results-msg-wrap section {
    display: block; }
  .srp-results-found body, .wpsd-no-results-msg-wrap body {
    line-height: 1; }
  .srp-results-found ol, .srp-results-found ul, .wpsd-no-results-msg-wrap ol, .wpsd-no-results-msg-wrap ul {
    list-style: none; }
  .srp-results-found blockquote, .srp-results-found q, .wpsd-no-results-msg-wrap blockquote, .wpsd-no-results-msg-wrap q {
    quotes: none; }
  .srp-results-found blockquote:before, .srp-results-found blockquote:after,
  .srp-results-found q:before, .srp-results-found q:after, .wpsd-no-results-msg-wrap blockquote:before, .wpsd-no-results-msg-wrap blockquote:after,
  .wpsd-no-results-msg-wrap q:before, .wpsd-no-results-msg-wrap q:after {
    content: '';
    content: none; }
  .srp-results-found table, .wpsd-no-results-msg-wrap table {
    border-collapse: collapse;
    border-spacing: 0; }

.wpsd-no-results-msg-wrap {
  max-width: 100%; }

.wpsd-switch-srp-style-wrap {
  cursor: pointer;
  float: right;
  padding: 10px;
  padding-right: 0px; }
  .wpsd-switch-srp-style-wrap .wpsd-switch-srp-style-item {
    background-color: transparent;
    float: left;
    margin: 1px; }
    .wpsd-switch-srp-style-wrap .wpsd-switch-srp-style-item.active {
      background-color: #ccf; }
    .wpsd-switch-srp-style-wrap .wpsd-switch-srp-style-item:hover {
      background-color: #cfc; }

.wpsd-load-more-wrap {
  float: left;
  width: 100%; }
  .wpsd-load-more-wrap .wpsd-load-more {
    margin-left: auto;
    margin-right: auto;
    max-width: 220px !important;
    width: 100%; }

/* CSS Document */
/* CSS Document */
@media all and (max-width: 575px) {
  .srp-item.srp-item-one.grid {
    max-width: 100% !important; }
    .srp-item.srp-item-one.grid .srp-main-photo-wrap .srp-main-photo {
      height: auto;
      max-height: initial;
      max-width: 100% !important; }
    .srp-item.srp-item-one.grid .col {
      max-width: 100% !important; }
  .srp-item.srp-item-one .srp-main-photo-wrap .srp-main-photo {
    max-height: initial !important;
    max-width: 100% !important; }
  .srp-item.srp-item-one .col {
    max-width: 100% !important; } }
/* CSS Document */
@media all and (min-width: 576px) and (max-width: 768px) {
  .srp-item {
    /* end &.srp-item-one { */ }
    .srp-item.srp-item-one.grid {
      max-width: 100% !important; }
      .srp-item.srp-item-one.grid .srp-main-photo-wrap .srp-main-photo {
        max-width: 100% !important; }
      .srp-item.srp-item-one.grid .col {
        max-width: 100% !important; }
    .srp-item.srp-item-one .col {
      max-width: 182px !important; }
    .srp-item.srp-item-one .srp-main-photo-wrap .srp-main-photo {
      max-width: 176px !important; } }
/* CSS Document */
/* CSS Document */
.srp-item {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */
  /* end css reset */
  /* end &.srp-item-one { */ }
  .srp-item div, .srp-item span, .srp-item applet, .srp-item object, .srp-item iframe,
  .srp-item h1, .srp-item h2, .srp-item h3, .srp-item h4, .srp-item h5, .srp-item h6, .srp-item p, .srp-item blockquote, .srp-item pre,
  .srp-item a, .srp-item abbr, .srp-item acronym, .srp-item address, .srp-item big, .srp-item cite, .srp-item code,
  .srp-item del, .srp-item dfn, .srp-item em, .srp-item img, .srp-item ins, .srp-item kbd, .srp-item q, .srp-item s, .srp-item samp,
  .srp-item small, .srp-item strike, .srp-item strong, .srp-item sub, .srp-item sup, .srp-item tt, .srp-item var,
  .srp-item b, .srp-item u, .srp-item center,
  .srp-item dl, .srp-item dt, .srp-item dd, .srp-item ol, .srp-item ul, .srp-item li,
  .srp-item fieldset, .srp-item form, .srp-item label, .srp-item legend,
  .srp-item table, .srp-item caption, .srp-item tbody, .srp-item tfoot, .srp-item thead, .srp-item tr, .srp-item th, .srp-item td,
  .srp-item article, .srp-item aside, .srp-item canvas, .srp-item details, .srp-item embed,
  .srp-item figure, .srp-item figcaption, .srp-item footer, .srp-item header, .srp-item hgroup,
  .srp-item menu, .srp-item nav, .srp-item output, .srp-item ruby, .srp-item section, .srp-item summary,
  .srp-item time, .srp-item mark, .srp-item audio, .srp-item video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .srp-item i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none; }
  .srp-item article, .srp-item aside, .srp-item details, .srp-item figcaption, .srp-item figure,
  .srp-item footer, .srp-item header, .srp-item hgroup, .srp-item menu, .srp-item nav, .srp-item section {
    display: block; }
  .srp-item body {
    line-height: 1; }
  .srp-item ol, .srp-item ul {
    list-style: none; }
  .srp-item blockquote, .srp-item q {
    quotes: none; }
  .srp-item blockquote:before, .srp-item blockquote:after,
  .srp-item q:before, .srp-item q:after {
    content: '';
    content: none; }
  .srp-item table {
    border-collapse: collapse;
    border-spacing: 0; }
  .srp-item.srp-item-one {
    background-color: #fff;
    border-bottom: 1px dashed #333;
    float: left;
    margin-bottom: 8px; }
    .srp-item.srp-item-one .srp-main-photo-wrap {
      float: left; }
      .srp-item.srp-item-one .srp-main-photo-wrap .srp-main-photo {
        max-width: 184px;
        max-height: 120px;
        width: 100%; }
    .srp-item.srp-item-one .srp-title {
      font-size: 18px;
      line-height: 20px; }
    .srp-item.srp-item-one .col {
      float: left;
      width: 100%; }
    .srp-item.srp-item-one .srp-field {
      float: left;
      padding: 4px;
      width: calc(100% - 8px); }
      .srp-item.srp-item-one .srp-field .srp-field-title {
        float: left;
        font-weight: 700;
        min-width: fit-content;
        width: 50%; }
      .srp-item.srp-item-one .srp-field .srp-field-value {
        float: left;
        min-width: fit-content;
        width: 50%; }
    .srp-item.srp-item-one .vehicle-price-box {
      background-color: #eee;
      border: 1px dashed #333;
      float: left;
      padding: 6px;
      text-align: center;
      width: 100%; }
      .srp-item.srp-item-one .vehicle-price-box .price-item {
        float: left;
        width: 100%;
        /* end &.price-item-price { */ }
        .srp-item.srp-item-one .vehicle-price-box .price-item.no-price {
          font-size: 16px;
          font-weight: 700; }
        .srp-item.srp-item-one .vehicle-price-box .price-item .price-item-label {
          float: left;
          font-weight: 700;
          width: 50%; }
        .srp-item.srp-item-one .vehicle-price-box .price-item .price-item-value-wrap {
          float: left;
          width: 50%; }
        .srp-item.srp-item-one .vehicle-price-box .price-item .price-after {
          font-size: 12px;
          vertical-align: top; }
        .srp-item.srp-item-one .vehicle-price-box .price-item.price-item-price .price-item-label {
          float: left;
          line-height: 20px;
          font-size: 20px;
          width: 100%; }
        .srp-item.srp-item-one .vehicle-price-box .price-item.price-item-price .price-item-value-wrap {
          color: #0b0;
          float: left;
          line-height: 22px;
          font-size: 22px;
          font-weight: 700;
          width: 100%; }
    .srp-item.srp-item-one.full {
      width: 100%; }
      .srp-item.srp-item-one.full .col {
        max-width: calc(33% - 8px);
        min-width: 192px;
        padding: 4px; }
    .srp-item.srp-item-one.list {
      margin-bottom: 4px;
      width: 100%; }
      .srp-item.srp-item-one.list .srp-title {
        font-size: 16px;
        line-height: 18px; }
      .srp-item.srp-item-one.list .col {
        max-width: calc(33% - 8px);
        min-width: 236px;
        padding: 4px; }
        .srp-item.srp-item-one.list .col:nth-of-type(1) {
          max-width: 108px; }
          .srp-item.srp-item-one.list .col:nth-of-type(1) img {
            max-width: 100px; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item .price-after {
        font-size: 10px; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item-label, .srp-item.srp-item-one.list .vehicle-price-box .price-item-value {
        font-size: 12px;
        line-height: 12px; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item-price .price-item-label {
        font-size: 16px;
        line-height: 22px;
        width: 50%; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item-price .price-item-value-wrap {
        width: 50%; }
        .srp-item.srp-item-one.list .vehicle-price-box .price-item-price .price-item-value-wrap .price-item-value {
          font-size: 18px;
          line-height: 18px; }
      .srp-item.srp-item-one.list .srp-field {
        display: none; }
        .srp-item.srp-item-one.list .srp-field:nth-of-type(2) {
          display: block; }
        .srp-item.srp-item-one.list .srp-field:nth-of-type(3) {
          display: block; }
    .srp-item.srp-item-one.grid {
      margin-left: 5px;
      margin-right: 5px;
      max-width: 180px;
      width: 100%; }
      .srp-item.srp-item-one.grid .srp-main-photo-wrap .srp-main-photo {
        max-width: 180px; }
      .srp-item.srp-item-one.grid .srp-title {
        font-size: 14px;
        padding-left: 4px;
        padding-right: 4px;
        overflow: hidden;
        text-align: center;
        white-space: nowrap; }
      .srp-item.srp-item-one.grid .srp-field {
        display: none; }
        .srp-item.srp-item-one.grid .srp-field:nth-of-type(2) {
          display: block; }
      .srp-item.srp-item-one.grid .vehicle-price-box {
        box-sizing: border-box;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-top: 6px;
        width: 90%; }
      .srp-item.srp-item-one.grid .price-item {
        display: none; }
        .srp-item.srp-item-one.grid .price-item.price-item-price {
          display: block; }

/* CSS Document */
/* CSS Document */
@media all and (max-width: 575px) {
  .wpsd-vdp-wrap {
    /* end .vdp-item { */ }
    .wpsd-vdp-wrap .vdp-item {
      /* ned &.vdp-item-one { */ }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one {
        /* end .vdp-location-wrap { */ }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap {
          /* end .vdp-location-links { */ }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link {
            max-width: 100%;
            width: 100% !important; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-col {
          max-width: 100% !important; }

  /* end .wpsd-vdp-wrap  { */ }
/* CSS Document */
@media all and (min-width: 576px) and (max-width: 768px) {
  .wpsd-vdp-wrap {
    /* end .vdp-item { */ }
    .wpsd-vdp-wrap .vdp-item {
      /* ned &.vdp-item-one { */ }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one {
        /* end .vdp-location-wrap { */ }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap {
          /* end .vdp-location-links { */ }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link {
            max-width: calc(50% - 20px);
            width: calc(50% - 20px) !important; }

  /* end .wpsd-vdp-wrap  { */ }
/* CSS Document */
/* CSS Document */
.wpsd-vdp-wrap {
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 16px;
  max-width: 100% !important;
  width: 100% !important;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */
  /* end .vdp-item { */ }
  .wpsd-vdp-wrap div, .wpsd-vdp-wrap span, .wpsd-vdp-wrap applet, .wpsd-vdp-wrap object, .wpsd-vdp-wrap iframe,
  .wpsd-vdp-wrap h1, .wpsd-vdp-wrap h2, .wpsd-vdp-wrap h3, .wpsd-vdp-wrap h4, .wpsd-vdp-wrap h5, .wpsd-vdp-wrap h6, .wpsd-vdp-wrap p, .wpsd-vdp-wrap blockquote, .wpsd-vdp-wrap pre,
  .wpsd-vdp-wrap a, .wpsd-vdp-wrap abbr, .wpsd-vdp-wrap acronym, .wpsd-vdp-wrap address, .wpsd-vdp-wrap big, .wpsd-vdp-wrap cite, .wpsd-vdp-wrap code,
  .wpsd-vdp-wrap del, .wpsd-vdp-wrap dfn, .wpsd-vdp-wrap em, .wpsd-vdp-wrap img, .wpsd-vdp-wrap ins, .wpsd-vdp-wrap kbd, .wpsd-vdp-wrap q, .wpsd-vdp-wrap s, .wpsd-vdp-wrap samp,
  .wpsd-vdp-wrap small, .wpsd-vdp-wrap strike, .wpsd-vdp-wrap strong, .wpsd-vdp-wrap sub, .wpsd-vdp-wrap sup, .wpsd-vdp-wrap tt, .wpsd-vdp-wrap var,
  .wpsd-vdp-wrap b, .wpsd-vdp-wrap u, .wpsd-vdp-wrap center,
  .wpsd-vdp-wrap dl, .wpsd-vdp-wrap dt, .wpsd-vdp-wrap dd, .wpsd-vdp-wrap ol, .wpsd-vdp-wrap ul, .wpsd-vdp-wrap li,
  .wpsd-vdp-wrap fieldset, .wpsd-vdp-wrap form, .wpsd-vdp-wrap label, .wpsd-vdp-wrap legend,
  .wpsd-vdp-wrap table, .wpsd-vdp-wrap caption, .wpsd-vdp-wrap tbody, .wpsd-vdp-wrap tfoot, .wpsd-vdp-wrap thead, .wpsd-vdp-wrap tr, .wpsd-vdp-wrap th, .wpsd-vdp-wrap td,
  .wpsd-vdp-wrap article, .wpsd-vdp-wrap aside, .wpsd-vdp-wrap canvas, .wpsd-vdp-wrap details, .wpsd-vdp-wrap embed,
  .wpsd-vdp-wrap figure, .wpsd-vdp-wrap figcaption, .wpsd-vdp-wrap footer, .wpsd-vdp-wrap header, .wpsd-vdp-wrap hgroup,
  .wpsd-vdp-wrap menu, .wpsd-vdp-wrap nav, .wpsd-vdp-wrap output, .wpsd-vdp-wrap ruby, .wpsd-vdp-wrap section, .wpsd-vdp-wrap summary,
  .wpsd-vdp-wrap time, .wpsd-vdp-wrap mark, .wpsd-vdp-wrap audio, .wpsd-vdp-wrap video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-vdp-wrap i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-vdp-wrap article, .wpsd-vdp-wrap aside, .wpsd-vdp-wrap details, .wpsd-vdp-wrap figcaption, .wpsd-vdp-wrap figure,
  .wpsd-vdp-wrap footer, .wpsd-vdp-wrap header, .wpsd-vdp-wrap hgroup, .wpsd-vdp-wrap menu, .wpsd-vdp-wrap nav, .wpsd-vdp-wrap section {
    display: block; }
  .wpsd-vdp-wrap body {
    line-height: 1; }
  .wpsd-vdp-wrap ol, .wpsd-vdp-wrap ul {
    list-style: none; }
  .wpsd-vdp-wrap blockquote, .wpsd-vdp-wrap q {
    quotes: none; }
  .wpsd-vdp-wrap blockquote:before, .wpsd-vdp-wrap blockquote:after,
  .wpsd-vdp-wrap q:before, .wpsd-vdp-wrap q:after {
    content: '';
    content: none; }
  .wpsd-vdp-wrap table {
    border-collapse: collapse;
    border-spacing: 0; }
  .wpsd-vdp-wrap .widget_text p {
    font-family: sans-serif; }
  .wpsd-vdp-wrap .vdp-item {
    /* end &.vdp-item-one { */ }
    .wpsd-vdp-wrap .vdp-item.vdp-item-one {
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      padding: 10px;
      padding-bottom: 20px;
      padding-top: 20px;
      width: calc(100% - 20px);
      /* end .vdp-image-box */
      /* end .vehicle-price-box { */
      /* end vdp-description-wrap */
      /* end vdp-specs-wrap */
      /* end wpsd-vehicle-options-wrap */
      /* .vdp-thumbnails-wrap { */
      /* end .vdp-location-wrap */ }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one.vdp-item-full-width {
        max-width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one.vdp-item-narrow-width {
        max-width: 600px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-col {
        float: left;
        max-width: 50%;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-check {
        color: #0b0;
        float: left;
        font-size: 24px;
        font-weight: 700;
        height: 20px;
        width: 20px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-image-box .vdp-main-image-wrap {
        cursor: pointer;
        position: relative; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-image-box .vdp-main-image-wrap img {
          width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-title {
        font-size: 28px;
        line-height: 32px;
        text-align: center; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap .vdp-summary-spec-item {
          float: left;
          padding: 4px;
          width: calc(100% - 8px); }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap .vdp-summary-spec-item .vdp-summary-spec-label {
            float: left;
            min-width: 100px;
            width: 50%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap .vdp-summary-spec-item .vdp-summary-spec-value {
            float: left;
            min-width: 100px;
            width: 50%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-price-box-wrap {
        box-sizing: border-box;
        float: left;
        padding: 10px;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box {
        background-color: #eee;
        border: 1px dashed #333;
        float: left;
        padding: 6px;
        text-align: center;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item {
          float: left;
          width: 100%;
          /* end &.price-item-price { */ }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item.no-price {
            font-size: 16px;
            font-weight: 700; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item .price-item-label {
            float: left;
            font-weight: 700;
            width: 50%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item .price-item-value-wrap {
            float: left;
            width: 50%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item .price-after {
            font-size: 12px;
            vertical-align: top; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item.price-item-price .price-item-label {
            float: left;
            line-height: 20px;
            font-size: 20px;
            width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item.price-item-price .price-item-value-wrap {
            color: #0b0;
            float: left;
            line-height: 22px;
            font-size: 22px;
            font-weight: 700;
            width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-description-wrap {
        float: left;
        padding: 10px;
        width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-description-wrap .vdp-description-title {
          float: left;
          font-size: 22px;
          font-weight: 700;
          padding: 10px;
          width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-description-wrap .vdp-description {
          float: left;
          padding: 10px;
          width: calc(100% - 20px); }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap {
        box-sizing: border-box;
        float: left;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        /* end .wpsd-vehicle-spec-group */ }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group {
          box-sizing: border-box;
          padding: 10px;
          width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .wpsd-vehicle-spec-group-title {
            float: left;
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item {
            box-sizing: border-box;
            float: left;
            padding: 10px;
            padding-bottom: 6px;
            padding-top: 6px;
            width: 100%; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item:nth-of-type(odd) {
              background-color: #ddd; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item .vdp-spec-item-label {
              float: left;
              width: 50%; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item .vdp-spec-item-value {
              float: left;
              width: 50%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap {
        box-sizing: border-box;
        float: left;
        padding: 10px;
        padding-bottom: 4px;
        padding-top: 4px;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-group-title {
          float: left;
          font-size: 22px;
          font-weight: 700;
          line-height: 24px;
          padding-bottom: 4px;
          padding-top: 4px;
          width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group {
          box-sizing: border-box;
          float: left;
          padding: 10px;
          width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-sub-group-title {
            background-color: #ddd;
            box-sizing: border-box;
            float: left;
            margin-bottom: 10px;
            padding: 10px;
            width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-item-wrap {
            border-bottom: 1px dashed #333;
            box-sizing: border-box;
            float: left;
            margin-bottom: 10px;
            padding: 20px;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 100%; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-item-wrap .vdp-check {
              float: right; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-item-wrap .wpsd-vehicle-options-item {
              float: left;
              padding: 4px;
              width: fit-content; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-before, .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-summary, .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-middle, .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-after {
        float: left;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap {
        box-sizing: border-box;
        float: left;
        height: 150px;
        overflow: hidden;
        padding: 10px;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap .vdp-thumbnails {
          position: relative; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap .vdp-thumbnails .vdp-thumbnail-wrap {
            float: left;
            margin: 0px;
            margin-bottom: 4px;
            margin-left: 4px;
            margin-right: 4px;
            margin-top: 4px;
            max-width: 100px;
            position: relative; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap .vdp-thumbnails .vdp-thumbnail-wrap .vdp-thumbanil {
              cursor: pointer;
              float: left;
              position: relative;
              width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-view-all {
        background-color: #ddd;
        bottom: 0;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-view-all .dashicons {
          margin-right: 6px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-history-report-title {
        border-top: 1px solid #333;
        float: left;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        padding-bottom: 4px;
        padding-top: 14px;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-history-report-title {
        margin-bottom: 20px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap {
        box-sizing: border-box;
        float: left;
        padding: 10px;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-name {
          float: left;
          font-size: 22px;
          font-weight: 700;
          padding: 10px;
          position: relative;
          text-transform: capitalize;
          width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-address-wrap .vdp-location-city {
          float: left;
          margin-right: 10px; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-conact-name {
          font-size: 18px;
          padding: 10px; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-conact-phone-wrap {
          font-size: 18px;
          padding: 10px; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links {
          box-sizing: border-box;
          float: left;
          padding: 10px;
          width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link {
            background-color: #ddd;
            box-sizing: border-box;
            color: #333;
            cursor: pointer;
            float: left;
            margin: 10px;
            min-width: 150px;
            padding: 10px;
            text-align: center;
            width: calc(25% - 20px); }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link:hover {
              background-color: #eee; }

/* CSS Document */
.wpsd-calculator {
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */
  font-family: sans-serif;
  font-size: 20px; }
  .wpsd-calculator div, .wpsd-calculator span, .wpsd-calculator applet, .wpsd-calculator object, .wpsd-calculator iframe,
  .wpsd-calculator h1, .wpsd-calculator h2, .wpsd-calculator h3, .wpsd-calculator h4, .wpsd-calculator h5, .wpsd-calculator h6, .wpsd-calculator p, .wpsd-calculator blockquote, .wpsd-calculator pre,
  .wpsd-calculator a, .wpsd-calculator abbr, .wpsd-calculator acronym, .wpsd-calculator address, .wpsd-calculator big, .wpsd-calculator cite, .wpsd-calculator code,
  .wpsd-calculator del, .wpsd-calculator dfn, .wpsd-calculator em, .wpsd-calculator img, .wpsd-calculator ins, .wpsd-calculator kbd, .wpsd-calculator q, .wpsd-calculator s, .wpsd-calculator samp,
  .wpsd-calculator small, .wpsd-calculator strike, .wpsd-calculator strong, .wpsd-calculator sub, .wpsd-calculator sup, .wpsd-calculator tt, .wpsd-calculator var,
  .wpsd-calculator b, .wpsd-calculator u, .wpsd-calculator center,
  .wpsd-calculator dl, .wpsd-calculator dt, .wpsd-calculator dd, .wpsd-calculator ol, .wpsd-calculator ul, .wpsd-calculator li,
  .wpsd-calculator fieldset, .wpsd-calculator form, .wpsd-calculator label, .wpsd-calculator legend,
  .wpsd-calculator table, .wpsd-calculator caption, .wpsd-calculator tbody, .wpsd-calculator tfoot, .wpsd-calculator thead, .wpsd-calculator tr, .wpsd-calculator th, .wpsd-calculator td,
  .wpsd-calculator article, .wpsd-calculator aside, .wpsd-calculator canvas, .wpsd-calculator details, .wpsd-calculator embed,
  .wpsd-calculator figure, .wpsd-calculator figcaption, .wpsd-calculator footer, .wpsd-calculator header, .wpsd-calculator hgroup,
  .wpsd-calculator menu, .wpsd-calculator nav, .wpsd-calculator output, .wpsd-calculator ruby, .wpsd-calculator section, .wpsd-calculator summary,
  .wpsd-calculator time, .wpsd-calculator mark, .wpsd-calculator audio, .wpsd-calculator video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-calculator i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-calculator article, .wpsd-calculator aside, .wpsd-calculator details, .wpsd-calculator figcaption, .wpsd-calculator figure,
  .wpsd-calculator footer, .wpsd-calculator header, .wpsd-calculator hgroup, .wpsd-calculator menu, .wpsd-calculator nav, .wpsd-calculator section {
    display: block; }
  .wpsd-calculator body {
    line-height: 1; }
  .wpsd-calculator ol, .wpsd-calculator ul {
    list-style: none; }
  .wpsd-calculator blockquote, .wpsd-calculator q {
    quotes: none; }
  .wpsd-calculator blockquote:before, .wpsd-calculator blockquote:after,
  .wpsd-calculator q:before, .wpsd-calculator q:after {
    content: '';
    content: none; }
  .wpsd-calculator table {
    border-collapse: collapse;
    border-spacing: 0; }
    .wpsd-calculator table tr {
      display: block;
      float: left;
      padding: 4px;
      width: calc(100% - 8px); }
      .wpsd-calculator table tr td {
        display: block;
        float: left;
        width: 50%; }
  .wpsd-calculator input[type=text], .wpsd-calculator select {
    float: left;
    width: 80%;
    margin: 0;
    padding: 4px;
    border: 0;
    font-family: sans-serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
    .wpsd-calculator input[type=text].wpsd-calc-payment, .wpsd-calculator select.wpsd-calc-payment {
      font-size: 1.2em;
      font-weight: 700;
      text-align: center;
      width: 100%; }
  .wpsd-calculator input[type=button] {
    box-sizing: border-box;
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
    border: 0;
    font-family: sans-serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }

.wpsd-calc-block-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%; }

/* CSS Document */
.wpsd-edit-vehicle-data-api-wrap {
  position: relative; }
  .wpsd-edit-vehicle-data-api-wrap .wpsd-vehicle-history-report-wrap {
    display: none;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 20; }
    .wpsd-edit-vehicle-data-api-wrap .wpsd-vehicle-history-report-wrap .wpsd-close-report {
      display: block; }
    .wpsd-edit-vehicle-data-api-wrap .wpsd-vehicle-history-report-wrap .wpsd-report-section-header {
      width: 100%; }
    .wpsd-edit-vehicle-data-api-wrap .wpsd-vehicle-history-report-wrap .wpsd-report-section {
      width: calc( 100% - 60px ); }

.wpsd-vehicle-history-report-wrap {
  background-color: #fff;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%; }
  .wpsd-vehicle-history-report-wrap div, .wpsd-vehicle-history-report-wrap span, .wpsd-vehicle-history-report-wrap applet, .wpsd-vehicle-history-report-wrap object, .wpsd-vehicle-history-report-wrap iframe, .wpsd-vehicle-history-report-wrap h1, .wpsd-vehicle-history-report-wrap h2, .wpsd-vehicle-history-report-wrap h3, .wpsd-vehicle-history-report-wrap h4, .wpsd-vehicle-history-report-wrap h5, .wpsd-vehicle-history-report-wrap h6, .wpsd-vehicle-history-report-wrap p, .wpsd-vehicle-history-report-wrap blockquote, .wpsd-vehicle-history-report-wrap pre, .wpsd-vehicle-history-report-wrap a, .wpsd-vehicle-history-report-wrap abbr, .wpsd-vehicle-history-report-wrap acronym, .wpsd-vehicle-history-report-wrap address, .wpsd-vehicle-history-report-wrap big, .wpsd-vehicle-history-report-wrap cite, .wpsd-vehicle-history-report-wrap code, .wpsd-vehicle-history-report-wrap del, .wpsd-vehicle-history-report-wrap dfn, .wpsd-vehicle-history-report-wrap em, .wpsd-vehicle-history-report-wrap img, .wpsd-vehicle-history-report-wrap ins, .wpsd-vehicle-history-report-wrap kbd, .wpsd-vehicle-history-report-wrap q, .wpsd-vehicle-history-report-wrap s, .wpsd-vehicle-history-report-wrap samp, .wpsd-vehicle-history-report-wrap small, .wpsd-vehicle-history-report-wrap strike, .wpsd-vehicle-history-report-wrap strong, .wpsd-vehicle-history-report-wrap sub, .wpsd-vehicle-history-report-wrap sup, .wpsd-vehicle-history-report-wrap tt, .wpsd-vehicle-history-report-wrap var, .wpsd-vehicle-history-report-wrap b, .wpsd-vehicle-history-report-wrap u, .wpsd-vehicle-history-report-wrap center, .wpsd-vehicle-history-report-wrap dl, .wpsd-vehicle-history-report-wrap dt, .wpsd-vehicle-history-report-wrap dd, .wpsd-vehicle-history-report-wrap ol, .wpsd-vehicle-history-report-wrap ul, .wpsd-vehicle-history-report-wrap li, .wpsd-vehicle-history-report-wrap fieldset, .wpsd-vehicle-history-report-wrap form, .wpsd-vehicle-history-report-wrap label, .wpsd-vehicle-history-report-wrap legend, .wpsd-vehicle-history-report-wrap table, .wpsd-vehicle-history-report-wrap caption, .wpsd-vehicle-history-report-wrap tbody, .wpsd-vehicle-history-report-wrap tfoot, .wpsd-vehicle-history-report-wrap thead, .wpsd-vehicle-history-report-wrap tr, .wpsd-vehicle-history-report-wrap th, .wpsd-vehicle-history-report-wrap td, .wpsd-vehicle-history-report-wrap article, .wpsd-vehicle-history-report-wrap aside, .wpsd-vehicle-history-report-wrap canvas, .wpsd-vehicle-history-report-wrap details, .wpsd-vehicle-history-report-wrap embed, .wpsd-vehicle-history-report-wrap figure, .wpsd-vehicle-history-report-wrap figcaption, .wpsd-vehicle-history-report-wrap footer, .wpsd-vehicle-history-report-wrap header, .wpsd-vehicle-history-report-wrap hgroup, .wpsd-vehicle-history-report-wrap menu, .wpsd-vehicle-history-report-wrap nav, .wpsd-vehicle-history-report-wrap output, .wpsd-vehicle-history-report-wrap ruby, .wpsd-vehicle-history-report-wrap section, .wpsd-vehicle-history-report-wrap summary, .wpsd-vehicle-history-report-wrap time, .wpsd-vehicle-history-report-wrap mark, .wpsd-vehicle-history-report-wrap audio, .wpsd-vehicle-history-report-wrap video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1;
    vertical-align: baseline; }
  .wpsd-vehicle-history-report-wrap article, .wpsd-vehicle-history-report-wrap aside, .wpsd-vehicle-history-report-wrap details, .wpsd-vehicle-history-report-wrap figcaption, .wpsd-vehicle-history-report-wrap figure, .wpsd-vehicle-history-report-wrap footer, .wpsd-vehicle-history-report-wrap header, .wpsd-vehicle-history-report-wrap hgroup, .wpsd-vehicle-history-report-wrap menu, .wpsd-vehicle-history-report-wrap nav, .wpsd-vehicle-history-report-wrap section {
    display: block; }
  .wpsd-vehicle-history-report-wrap ol, .wpsd-vehicle-history-report-wrap ul {
    list-style: none; }
  .wpsd-vehicle-history-report-wrap i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    vertical-align: baseline; }
  .wpsd-vehicle-history-report-wrap blockquote, .wpsd-vehicle-history-report-wrap q {
    quotes: none; }
  .wpsd-vehicle-history-report-wrap blockquote:before, .wpsd-vehicle-history-report-wrap blockquote:after {
    content: '';
    content: none; }
  .wpsd-vehicle-history-report-wrap q:before, .wpsd-vehicle-history-report-wrap q:after {
    content: '';
    content: none; }
  .wpsd-vehicle-history-report-wrap table {
    border-collapse: collapse;
    border-spacing: 0; }
  .wpsd-vehicle-history-report-wrap .wpsd-close-report {
    display: none; }
  .wpsd-vehicle-history-report-wrap .wpsd-vehicle-history-report {
    border: 1px solid #999;
    border-radius: 2px;
    color: #000;
    float: left;
    width: 100%; }
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-header {
    background-color: #dbffc6;
    height: 100px;
    position: relative; }
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-section {
    padding: 15px 20px;
    position: relative; }
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-logo {
    position: absolute;
    right: 16px;
    top: 7px; }
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-table {
    clear: both;
    margin-top: 7px;
    width: 100%; }
    .wpsd-vehicle-history-report-wrap .wpsd-vhr-table td {
      vertical-align: top; }
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-title {
    font: 700 30px arial;
    margin: 15px 0;
    padding: 15px 0; }
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-sub-title {
    font: 400 22px arial;
    margin: 0 0 10px; }
    .wpsd-vehicle-history-report-wrap .wpsd-vhr-sub-title b {
      font-weight: 700; }
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-info {
    font-size: 12px;
    padding-top: 6px;
    vertical-align: top; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-section {
    border: solid 1px #bbb;
    float: left;
    margin: 20px;
    padding: 10px;
    width: calc( 100% - 40px ); }
  .wpsd-vehicle-history-report-wrap .wpsd-report-section-header {
    background-color: #e8e8ff;
    float: left;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-top: -10px;
    width: calc(100% + 20px); }
  .wpsd-vehicle-history-report-wrap .wpsd-section-source {
    bottom: 20px;
    font-size: 12px;
    position: absolute;
    right: 20px; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-section-title {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-section-summary {
    font-size: 12px;
    padding-bottom: 10px; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-item {
    float: left;
    padding: 2px;
    width: calc(100% - 4px); }
    .wpsd-vehicle-history-report-wrap .wpsd-report-item:nth-of-type(odd) {
      background-color: #eee; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-item-label {
    float: left;
    font-weight: 500;
    padding: 4px;
    text-transform: uppercase;
    width: calc( 50% - 8px ); }
  .wpsd-vehicle-history-report-wrap .wpsd-report-item-value {
    float: left;
    padding: 4px;
    width: calc( 50% - 8px ); }
  .wpsd-vehicle-history-report-wrap .wpsd-report-item-table {
    float: left;
    width: 100%; }
    .wpsd-vehicle-history-report-wrap .wpsd-report-item-table th {
      background-color: #eee;
      font-weight: 500;
      padding: 6px;
      text-align: left; }
    .wpsd-vehicle-history-report-wrap .wpsd-report-item-table td {
      padding: 6px;
      text-align: left; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-theft-item {
    float: left;
    font-size: 12px;
    margin: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-theft-item-label {
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-theft-item-value {
    background-color: #efeeef;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
    width: fit-content;
    text-decoration: underline; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-accident-item {
    float: left;
    font-size: 12px;
    margin: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-accident-item-label {
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-accident-item-value {
    background-color: #efeeef;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
    width: fit-content;
    text-decoration: underline; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-salvage-item {
    float: left;
    font-size: 12px;
    margin: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-salvage-item-label {
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-salvage-item-value {
    background-color: #efeeef;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
    width: fit-content;
    text-decoration: underline; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-sale-item {
    float: left;
    font-size: 12px;
    margin: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-sale-item-label {
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-sale-item-value {
    background-color: #efeeef;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
    width: fit-content;
    text-decoration: underline; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-check-item {
    float: left;
    font-size: 12px;
    margin: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-check-item-label {
    float: left;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-check-item-value {
    background-color: #efeeef;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
    width: fit-content;
    text-decoration: underline; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-theft-record, .wpsd-vehicle-history-report-wrap .wpsd-report-accident-record,
  .wpsd-vehicle-history-report-wrap .wpsd-report-salvage-record, .wpsd-vehicle-history-report-wrap .wpsd-report-sale-record,
  .wpsd-vehicle-history-report-wrap .wpsd-report-check-record {
    border-bottom: 1px solid #333; }

@media all and (max-width: 575px) {
  .wpsd-vehicle-history-report-wrap .wpsd-vhr-header {
    height: auto; }
    .wpsd-vehicle-history-report-wrap .wpsd-vhr-header .wpsd-vhr-logo {
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 132px; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-item-label {
    max-width: calc(50% - 8px);
    width: fit-content; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-item-value {
    text-align: right;
    width: fit-content;
    float: right; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-section-titles .wpsd-report-item-table-row:nth-of-type(1), .wpsd-vehicle-history-report-wrap .wpsd-report-section-attributes .wpsd-report-item-table-row:nth-of-type(1) {
    display: none; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-section-titles tr, .wpsd-vehicle-history-report-wrap .wpsd-report-section-attributes tr {
    border-bottom: 1px solid #333;
    float: left;
    padding-bottom: 10px; }
  .wpsd-vehicle-history-report-wrap .wpsd-report-section-titles td, .wpsd-vehicle-history-report-wrap .wpsd-report-section-titles th, .wpsd-vehicle-history-report-wrap .wpsd-report-section-attributes td, .wpsd-vehicle-history-report-wrap .wpsd-report-section-attributes th {
    background-color: #eee;
    display: block;
    float: left;
    margin: 4px;
    padding: 4px; } }
#wpsd-inventory-wrap {
  clear: both;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%; }
  #wpsd-inventory-wrap.wpsd-full-width {
    max-width: 100%; }
  #wpsd-inventory-wrap.wpsd-narrow-width {
    max-width: 600px; }

.wpsd-clear {
  clear: both; }

.sorry {
  color: #f00;
  font-size: 16px;
  font-weight: bold; }

.wpsd-lightbox {
  background-color: #000;
  height: 100%;
  min-height: 1000px;
  opacity: 0.7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

/*
Block controls
*/
.wpsd-block-wrap label {
  text-transform: capitalize; }

.wpsd-block-field label {
  float: left;
  text-transform: capitalize;
  width: 100%; }
  .wpsd-block-field label.components-checkbox-control__label {
    float: none;
    width: auto; }

.wpsd-block-settings .components-panel__row.wpsd-block-field-map {
  display: none; }
.wpsd-block-settings .components-panel__row .components-base-control {
  width: 100%; }
.wpsd-block-settings .wpsd-block-field-order li {
  background: #eee;
  border: 1px solid #333;
  cursor: pointer;
  float: left;
  font-size: 16px;
  padding: 6px;
  text-align: center;
  width: 100%; }
.wpsd-block-settings .wpsd-reorder-fields-tip {
  font-size: 14px; }

.wpsd-block-list-settings .components-panel__row .components-base-control {
  width: 100%; }
