/* CSS Document */

@media all and (max-width: 575px) {
	
	.srp-item {
		
		&.srp-item-one {

			&.grid {
				max-width: 100% !important;

				.srp-main-photo-wrap {

					.srp-main-photo {
						height: auto;
						max-height: initial;
						max-width: 100% !important;
					}
				}
				.col {
					max-width: 100% !important;
				}

			}
			
			.srp-main-photo-wrap {
				
				.srp-main-photo {
                    max-height: initial !important;
					max-width: 100% !important;
				}
			}
			.col {
				max-width: 100% !important;
			}
		}
	}
	
}