/* CSS Document */

@media all and (min-width: 576px) and (max-width: 768px) {

	.srp-item {

		&.srp-item-one {
			
			&.grid {
				max-width: 100% !important;

				.srp-main-photo-wrap {

					.srp-main-photo {
						max-width: 100% !important;
					}
				}
				.col {
					max-width: 100% !important;
				}

			}
			
			.col {
				max-width: 182px !important;
			}
			
			.srp-main-photo-wrap {
				
				.srp-main-photo {
					max-width: 176px !important;
				}
			}			
		} /* end &.srp-item-one { */
	}

}