/* CSS Document */

@media all and (max-width: 575px) {
	
    .wpsd-vdp-wrap  {

        .vdp-item {

            &.vdp-item-one {

                .vdp-location-wrap {

                    .vdp-location-links {

                        .vdp-link-item {

                            a.vdp-link {
                                max-width: 100%;
                                width: 100% !important;
                            }
                        }
                    } /* end .vdp-location-links { */
                } /* end .vdp-location-wrap { */
                .vdp-col {
                    max-width: 100% !important;
                }
            } /* ned &.vdp-item-one { */
        } /* end .vdp-item { */
    } /* end .wpsd-vdp-wrap  { */
}