/* CSS Document */

@media all and (min-width: 576px) and (max-width: 768px) {
	
    .wpsd-vdp-wrap  {

        .vdp-item {

            &.vdp-item-one {

                .vdp-location-wrap {

                    .vdp-location-links {

                        .vdp-link-item {

                            a.vdp-link {
                                max-width: calc(50% - 20px);
                                width: calc(50% - 20px) !important;
                            }
                        }
                    } /* end .vdp-location-links { */
                } /* end .vdp-location-wrap { */
            } /* ned &.vdp-item-one { */
        } /* end .vdp-item { */
    } /* end .wpsd-vdp-wrap  { */
}