/* CSS Document */

.post-type-vehicle {

	.wpsd-edit-vehicle-welcome-wrap {

		label {
			float: left;
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 10px;
			width: 100%;

			.dashicons {
				margin-right: 12px;
				font-size: 28px;
			}
		}
		.wpsd-edit-vehicle-welcome-hide {
			float: left;
		}
	}
	
	.wpsd-is-sold-wrap {
		background-color: #f1f1ff;
		border: 2px dashed #aaf;
		font-size: 22px;
		font-weight: 700;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		text-align: center;
		width: calc(100% - 44px);
		
		label {
			margin-right: 10px;
			
			.dashicons {
				font-size: 24px;
				margin-right: 10px;
				margin-top: 4px;
			}
		}
		select {
			font-size: 18px;
		}
	}

	.wpsd-edit-vehicle-prices-wrap {
		background-color: #efe;
		border: 2px dashed #0f0;
		float: left;
		margin-top: 8px;
		padding: 10px;
		position: relative;
		width: calc(100% - 24px);
		
		.wpsd-edit-vehicle-before-price {
			float: left;
			min-width: 10%;
			width: fit-content;
		}

		.wpsd-edit-vehicle-after-price {
			float: left;
			min-width: 10%;
			width: fit-content;
		}
		
		.wpsd-edit-vehicle-price-item {
			display: block;
			height: 36px;
			margin-left: auto;
			margin-right: auto;
			width: 100%;

			label {
				float: left;
				font-size: 14px;
				line-height: 30px;
				padding-right: 10px;
				padding-left: 0px;
				width: calc(50% - 10px);
				
				.dashicons {
					margin-right: 2px;
					margin-top: 6px;
				}
			}
			span {
				float: left;
				width: 50%;
				
				input[type=text], input[type=number] {
					box-sizing: border-box;
					float: left;
					margin: 0px;
					width: calc(100% - 36px);
					text-align: right;
				}
			}
		}
	}
	
	.wpsd-edit-vehicle-specs-metabox-wrap {
		position: relative;
	}

	.wpsd-edit-vehicle-type-wrap {
		border-bottom: solid #333 1px;
		margin-bottom: 0px;
		padding-bottom: 20px;

		.wpsd-edit-select-type-title {
			font-size: 18px;
			font-weight: 700;
			
			.dashicons {
				margin-right: 12px;
				font-size: 28px;
			}
		}
		.wpsd-edit-vehicle-type-icon {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 75px;
		}
		.wpsd-edit-select-vehicle-type {
			margin-top: 10px;
		}
	}

	.wpsd-edit-vehicle-specs-wrap {

		.wpsd-edit-vehicle-spec-group {
			margin-bottom: 20px;

			.wpsd-edit-vehicle-spec-group-title {
				background-color: #d4efeb;
				font-size: 16px;
				font-family: inherit;
				font-weight: 700;
				margin-bottom: 10px;
				padding: 10px;
			}
		}
	}
	
	.wpsd-edit-vehicle-price-wrap {
		float: left;
		width: 100%;
		
		label {
			float: left;
			font-size: 14px;
			padding-bottom: 10px;
			padding-top: 10px;
			width: 100%;
		}
		
		span {
			float: left;
			margin-left: 10px;
			margin-right: 10px;
			width: calc(100% - 20px);
		}
	}

	.wpsd-field-wrap {
		padding-left: 20px;
		padding-right: 0px;
		width: calc(100% - 20px);

		&:nth-of-type( even ) {
			background-color: #eee;
		}

		label {
			line-height: 30px;
		}

		label, span {
			font-size: 16px;
			font-family: inherit;
			height: 30px;
			margin: 0px;
			padding: 0px;
			width: 50%;
		}
		small {
			display: none;
		}
		.wpsd-switch-tab {
			cursor: pointer;
			margin-right: 4px;
			width: auto;
		}
		.wpsd-clear {
			clear: none;
		}
	}

	.wpsd-edit-vehicle-options-metabox-wrap {
		
		&.wpsd-edit-no-group-options {
			
			.wpsd-edit-vehicle-options-group-title {
				display: none;
			}
			.wpsd-edit-vehicle-options-sub-group-title {
				display: none;
			}
            .wpsd-edit-vehicle-options-list-all-enabled {
                display: none;
            }
		}
		
		.wpsd-edit-vehicle-options-wrap {
			
			.wpsd-edit-vehicle-options-group {
				
				.wpsd-edit-vehicle-options-group-title {
					background-color: #d4efeb;
					float: left;
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 6px;
					padding: 4px;
					width: calc(100% - 8px);
				}
				.wpsd-edit-vehicle-options-item-wrap {
					background-color: #eee;
					float: left;
					margin: 4px;
					padding: 4px;
					padding-left: 8px;
					position: relative;
					
					&.in-active {
						display: none;
					}

					.wpsd-toggle-wrap {

						label {

							&.wpsd-toggle {
								float: right;
								margin-left: 8px;
								margin-right: 8px;
								margin-top: 2px;
							}
						}
						.wpsd-toggle-title {
							font-size: 14px;
							line-height: 20px;
						}

						.in-active {
						    background-color: #ffd;
							opacity: 0.5;
						}
					}
				}
			} /* end .wpsd-edit-vehicle-options-group { */
			
			.wpsd-edit-vehicle-options-sub-group {

				.wpsd-edit-vehicle-options-sub-group-title {
					background-color: #ddd;
					float: left;
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 6px;
					padding: 4px;
					padding-left: 8px;
					padding-right: 8px;
					width: calc(100% - 16px);
				}
			} /* end .wpsd-edit-vehicle-options-sub-group { */
		} /* .wpsd-edit-vehicle-options-wrap { */
		
		.wpsd-edit-vehicle-options-list-all {
			display: none;
			float: left;
			height: 80px;
			margin: 10px;
			width: calc(100% - 20px);
            
            &.wpsd-edit-vehicle-options-list-all-enabled {
                display: block;
            }
		}

		.wpsd-edit-vehicle-options-list {
			display: none;
			float: left;
			height: 80px;
			margin: 10px;
			width: calc(100% - 20px);
			
			&.active {
				display: block;
			}
		}
	}

	.wpsd-edit-vehicle-vin-decodes-wrap, .wpsd-edit-vehicle-history-reports-wrap {
		border-bottom: solid #333 1px;
		float: left;
		margin-bottom: 0px;
        min-height: 282px;
		padding-bottom: 20px;
		width: 50%;
		
		label {
			float: left;
			font-size: 18px;
			font-weight: 700;
			padding-bottom: 10px;
			padding-top: 10px;
			width: 100%;
		}
	}
	
	.wpsd-edit-vehicle-details-wrap {
		
		label {
			float: left;
			font-size: 18px;
			font-weight: 700;
			padding-bottom: 10px;
			padding-top: 10px;
			width: 100%;
		}
		span {
			float: left;
			width: 100%;
		}
		.wpsd-edit-vehicle-description {
			height: 200px;
			margin-left: 10px;
			margin-right: 10px;
			width: calc(100% - 20px);
		}
		.wpsd-edit-vehicle-excerpt-wrap {
			display: none;
			
			.wpsd-edit-vehicle-excerpt {
				height: 40px;
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 20px);
			}
		}
	}

	/*
	Admin Styles
	*/
	.admin_box_vehicle_photo {
		background-color: inherit;
		border: 1px solid #333;
		float: left;
		margin: 2px;
		padding: 5px;

		&:hover {
			background-color: #FCC;
		}
	}
	.vehicle_photo_admin_box {
		background-color: inherit;
		border: 1px solid #333;
		float: left;
		margin: 2px;
		padding: 5px;
	}
	.vehicle_photo_admin_box:hover {
		background-color: #FCC;
	}
	.vehicle_photo_remove {
		cursor: pointer;
		color: #F00;
		font-weight: 700;
		margin-bottom: 6px;
		margin-right: 10px;
		margin-top: 0px;
		text-align: right;
	}
	.wpsd_reverse_attachments_btn {
		background-color: #007cba;
		cursor: pointer;
		float: right;
		margin-right: 20px;

		&:hover {
			background-color: #0071a1;
		}
	}
	.wpsd_image_links_list_wrap {
		display: none;
		float: left;
		margin-bottom: 10px;
		width: 100%;
	}
	.wpsd_image_links_list {
		height: 100px;
		width: 100%;
	}
	.wpsd_edit_image_links {
		cursor: pointer;
		display: block;
		float: left;
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 10px;
		max-width: 200px;
	}
	.wpsd_edit_image_links:hover {
		color: #0b0;
	}
	.wpsd_close_image_links {
		float: right;
	}
	.wpsd_update_image_links_btn {
		float: left;
	}
	#remove-post-thumbnail-btn {
		cursor: pointer;

		&:hover {
			color: #0b0;
		}
	}
	.wpsd_main_image_wrapper {
		float: left;
		margin-bottom: 14px;
		max-width: 356px;
		width: 100%;

		h4 {
			margin-top: 0px;
		}
	}
	.wpsd_main_image {
		border: 2px dashed #ccc;
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
		padding: 10px;

		img {
			cursor: pointer;
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 260px;
		}
	}
	/* End images */
}