/*
***********************************************************
Begin Custom Fields
***********************************************************
*/
.vehicle_page_wpsd_settings_options {
	
	.wpsd-field-tag {
		display: none;
	}
}

.wpsd-template-settings-title {

	color: #6495ed;
	cursor: pointer;
}

.wpsd-export-fields, .wpsd-import-fields {
	width: 100%;
}

.wpsd-import-export-field, .wpsd-import-export-wrap {
	display: none;
}

.wpsd-advanced-button {
	cursor: pointer;
    float: right;
}

.wpsd-build-field-item {
    display: none;
}

.cdff-image-wrap {
	cursor: pointer;
	float: left;
	margin-left: 10px;
	position: relative;

	img {
		display: none;
	}
	
	i {
		font-size: 24px;
	}
	
	&:hover {
		
		img {
			display: block;
			left: 12px;
			position: absolute;
			z-index: 10000;
		}
	}
}

.wpsd-field-wrap-type-image {
	
	input[type=text] {
		float: left;
	}
}

.wpsd-fieldset {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 6px;
    position: relative;
    
    legend {
		cursor: pointer;
        font-weight: 700;
    }
}

.wpsd-open-add-field {
	cursor: pointer;
}

.wpsd-custom-fields {
}

.wpsd-build-field {
    display: none;
    
    small {
        display: none;
    }
    .wpsd-remove-field {
        display: none;
    }
}

.wpsd-remove-field {
    color: #f00;
	cursor: pointer;
	display: none;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    right: 6px;
    top: 6px;
}

.wpsd-custom-fields-defaults {
    display: none;
}

.wpsd-field-wrap {
	background-color: #fff;
    border-bottom: 1px solid #eee;
    float: left;
    padding: 4px;
    position: relative;
    width: calc(100% - 8px);

	&.wpsd-field-wrap-type-comment {
		
		small {
			display: none;
		}
	}
	
	&.ui-state-highlight {
		background-color: #F3EF5C;
		height: 75px;
		line-height: 65px;;
	}
	
    .wpsd-tip-wrap {
        background-color: #ddf;
        border-radius: 14px;
        float: left;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        text-align: center;
        width: 22px;

        &:before {
            content: "?";
            cursor: pointer;
        }
        
        .wpsd-tip {
            background-color: #fff;
            border: 1px solid #ccc;
            display: none;
            min-width: 200px;
            padding: 12px;
            position: absolute;
            z-index: 100;
        }
        
        .wpsd-tip-title {
            
        }
        .wpsd-tip-content {
            font-weight: 400;
            margin-top: 6px;
        }
        
        &:hover {
            
            .wpsd-tip {
                display: block;
            }
        }
        
    }
    
    label {
        float: left;
        /*font-weight:  700;*/
		max-width: 600px;
        width: calc( 100% - 48px );
    }
    span {
        float: left;
		margin-bottom: 6px;
		margin-top: 12px;
        padding-left: 6px;
        width: calc( 100% - 6px );
    }
    small {
        float: left;
        padding-bottom: 6px;
        padding-left: 6px;
        width: calc( 100% - 6px );
    }
    input[type=text], textarea {
        max-width: 320px;
        width: 100%;
    }
    textarea {
        height: 128px;
    }
    .cdff-item {
        float: left;
        width: 100%;

        label {
            width: auto;
        }
        span {
            width: auto;
        }
    }
	.cdff-maybe-select {
		background-color: #fff;
		position: relative;
		max-width: 320px;
		z-index: 2;
		
		.cdff-maybe-select-text {

		}
		
		.cdff-maybe-select-value {
			display: none;
		}
		
		.cdff-maybe-select-option-wrap {
			display: none;
			border: 1px solid #333;
			border-top: 0px;
			margin-left: 4px;
			margin-top: 0px;
			max-width: 314px;
			position: relative;
			
			.cdff-maybe-select-option {
				cursor: pointer;
				height: 26px;
				margin-top: 0px;
				max-width: 308px;
				padding: 2px;
				padding-left: 6px;
				padding-right: 6px;

				&:hover {
					background-color: #ddd;
				}
			}
		}
	}
}