/* CSS Document */

.wpsd-edit-vehicle-data-api-vin-wrap {
    border-bottom: 1px solid #333;
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

.wpsd-edit-vehicle-data-api {
    display: none;
    
    &.wpsd-edit-vehicle-data-api-show {
        display: block;
    }
}

.wpsd-close-report {
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: -22px;
    z-index: 30;

    i {
        background-color: #b00;
        color: #fff;
        display: block;
        float: left;
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
        height: 18px;
        line-height: 16px;
        padding: 2px;
        text-align: center;
        width: 18px;
    }
    span {
        display: block;
        float: left;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        height: 18px;
        line-height: 16px;
        padding: 2px;
        padding-left: 6px;
        padding-right: 4px;
    }
}


.wpsd-service-data-api-label-wrap {
    float: left;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.wpsd-bad-vin {
    background-color: #FFB3B3 !important;
}

div.wpsd-bad-vin {
    color: #000;
    font-size: 16px;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

div.wpsd-bad-vin.wpsd-bad-vin-flash {
    background-color: #F00 !important;
    color: #fff;
}

.wpsd-data-api-button {
    background-color: #eee;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 6px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.wpsd-edit-vehicle-vin-decodes-wrap {
    
    label {
        
    }
    .wpsd-service-vin-decode {
        
        .wpsd-service-vin-decode-label {

            .wpsd-vin-decode-result-label {
                color: #b00;
                float: left;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
                width: 100%;
                
                span {
                    cursor: pointer;
                }
            }
            .wpsd-vin-decode-results {
                display: none;
                float: left;
                height: 200px;
                width: 100%;
            }
        }
        .wpsd-service-vin-decode-value-wrap {

            .wpsd-service-vin-decode-value {

            }
        }
        .wpsd-service-vin-decode-button-wrap {
            
            .wpsd-service-vin-decode-button {
                
            }
        }
        .wpsd-service-vin-decode-message {
            
        }
        .wpsd-service-vin-decode-results-wrap {
            display: none;
            
            &.wpsd-vin-decode-result-label {
                display: block;
                float: left;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
                width: 100%;
            }
            
            .wpsd-service-vin-decode-results {
                display: none;
            }
            .wpsd-service-vin-decode-results-view {
                cursor: pointer;
                font-size: 12px;
                margin-top: 6px;
                padding-left: 4px;
                width: calc(100% - 4px);
            }
        }

        .wpsd-service-status-vin-decodes {
            float: left;
            margin-bottom: 10px;
            padding: 6px;
            width: calc(100% - 12px);
            
            .wpsd-service-status-label {
                background-color: #eee;
                float: left;
                font-size: 16px;
                font-weight: 700;
                margin-right: 4px;
                padding: 4px;
                width: calc(100% - 12px);
            }
            
            .wpsd-vin-decodes-total-wrap {
                float: left;
                width: 100%;

                .wpsd-vin-decodes-total-label {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
                .wpsd-vin-decodes-total {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
            } /* end wpsd-vin-decodes-total-wrap */


            .wpsd-vin-decodes-used-wrap {
                float: left;
                width: 100%;

                .wpsd-vin-decodes-used-label {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
                .wpsd-vin-decodes-used {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
            } /* end wpsd-vin-decodes-total-wrap */

            .wpsd-vin-decodes-available-wrap {
                background-color: #bfb;
                float: left;
                font-size: 14px;
                width: 100%;

                &.wpsd-service-refill {
                    background-color: #ffcfcf;
                    font-size: 16px;
                    font-weight: 700;
                    
                    .wpsd-refill-message {
                        display: block;
                    }
                }

                .wpsd-refill-message {
                    display: none;
                    float: left;
                    padding: 8px;
                }
                
                .wpsd-vin-decodes-available-label {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
                .wpsd-vin-decodes-available {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
            } /* end wpsd-vin-decodes-total-wrap */

        } /* end wpsd-service-status-vin-decodes */
        
        .wpsd-service-status-vin-decodes-form {
            float: left;
            margin-bottom: 10px;
            padding: 6px;
            width: calc(100% - 12px);
        }
        
    } /* end .wpsd-service-vin-decode */
}

.wpsd-edit-vehicle-history-reports-wrap {
    
    label {
        
    }
    .wpsd-service-history-report {

        .wpsd-service-history-report-label {

            .wpsd-history-report-result-label {
                color: #b00;
                float: left;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
                width: 100%;

                span {
                    cursor: pointer;
                }
            }
            .wpsd-history-report-results {
                display: none;
                float: left;
                height: 200px;
                width: 100%;
            }
        }
        .wpsd-service-history-report-value-wrap {

            .wpsd-service-history-report-value {

            }
        }
        .wpsd-service-history-report-button-wrap {
            
            .wpsd-service-history-report-button {
                
            }
        }
        .wpsd-service-history-report-message {
            
        }
        .wpsd-service-history-report-results-wrap {
            display: none;
            
            &.wpsd-history-report-result-label {
                display: block;
                float: left;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 10px;
                width: 100%;
            }
            
            .wpsd-service-history-report-results {
                display: none;
            }
            .wpsd-service-history-report-results-view {
                cursor: pointer;
                font-size: 12px;
                margin-top: 6px;
                padding-left: 4px;
                width: calc(100% - 4px);
            }
        }

        .wpsd-service-status-history-reports {
            float: left;
            margin-bottom: 10px;
            padding: 6px;
            width: calc(100% - 12px);
            
            .wpsd-service-status-label {
                background-color: #eee;
                float: left;
                font-size: 16px;
                font-weight: 700;
                margin-right: 4px;
                padding: 4px;
                width: calc(100% - 12px);
            }
            
            .wpsd-history-reports-total-wrap {
                float: left;
                width: 100%;

                .wpsd-history-reports-total-label {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
                .wpsd-history-reports-total {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
            } /* end wpsd-history-reports-total-wrap */


            .wpsd-history-reports-used-wrap {
                float: left;
                width: 100%;

                .wpsd-history-reports-used-label {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
                .wpsd-history-reports-used {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
            } /* end wpsd-history-reports-total-wrap */

            .wpsd-history-reports-available-wrap {
                background-color: #bfb;
                float: left;
                font-size: 14px;
                width: 100%;

                &.wpsd-service-refill {
                    background-color: #ffcfcf;
                    font-size: 16px;
                    font-weight: 700;
                    
                    .wpsd-refill-message {
                        display: block;
                    }
                }

                .wpsd-refill-message {
                    display: none;
                    float: left;
                    padding: 8px;
                }
                
                .wpsd-history-reports-available-label {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
                .wpsd-history-reports-available {
                    float: left;
                    padding: 4px;
                    width: calc(50% - 8px);
                }
            } /* end wpsd-history-reports-total-wrap */

        } /* end wpsd-service-status-history-reports */
        
        .wpsd-service-status-history-reports-form {
            float: left;
            margin-bottom: 10px;
            padding: 6px;
            width: calc(100% - 12px);
        }
        
    } /* end .wpsd-service-history-report */
}