/* CSS Document */
.wpsdsp_widget_admin label {
	width: 100%;
	max-width: 140px;
	float: left;
}

.wpsdsp_select_boxes_item {
    float: left;
    margin: 10px;
	margin-left: 0px;
    width: 100%;
}

.wpsdsp_select_boxes_item span {
	
}

.wpsdsp_select_boxes_item label {
	margin-left: 8px;
}

.wpsdsp_custom_fields .wpsdsp_field_options_lanel {
    background-color: #ddd;
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin: 4px;
    max-width: 320px;
    padding: 4px;
    padding-left: 12px;
	position: relative;
	width: 100%;
}

.wpsdsp_custom_fields span.custom_field_options_wrap {
	background-color: #ddd;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 90%;
}

.wpsdsp_custom_fields span.custom_field_options_wrap .wpsdsp_advanced {
	background: transparent;
	cursor: pointer;
	float: right;
	font-size: 12px;
}

.wpsdsp_custom_fields .wpsdsp_custom_field.wpsdsp_hidden {
	display: none;
}

.wpsdsp_custom_fields .wpsdsp_custom_field label {
	background-color: transparent;
	padding-left: 0px;
}

.wpsdsp_custom_fields .wpsdsp_custom_field div {
	
}

.wpsd_gap {
	display: block;
	height: 22px;
	width: 100%;
}

.wpsdsp_custom_fields {
	float: left;
	padding: 4px;
	width: 100%;
}

.wpsdsp_custom_field {
    background-color: #fff;
    float: left;
    margin: 5px;
    min-height: 75px;
    padding: 5px;
	position: relative;
    width: 200px;
}

.wpsdsp_custom_fields span.wpsdsp_activate_custom_field_wrap {
    position: absolute;
    right: 0;
    top: 4px;
    margin: 0px;
    max-width: 30px;
    padding: 0px;
}

.custom_field_options_wrap {
	display: none;
}

.wpsdsp_tip_wrap {
    background-color: #28bf6a;
    border-radius: 14px;
    cursor: pointer;
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 8px;
}

.wpsdsp_tip_label {
    background-color: transparent;
    color: #fff;
    margin: 4px;
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.wpsdsp_tip_label:hover + .wpsdsp_tip {
	display: block;
}

.wpsdsp_tip {
	background-color: #098;
    border: 3px dashed #333;
    color: #fff;
    font-weight: 600;
	left: 10px;
    padding: 10px;
    display: none;
    min-width: 150px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 100%;
    z-index: 3;
}

.wpsdsp_open_admin_field {
    color: #0a0;
    cursor: pointer;
    float: left;
    font-size: 22px;
    font-weight: 700;
    margin-right: 6px;
    width: 16px;
}

.wpsdsp_save_btn {
	background-color: #090;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
    position: absolute;
    right: 0px;
}

.wpsdsp_save_btn:hover {
	background-color: #fff;
	color: #090;
}

.wpsdsp_save_btn.wpsdsp_top {
	top: 20px;
}

.wpsdsp_save_btn.wpsdsp_bottom {
	float: right;
	position: relative;
}

.wpsd_welcome_tab {
	float: left;
	position: relative;
}

.wpsdsp_admin_msg {
	background-color: #0f0;
    border: 3px dashed #333;
	display: none;
	float: left;
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
    padding: 20px;
    text-align: center;
	width: 100%;
}

.wpsdsp_widget_field {
	float: left;
	width: 100%;
}

.wpsdsp_widget_admin label.wpsdsp_widget_fields_label {
    background-color: #eee;
	box-sizing: border-box;
	float: left;
	font-weight: 700;
	margin-bottom: 4px;
	max-width: 100%;
	padding: 4px;
	position: relative;
	width: 100%;
}

.wpsdsp_widget_field_open_closed {
    float: right;
    font-size: 16px;
    margin-right: 10px;
}

.wpsdsp_widget_fields {
	display: none;
}

.wpsdsp_widget_field_tip_wrap {
	cursor: pointer;
    float: left;
    margin-right: 14px;
    text-align: center;
    width: 16px;
}

.wpsdsp_widget_field_label_text {
	display: block;
    font-size: 16px;
    margin-top: 4px;
}

.wpsdsp_widget_field_tip_icon {
	background-color: #bfb;
    border-radius: 10px;
    float: left;
	font-size: 14px;
    padding: 4px;
    width: 100%;
}

.wpsdsp_widget_field_tip {
	display: none;
    background-color: #add;
    padding: 8px;
    position: absolute;
    top: 14px;
	z-index: 3;
}

.wpsdsp_widget_field_tip_icon:hover + .wpsdsp_widget_field_tip {
    display: block;
}

.wpsdsp_widget_field_settings {
	background-color: #eee;
    float: left;
    font-weight: 700;
	margin-bottom: 14px;
	padding: 4px;
    position: relative;
    width: 100%;
}

.wpsdsp_widget_field_settings_label {
	font-size: 16px;
}

.wpsdsp_widget_field_settings_open_closed {
	cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    line-height: 19px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 4px;
    width: 26px;
}

.wpsdsp_widget_fields_wrap {
	display: none;
}

.wpsdsp_widget_admin label.wpsdsp_widget_field_label {
    float: left;
    font-weight: 700;
    margin-left: 8px;
    margin-top: 6px;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.wpsdsp_widget_field_input {
    float: left;
    padding: 14px;
}

.wpsdsp_widget_checkbox_text {
	
}

.wpsdsp-email-report {
    max-width: 300px;
    width: 100%;
}

/**********************************************/
/* Admin blocks
/**********************************************/

.wpsdsp-block-input {
	float: left;
	width: 90%;
}