#wpsd-inventory-wrap {
  min-height: 100%;
  position: relative; }

#wpsdsp_inventory_top {
  float: left;
  height: 20px;
  width: 100%; }

.wpsdsp_inventory_top {
  margin-top: 20px; }

.clear {
  clear: both; }

.wpsdsp-end-of-form {
  bottom: 0px;
  position: absolute; }

.wpsdsp-mobile-filter-button, .wpsdsp-view-inventory-btn {
  background: #0f5889;
  color: #fff;
  cursor: pointer;
  display: none;
  float: none;
  font-family: sans-serif;
  font-size: 22px;
  margin-bottom: 0px !important;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  padding: 10px;
  text-align: center;
  text-transform: none;
  width: 100%; }
  .wpsdsp-mobile-filter-button .dashicons, .wpsdsp-view-inventory-btn .dashicons {
    line-height: 30px;
    margin-right: 8px; }

/***********************************************************/
/* 
 * Loading
*/
/***********************************************************/
.wpsdsp_loading_inventory {
  height: 100%;
  position: absolute;
  width: 100%; }
  .wpsdsp_loading_inventory .wpsdsp-loading-inventory-wrap {
    background-color: #000;
    height: 100%;
    min-height: 2600px;
    opacity: .6;
    position: absolute;
    width: 100%;
    z-index: 100; }
  .wpsdsp_loading_inventory img {
    display: block;
    max-width: 329px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    position: relative;
    width: 100%;
    z-index: 101; }

.wpsdsp-range-wrap {
  float: left;
  width: 100%; }

.search-form-sliders .wpsdsp-range-wrap select {
  display: none; }
.search-form-sliders .wpsdsp-range-label {
  float: left;
  min-width: 100px;
  padding-left: 4px;
  width: fit-content; }
.search-form-sliders .wpsdsp-range-min-value, .search-form-sliders .wpsdsp-range-max-value {
  float: right;
  max-width: 150px;
  width: fit-content; }

.wpsdsp-range-slider-wrap {
  float: left;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  width: 100%; }
  .wpsdsp-range-slider-wrap .wpsdsp_price_slide_min, .wpsdsp-range-slider-wrap .wpsdsp_price_slide_max, .wpsdsp-range-slider-wrap .wpsdsp_mileage_slide_min, .wpsdsp-range-slider-wrap .wpsdsp_mileage_slide_max, .wpsdsp-range-slider-wrap .wpsdsp_vehicle_year_slide_min, .wpsdsp-range-slider-wrap .wpsdsp_vehicle_year_slide_max {
    height: 2px !important;
    background: #324d89 !important; }
  .wpsdsp-range-slider-wrap .ui-state-default, .wpsdsp-range-slider-wrap .ui-widget-content .ui-state-default, .wpsdsp-range-slider-wrap .ui-widget-header .ui-state-default {
    background: #324d89 !important;
    border-radius: 10px;
    top: -8px; }

.wpsdsp-range-label {
  float: left;
  font-weight: 700 !important;
  width: 50%; }

.wpsdsp-range-price-min-value, .wpsdsp-range-mileage-min-value, .wpsdsp-range-year-min-value {
  float: left;
  width: 50%; }

.wpsdsp_tb_forms_one .wpsdsp_price.wpsdsp_min, .wpsdsp_tb_forms_one .wpsdsp_price.wpsdsp_max, .wpsdsp_tb_forms_one .wpsdsp_mileage.wpsdsp_min, .wpsdsp_tb_forms_one .wpsdsp_mileage.wpsdsp_max, .wpsdsp_tb_forms_one .wpsdsp_year.wpsdsp_min, .wpsdsp_tb_forms_one .wpsdsp_year.wpsdsp_max {
  display: none; }

/***********************************************************/
/* 
 * Style Two
*/
/***********************************************************/
.wpsdsp-search-form.wpsdsp-search-form-two {
  /* end mobile */ }
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .checkbox input[type="checkbox"] {
    height: 32px; }
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form div div.wpsdsp-label {
    font-size: 26px; }
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .selectOption {
    font-size: 22px; }
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form select {
    border: solid 1px #ddd;
    height: 36px;
    font-size: 22px; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form select.wpsdsp-range {
      font-size: 22px; }
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .keyword_search_button {
    height: 38px; }
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .search-keyword input[type=text] {
    height: 38px; }
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .vehicle_search_keyword_box {
    height: 38px; }
  .wpsdsp-search-form.wpsdsp-search-form-two div div.wpsdsp-label {
    background-color: #fff;
    color: #0f5889;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 900;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 14px;
    position: relative; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsd-sort-by-combined {
    border: solid 1px #333;
    padding-bottom: 1px;
    padding-top: 1px;
    position: relative; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsd-sort-by-label {
    background-color: #fff;
    color: #0f5889;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 900;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 14px;
    position: relative; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsd-sort-form-wrap {
    padding-bottom: 16px; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-item .selectArrow {
    display: block; }
  .wpsdsp-search-form.wpsdsp-search-form-two .checkbox input[type="checkbox"] {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    height: 20px;
    margin: 0px;
    margin-right: 6px;
    margin-top: -2px;
    width: 20px; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-select-wrap {
    border: none;
    border-bottom: 1px solid #DDD;
    margin-bottom: 14px;
    padding-bottom: 16px; }
  .wpsdsp-search-form.wpsdsp-search-form-two select.wpsdsp-range {
    float: left;
    position: relative;
    width: 48%; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-checkbox div {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 3px;
    margin-top: 3px; }
  .wpsdsp-search-form.wpsdsp-search-form-two input[type="text"] {
    background-color: #eee;
    border: 1px solid #888;
    box-shadow: none;
    height: 28px;
    transition: unset;
    width: 96%; }
  .wpsdsp-search-form.wpsdsp-search-form-two input[type="text"]::placeholder {
    color: #333; }
  .wpsdsp-search-form.wpsdsp-search-form-two select {
    width: 94%; }
  .wpsdsp-search-form.wpsdsp-search-form-two select option {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 4px;
    padding-top: 6px; }
  .wpsdsp-search-form.wpsdsp-search-form-two select option:hover {
    background-color: #ddf; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-item {
    background-color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    float: left;
    margin: 4px;
    max-width: 250px;
    min-height: 50px;
    padding: 8px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: calc(100% - 8px); }
  .wpsdsp-search-form.wpsdsp-search-form-two .keyword_search_button {
    height: 28px; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-current-filters {
    display: none; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-item-submit .wpsdsp-button {
    background: #0f5889;
    color: #fff;
    cursor: pointer;
    float: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    text-transform: none;
    text-align: center;
    width: 100%; }
  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-button-label {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-left: 0;
    width: 100%; }

/***********************************************************/
/* 
 * Style Three
*/
/***********************************************************/
/*
Style Two Mobile Adjustments
*/
.wpsdsp-search-form {
  /* end &.wpsdsp-search-form-two { */ }
  .wpsdsp-search-form.wpsdsp-search-form-three {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px !important;
    padding: 10px;
    /* end .wpsdsp-item-submit { */
    /* end .view_inventory_button { */ }
    .wpsdsp-search-form.wpsdsp-search-form-three.wpsdsp-mobile-search-form .selectBox {
      margin-top: 0px; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsd-sort-by-label {
      color: transparent;
      float: left;
      height: 10px; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item .wpsd-sort-by-combined {
      border: none;
      color: #aaa;
      margin-top: 6px; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item .wpsdsp-current-filters {
      background-color: #ddd;
      border: none;
      float: left;
      margin-bottom: 10px;
      margin-left: 24px;
      width: 90%; }
    .wpsdsp-search-form.wpsdsp-search-form-three .selected {
      display: none; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-current-filters-top {
      display: none; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-current-filters-middle {
      display: none; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-current-filters_bottom:empty {
      display: none; }
    .wpsdsp-search-form.wpsdsp-search-form-three .selectArrow {
      display: none; }
    .wpsdsp-search-form.wpsdsp-search-form-three select {
      font-size: 18px;
      margin-left: 0px !important; }
      .wpsdsp-search-form.wpsdsp-search-form-three select option:hover {
        background-color: #ddf; }
      .wpsdsp-search-form.wpsdsp-search-form-three select.wpsdsp-range {
        color: #aaa; }
    .wpsdsp-search-form.wpsdsp-search-form-three input[type=text] {
      box-shadow: none;
      font-size: 18px;
      height: 34px; }
      .wpsdsp-search-form.wpsdsp-search-form-three input[type=text]::placeholder {
        color: #aaa;
        text-align: center; }
    .wpsdsp-search-form.wpsdsp-search-form-three .search-keyword input[type=text] {
      padding-left: 18px; }
    .wpsdsp-search-form.wpsdsp-search-form-three .selectBox {
      font-size: 18px;
      height: 34px; }
    .wpsdsp-search-form.wpsdsp-search-form-three select.selectOptions option {
      height: 22px;
      padding: 4px; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item.wpsdsp-item-submit {
      text-align: center;
      border: none;
      margin-top: 10px;
      padding-left: 4px;
      /* end .wpsdsp-button-box { */ }
      .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item.wpsdsp-item-submit .wpsdsp-button-box {
        float: none;
        margin-left: auto;
        margin-right: auto; }
        .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item.wpsdsp-item-submit .wpsdsp-button-box .wpsdsp-button {
          background: transparent;
          max-width: 38px;
          padding-top: 0px; }
          .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item.wpsdsp-item-submit .wpsdsp-button-box .wpsdsp-button .wpsdsp-button-label {
            color: #aaa;
            float: right;
            line-height: 36px;
            padding-left: 8px; }
            .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item.wpsdsp-item-submit .wpsdsp-button-box .wpsdsp-button .wpsdsp-button-label:hover {
              color: #1cc518; }
        .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item.wpsdsp-item-submit .wpsdsp-button-box .wpsdsp-button-icon {
          background-color: #333;
          background-image: url(../images/btn-search.png);
          border: 0;
          width: 34px;
          height: 34px;
          float: left;
          border-radius: 20px;
          cursor: pointer;
          font-size: 24px;
          padding: 0px; }
          .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item.wpsdsp-item-submit .wpsdsp-button-box .wpsdsp-button-icon:hover {
            background-color: #1cc518; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item {
      border-right: 1px solid #ddd;
      max-width: 175px; }
      .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-item:last-of-type {
        border: none; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-select-wrap {
      border: none;
      float: none;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
      min-height: 55px; }
    .wpsdsp-search-form.wpsdsp-search-form-three .keyword_search_button {
      display: none;
      height: 34px;
      width: 34px; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-label {
      height: 10px;
      visibility: hidden; }
    .wpsdsp-search-form.wpsdsp-search-form-three .wpsdsp-range .wpsdsp-label {
      color: #aaa;
      font-size: 12px;
      font-weight: 400;
      height: fit-content;
      line-height: 14px;
      visibility: visible; }
    .wpsdsp-search-form.wpsdsp-search-form-three .view_inventory_button {
      float: left;
      width: 100%; }
      .wpsdsp-search-form.wpsdsp-search-form-three .view_inventory_button div {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
        border-radius: 30px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 8px;
        text-align: center;
        width: 240px; }
        .wpsdsp-search-form.wpsdsp-search-form-three .view_inventory_button div:hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: #0b0; }

@media all and (max-width: 599px) {
  .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form {
    display: block; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp-item {
      max-width: 100%;
      border-right: none; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp-view-inventory-btn {
      display: none; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp_show_inventory_btn {
      display: none; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .search-keyword input[type=text] {
      border-radius: 0px; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form select {
      border: none;
      height: auto;
      min-height: 32px; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .selectOption {
      border: 1px solid #ddd; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp-current-filters {
      margin-bottom: 0px;
      margin-left: auto;
      margin-top: 10px;
      width: 100%; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form #wpsdsp-search-form {
      margin-top: 32px; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp-item.wpsdsp-item-submit {
      border-right: none;
      border-top: 1px solid #ddd;
      box-sizing: border-box;
      margin-top: 0px;
      padding-bottom: 10px;
      padding-top: 10px; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp-label {
      background: #eef;
      color: #333;
      font-size: 22px;
      height: auto;
      padding: 6px;
      visibility: visible; }
    .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp-button {
      display: block;
      float: none;
      max-width: 130px;
      margin-left: auto;
      margin-right: auto; }
      .wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form .wpsdsp-button .wpsdsp-button-label {
        display: block;
        float: left;
        font-size: 24px;
        margin-right: 10px;
        padding-top: 6px; }

  .wpsdsp-search-form.wpsdsp-search-form-two .wpsdsp-mobile-search-form-input {
    display: none; } }
/***********************************************************/
/* 
 * Style Four
*/
/***********************************************************/
.wpsdsp-search-form.wpsdsp-search-form-four .wpsdsp-item {
  max-width: 150px;
  min-height: auto; }
  .wpsdsp-search-form.wpsdsp-search-form-four .wpsdsp-item .wpsdsp-label {
    font-size: 14px;
    font-weight: 400;
    display: none; }
  .wpsdsp-search-form.wpsdsp-search-form-four .wpsdsp-item .selectArrow {
    display: none; }
  .wpsdsp-search-form.wpsdsp-search-form-four .wpsdsp-item select {
    color: #777;
    z-index: 1; }
  .wpsdsp-search-form.wpsdsp-search-form-four .wpsdsp-item .wpsd-sort-by-combined {
    color: #777; }
.wpsdsp-search-form.wpsdsp-search-form-four .wpsdsp-current-filters {
  display: none; }
.wpsdsp-search-form.wpsdsp-search-form-four .wpsd-sort-by-label {
  display: none; }
.wpsdsp-search-form.wpsdsp-search-form-four .wpsdsp-item-submit .wpsdsp-button {
  background-color: #777;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  min-width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  text-align: center;
  width: 100%; }

#frm_wpsd_sort select {
  border: none;
  box-sizing: border-box;
  left: 0;
  top: 0;
  padding: 0px;
  padding-left: 4px;
  padding-right: 22px;
  position: absolute;
  width: auto; }
  #frm_wpsd_sort select.wpsd-sort-by-combined {
    border: solid 1px #333;
    box-sizing: border-box;
    font-size: 14px;
    left: 0;
    top: 0;
    padding: 0px;
    padding-left: 4px;
    padding-right: 22px;
    padding-bottom: 1px;
    padding-top: 1px;
    position: relative; }
#frm_wpsd_sort .wpsd-sort-by-label {
  font-weight: 700;
  padding-left: 4px; }

/* START SEARCH FORM */
.wpsdsp-search-form {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */
  /* end css reset */
  /***********************************************************/
  /* 
   * Mobile adjustments
  */
  /***********************************************************/ }
  .wpsdsp-search-form div, .wpsdsp-search-form span, .wpsdsp-search-form applet, .wpsdsp-search-form object, .wpsdsp-search-form iframe,
  .wpsdsp-search-form h1, .wpsdsp-search-form h2, .wpsdsp-search-form h3, .wpsdsp-search-form h4, .wpsdsp-search-form h5, .wpsdsp-search-form h6, .wpsdsp-search-form p, .wpsdsp-search-form blockquote, .wpsdsp-search-form pre,
  .wpsdsp-search-form a, .wpsdsp-search-form abbr, .wpsdsp-search-form acronym, .wpsdsp-search-form address, .wpsdsp-search-form big, .wpsdsp-search-form cite, .wpsdsp-search-form code,
  .wpsdsp-search-form del, .wpsdsp-search-form dfn, .wpsdsp-search-form em, .wpsdsp-search-form img, .wpsdsp-search-form ins, .wpsdsp-search-form kbd, .wpsdsp-search-form q, .wpsdsp-search-form s, .wpsdsp-search-form samp,
  .wpsdsp-search-form small, .wpsdsp-search-form strike, .wpsdsp-search-form strong, .wpsdsp-search-form sub, .wpsdsp-search-form sup, .wpsdsp-search-form tt, .wpsdsp-search-form var,
  .wpsdsp-search-form b, .wpsdsp-search-form u, .wpsdsp-search-form i, .wpsdsp-search-form center,
  .wpsdsp-search-form dl, .wpsdsp-search-form dt, .wpsdsp-search-form dd, .wpsdsp-search-form ol, .wpsdsp-search-form ul, .wpsdsp-search-form li,
  .wpsdsp-search-form fieldset, .wpsdsp-search-form form, .wpsdsp-search-form label, .wpsdsp-search-form legend,
  .wpsdsp-search-form table, .wpsdsp-search-form caption, .wpsdsp-search-form tbody, .wpsdsp-search-form tfoot, .wpsdsp-search-form thead, .wpsdsp-search-form tr, .wpsdsp-search-form th, .wpsdsp-search-form td,
  .wpsdsp-search-form article, .wpsdsp-search-form aside, .wpsdsp-search-form canvas, .wpsdsp-search-form details, .wpsdsp-search-form embed,
  .wpsdsp-search-form figure, .wpsdsp-search-form figcaption, .wpsdsp-search-form footer, .wpsdsp-search-form header, .wpsdsp-search-form hgroup,
  .wpsdsp-search-form menu, .wpsdsp-search-form nav, .wpsdsp-search-form output, .wpsdsp-search-form ruby, .wpsdsp-search-form section, .wpsdsp-search-form summary,
  .wpsdsp-search-form time, .wpsdsp-search-form mark, .wpsdsp-search-form audio, .wpsdsp-search-form video, .wpsdsp-search-form input[type="text"],
  .wpsdsp-search-form input[type="password"], .wpsdsp-search-form input[type="email"],
  .wpsdsp-search-form input[type="url"], .wpsdsp-search-form input[type="date"], .wpsdsp-search-form input[type="month"],
  .wpsdsp-search-form input[type="time"], .wpsdsp-search-form input[type="datetime"], .wpsdsp-search-form input[type="datetime-local"],
  .wpsdsp-search-form input[type="week"], .wpsdsp-search-form input[type="number"], .wpsdsp-search-form input[type="search"], .wpsdsp-search-form input[type="tel"],
  .wpsdsp-search-form input[type="color"], .wpsdsp-search-form textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    vertical-align: baseline; }
    .wpsdsp-search-form div:focus, .wpsdsp-search-form span:focus, .wpsdsp-search-form applet:focus, .wpsdsp-search-form object:focus, .wpsdsp-search-form iframe:focus,
    .wpsdsp-search-form h1:focus, .wpsdsp-search-form h2:focus, .wpsdsp-search-form h3:focus, .wpsdsp-search-form h4:focus, .wpsdsp-search-form h5:focus, .wpsdsp-search-form h6:focus, .wpsdsp-search-form p:focus, .wpsdsp-search-form blockquote:focus, .wpsdsp-search-form pre:focus,
    .wpsdsp-search-form a:focus, .wpsdsp-search-form abbr:focus, .wpsdsp-search-form acronym:focus, .wpsdsp-search-form address:focus, .wpsdsp-search-form big:focus, .wpsdsp-search-form cite:focus, .wpsdsp-search-form code:focus,
    .wpsdsp-search-form del:focus, .wpsdsp-search-form dfn:focus, .wpsdsp-search-form em:focus, .wpsdsp-search-form img:focus, .wpsdsp-search-form ins:focus, .wpsdsp-search-form kbd:focus, .wpsdsp-search-form q:focus, .wpsdsp-search-form s:focus, .wpsdsp-search-form samp:focus,
    .wpsdsp-search-form small:focus, .wpsdsp-search-form strike:focus, .wpsdsp-search-form strong:focus, .wpsdsp-search-form sub:focus, .wpsdsp-search-form sup:focus, .wpsdsp-search-form tt:focus, .wpsdsp-search-form var:focus,
    .wpsdsp-search-form b:focus, .wpsdsp-search-form u:focus, .wpsdsp-search-form i:focus, .wpsdsp-search-form center:focus,
    .wpsdsp-search-form dl:focus, .wpsdsp-search-form dt:focus, .wpsdsp-search-form dd:focus, .wpsdsp-search-form ol:focus, .wpsdsp-search-form ul:focus, .wpsdsp-search-form li:focus,
    .wpsdsp-search-form fieldset:focus, .wpsdsp-search-form form:focus, .wpsdsp-search-form label:focus, .wpsdsp-search-form legend:focus,
    .wpsdsp-search-form table:focus, .wpsdsp-search-form caption:focus, .wpsdsp-search-form tbody:focus, .wpsdsp-search-form tfoot:focus, .wpsdsp-search-form thead:focus, .wpsdsp-search-form tr:focus, .wpsdsp-search-form th:focus, .wpsdsp-search-form td:focus,
    .wpsdsp-search-form article:focus, .wpsdsp-search-form aside:focus, .wpsdsp-search-form canvas:focus, .wpsdsp-search-form details:focus, .wpsdsp-search-form embed:focus,
    .wpsdsp-search-form figure:focus, .wpsdsp-search-form figcaption:focus, .wpsdsp-search-form footer:focus, .wpsdsp-search-form header:focus, .wpsdsp-search-form hgroup:focus,
    .wpsdsp-search-form menu:focus, .wpsdsp-search-form nav:focus, .wpsdsp-search-form output:focus, .wpsdsp-search-form ruby:focus, .wpsdsp-search-form section:focus, .wpsdsp-search-form summary:focus,
    .wpsdsp-search-form time:focus, .wpsdsp-search-form mark:focus, .wpsdsp-search-form audio:focus, .wpsdsp-search-form video:focus, .wpsdsp-search-form input[type="text"]:focus,
    .wpsdsp-search-form input[type="password"]:focus, .wpsdsp-search-form input[type="email"]:focus,
    .wpsdsp-search-form input[type="url"]:focus, .wpsdsp-search-form input[type="date"]:focus, .wpsdsp-search-form input[type="month"]:focus,
    .wpsdsp-search-form input[type="time"]:focus, .wpsdsp-search-form input[type="datetime"]:focus, .wpsdsp-search-form input[type="datetime-local"]:focus,
    .wpsdsp-search-form input[type="week"]:focus, .wpsdsp-search-form input[type="number"]:focus, .wpsdsp-search-form input[type="search"]:focus, .wpsdsp-search-form input[type="tel"]:focus,
    .wpsdsp-search-form input[type="color"]:focus, .wpsdsp-search-form textarea:focus {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      outline: none;
      vertical-align: baseline; }
  .wpsdsp-search-form article, .wpsdsp-search-form aside, .wpsdsp-search-form details, .wpsdsp-search-form figcaption, .wpsdsp-search-form figure,
  .wpsdsp-search-form footer, .wpsdsp-search-form header, .wpsdsp-search-form hgroup, .wpsdsp-search-form menu, .wpsdsp-search-form nav, .wpsdsp-search-form section {
    display: block; }
  .wpsdsp-search-form body {
    line-height: 1; }
  .wpsdsp-search-form ol, .wpsdsp-search-form ul {
    list-style: none; }
  .wpsdsp-search-form blockquote, .wpsdsp-search-form q {
    quotes: none; }
  .wpsdsp-search-form blockquote:before, .wpsdsp-search-form blockquote:after,
  .wpsdsp-search-form q:before, .wpsdsp-search-form q:after {
    content: '';
    content: none; }
  .wpsdsp-search-form table {
    border-collapse: collapse;
    border-spacing: 0; }
  .wpsdsp-search-form ul li {
    display: none; }
  .wpsdsp-search-form select, .wpsdsp-search-form input[type=text] {
    border: none;
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 0px;
    padding-left: 4px;
    position: absolute;
    width: 100%; }
    .wpsdsp-search-form select:focus, .wpsdsp-search-form input[type=text]:focus {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      outline: none;
      vertical-align: baseline; }
  .wpsdsp-search-form select {
    z-index: 1; }
    .wpsdsp-search-form select.wpsdsp-range {
      border: none;
      box-sizing: border-box;
      font-size: 16px;
      left: 0;
      top: 0;
      padding: 0px;
      padding-left: 4px;
      position: relative;
      line-height: 22px;
      margin: 0px;
      width: 50%; }
    .wpsdsp-search-form select.selectOptions {
      border: none;
      box-sizing: border-box;
      left: 0;
      font-size: 16px;
      line-height: 22px;
      top: 0;
      padding: 0px;
      padding-left: 4px;
      position: absolute;
      width: 100%; }
  .wpsdsp-search-form input[type=text] {
    z-index: 2; }
  .wpsdsp-search-form.wpsdsp-simple-selects .wpsdsp-select input[type=text] {
    display: none; }
  .wpsdsp-search-form .wpsdsp-label {
    box-sizing: border-box;
    color: #333;
    float: left;
    font-weight: 700;
    padding-left: 6px;
    width: 100%; }
  .wpsdsp-search-form .view_inventory_button {
    display: none; }
  .wpsdsp-search-form .wpsdsp-current-filters {
    float: left;
    width: 100%; }
    .wpsdsp-search-form .wpsdsp-current-filters.wpsdsp-current-filters-top {
      display: none; }
    .wpsdsp-search-form .wpsdsp-current-filters.wpsdsp-current-filters_bottom {
      display: none; }
  .wpsdsp-search-form .reset_wpsdsp_filters {
    display: none; }
  .wpsdsp-search-form .wpsdsp-item-submit .wpsdsp-button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 700;
    min-width: fit-content;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center; }
    .wpsdsp-search-form .wpsdsp-item-submit .wpsdsp-button:hover {
      color: #dfD; }
    .wpsdsp-search-form .wpsdsp-item-submit .wpsdsp-button label {
      cursor: pointer; }
  .wpsdsp-search-form .wpsdsp-item {
    float: left;
    max-width: 250px;
    min-height: 54px;
    position: relative;
    width: 100%; }
    .wpsdsp-search-form .wpsdsp-item .wpsd-sort-by-label {
      font-weight: 700;
      padding-left: 4px; }
    .wpsdsp-search-form .wpsdsp-item .wpsd-sort-by-combined {
      border: solid 1px #333;
      padding-bottom: 1px;
      padding-top: 1px;
      position: relative; }
    .wpsdsp-search-form .wpsdsp-item .selectArrow {
      display: none; }
  .wpsdsp-search-form .wpsdsp-spacer {
    display: none; }
  .wpsdsp-search-form .wpsdsp_select .wpsdsp-spacer {
    display: block; }
  .wpsdsp-search-form .wpsdsp-apply, .wpsdsp-search-form .wpsdsp-apply-cancel {
    display: none; }
  .wpsdsp-search-form .selectArrow {
    box-sizing: border-box;
    cursor: pointer;
    float: right;
    /*font-size: 32px;*/
    /*height: 36px;*/
    text-align: center;
    width: 75px;
    padding-left: 25px; }
  .wpsdsp-search-form .wpsdsp-checkbox div {
    float: left;
    width: 100%; }
  .wpsdsp-search-form .wpsdsp-checkbox .wpsdsp-select-wrap {
    border: none; }
  .wpsdsp-search-form .search-keyword input[type=text] {
    position: relative; }
  .wpsdsp-search-form .wpsdsp-range input[type=text], .wpsdsp-search-form .wpsdsp-checkbox input[type=text] {
    display: none; }
  .wpsdsp-search-form .selectBox {
    float: left;
    position: relative;
    width: 100%; }
  .wpsdsp-search-form .wpsdsp-tags-message {
    font-size: 18px;
    padding: 10px; }
  .wpsdsp-search-form .wpsdsp-tags-button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    background-clip: padding-box;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 13px;
    line-height: 21px;
    margin: 0px 0 3px 5px;
    padding: 3px 8px 3px 3px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .wpsdsp-search-form .wpsdsp-tags-button:hover {
      color: #0a0; }
    .wpsdsp-search-form .wpsdsp-tags-button i {
      margin-right: 4px; }
    .wpsdsp-search-form .wpsdsp-tags-button.wpsdsp-button-apply {
      display: none; }
  .wpsdsp-search-form .selected-wrap {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    color: #333;
    cursor: default;
    float: left;
    font-size: 13px;
    line-height: 15px;
    margin: 10px 0 3px 5px;
    padding: 3px 5px 3px 3px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .wpsdsp-search-form .selected {
    display: none;
    float: left;
    margin-bottom: 8px;
    width: 100%; }
  .wpsdsp-search-form .selected-remove {
    background: #b00;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 100%;
    left: 0;
    right: 3px;
    margin-right: 6px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 3px;
    padding-left: 3px;
    width: 12px; }
  .wpsdsp-search-form .selected_value {
    /* white-space: nowrap; */ }
  .wpsdsp-search-form .wpsdsp-select-wrap {
    border: 1px #333 solid;
    box-sizing: border-box;
    float: left;
    width: 100%; }
  .wpsdsp-search-form .search_keyword_selected {
    display: none; }
  .wpsdsp-search-form .keyword_search_button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3; }
  .wpsdsp-search-form .vehicle_search_keyword_box {
    height: 24px; }
  .wpsdsp-search-form .wpsdsp_closed_field {
    display: none; }
  .wpsdsp-search-form .wpsdsp_hide_field {
    display: none; }
  .wpsdsp-search-form .wpsdsp-checkbox .selected_unhide {
    display: none !important; }
  .wpsdsp-search-form input[type=button].wpsdsp_show_inventory_btn {
    background: #b00;
    color: #fff;
    font-weight: 700;
    position: absolute;
    line-height: 14px;
    padding: 10px;
    width: 34px;
    right: 0;
    text-align: center;
    top: 52px;
    z-index: 4; }
  .wpsdsp-search-form input[type=button].wpsdsp-view-inventory-btn {
    background: #0f5889;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    display: none;
    float: none;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    padding: 10px;
    position: fixed;
    text-align: center;
    text-transform: none;
    width: 100%;
    z-index: 50; }
  .wpsdsp-search-form input[type=button].wpsdsp-view-inventory-btn.wpsdsp-view-inventory-btn_top {
    bottom: unset;
    top: 0; }
  .wpsdsp-search-form.wpsdsp-mobile-search-form {
    display: none;
    background: #fff;
    margin-bottom: 0px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 100% !important; }
    .wpsdsp-search-form.wpsdsp-mobile-search-form #wpsdsp-search-form {
      float: left;
      margin-top: 52px;
      width: 100%; }
    .wpsdsp-search-form.wpsdsp-mobile-search-form .wpsdsp-label {
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px; }
    .wpsdsp-search-form.wpsdsp-mobile-search-form .wpsdsp-mobile-search-form-input {
      visibility: hidden; }
    .wpsdsp-search-form.wpsdsp-mobile-search-form .wpsdsp-item {
      max-width: 100%; }
    .wpsdsp-search-form.wpsdsp-mobile-search-form .selectBox {
      /*margin-top: 38px;*/
      padding-top: 10px;
      padding-bottom: 10px; }
    .wpsdsp-search-form.wpsdsp-mobile-search-form label {
      margin-bottom: 6px;
      margin-top: 6px; }
    .wpsdsp-search-form.wpsdsp-mobile-search-form select, .wpsdsp-search-form.wpsdsp-mobile-search-form input[type=text] {
      min-height: 42px; }

/**
 * Mobile Break Points
**/
@media only screen and (max-width: 479px) {
  .wpsdsp-search-form .selected-wrap, .wpsdsp-search-by-item {
    font-size: 23px !important;
    line-height: 25px !important; } }
.wpsdsp-mobile-lightbox {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 14999; }

/*
Custom class for not converting the mobile form to just a button
*/
.wpsdsp-search-form.wpsdsp-search-form.wpsdsp_tb_no_mobile_button {
  display: block; }
