@import 'bin/common';
@import 'bin/loading';
@import 'bin/sliders';
@import 'bin/style_two';
@import 'bin/style_three';
@import 'bin/style_four';

#frm_wpsd_sort {
	
	select {
		border: none;
		box-sizing: border-box;
		left: 0;
		top: 0;
		padding: 0px;
		padding-left: 4px;
		padding-right: 22px;
		position: absolute;
		width: auto;
		
		&.wpsd-sort-by-combined {
			border: solid 1px #333;
			box-sizing: border-box;
			font-size: 14px;
			left: 0;
			top: 0;
			padding: 0px;
			padding-left: 4px;
			padding-right: 22px;
			padding-bottom: 1px;
			padding-top: 1px;
			position: relative;
		}
	}
	.wpsd-sort-by-label {
		font-weight: 700;
		padding-left: 4px;
	}
}

/* START SEARCH FORM */
.wpsdsp-search-form {
	position: relative;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 22px;

	/* Start CSS reset */
	div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video, input[type="text"],
	input[type="password"], input[type="email"], 
	input[type="url"], input[type="date"], input[type="month"], 
	input[type="time"], input[type="datetime"], input[type="datetime-local"], 
	input[type="week"], input[type="number"], input[type="search"], input[type="tel"], 
	input[type="color"], textarea {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		outline: none;
		vertical-align: baseline;
		
		&:focus {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			outline: none;
			vertical-align: baseline;
		}
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	/* end css reset */

	ul li {
		display: none;
	}
	select, input[type=text] {
		border: none;
		box-sizing: border-box;
		left: 0;
		top: 0;
		padding: 0px;
		padding-left: 4px;
		position: absolute;
		width: 100%;
		
		&:focus {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			outline: none;
			vertical-align: baseline;
		}
	}
	select {
		z-index: 1;
		
		&.wpsdsp-range {
			border: none;
			box-sizing: border-box;
			font-size: 16px;
			left: 0;
			top: 0;
			padding: 0px;
			padding-left: 4px;
			position: relative;
			line-height: 22px;
			margin: 0px;
			width: 50%;
		}
		&.selectOptions {
			border: none;
			box-sizing: border-box;
			left: 0;
			font-size: 16px;
			line-height: 22px;
			top: 0;
			padding: 0px;
			padding-left: 4px;
			position: absolute;
			width: 100%;
		}
	}
	input[type=text] {
		z-index: 2;
	}

    &.wpsdsp-simple-selects {
        
        .wpsdsp-select {
            
            input[type=text] {
                display: none;
            }
        }
    }
	.wpsdsp-label {
		box-sizing: border-box;
		color: #333;
		float: left;
		font-weight: 700;
		padding-left: 6px;
		width: 100%;
	}
	.view_inventory_button {
		display: none;
	}
	.wpsdsp-current-filters {
		float: left;
		width: 100%;
		
		&.wpsdsp-current-filters-top {
			display: none;
		}
		&.wpsdsp-current-filters_bottom {
			display: none;
		}
	}
	.reset_wpsdsp_filters {
		display: none;
	}
    .wpsdsp-item-submit {
        
        .wpsdsp-button {
            background-color: #333;
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 18px;
            font-weight: 700;
            min-width: fit-content;
            max-width: 140px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            text-align: center;
            
            &:hover {
                color: #dfD;
            }
            
            label {
                cursor: pointer;
            }
        }
    }
	.wpsdsp-item {
		float: left;
		max-width: 250px;
        min-height: 54px;
		position: relative;
		width: 100%;
		
		.wpsd-sort-by-label {
			font-weight: 700;
			padding-left: 4px;
		}
		.wpsd-sort-by-combined {
			border: solid 1px #333;
			padding-bottom: 1px;
			padding-top: 1px;
			position: relative;
		}
		.selectArrow {
			display: none;
		}
	}
	.wpsdsp-spacer {
		display: none;
	}
	.wpsdsp_select .wpsdsp-spacer {
		display: block;
	}
	.wpsdsp-apply, .wpsdsp-apply-cancel {
		display: none;
	}
	.selectArrow {
		box-sizing: border-box;
		cursor: pointer;
		float: right;
		/*font-size: 32px;*/
		/*height: 36px;*/
		text-align: center;
		width: 75px;
		padding-left: 25px;
	}
	.wpsdsp-checkbox {
        div {
		    float: left;
		    width: 100%;
        }
        .wpsdsp-select-wrap {
            border: none;
        }
	}
	.search-keyword input[type=text] {
		position: relative;
	}
	.wpsdsp-range input[type=text], .wpsdsp-checkbox input[type=text] {
		display: none;
	}
	.selectBox {
		float: left;
		position: relative;
		width: 100%;
	}
    .wpsdsp-tags-message {
        font-size: 18px;
        padding: 10px;
    }
    .wpsdsp-tags-button {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        background-clip: padding-box;
        color: #333;
        cursor: pointer;
        float: left;
        font-size: 13px;
        line-height: 21px;
        margin: 0px 0 3px 5px;
        padding: 3px 8px 3px 3px;
        position: relative;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        &:hover {
            color: #0a0;
        }
        
        i {
            margin-right: 4px;
        }
        
        &.wpsdsp-button-apply {
            display: none;
        }
    }
	.selected-wrap {
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0,0,0,0.05);
		background-clip: padding-box;
		color: #333;
		cursor: default;
		float: left;
		font-size: 13px;
		line-height: 15px;
		margin: 10px 0 3px 5px;
		padding: 3px 5px 3px 3px;
		position: relative;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.selected {
		display: none;
		float: left;
		margin-bottom: 8px;
		width: 100%;
	}
	.selected-remove {
		background: #b00;
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		font-weight: 700;
		height: 100%;
		left: 0;
		right: 3px;
		margin-right: 6px;
		padding-bottom: 0px;
		padding-top: 0px;
		padding-right: 3px;
		padding-left: 3px;
		width: 12px;
	}
	.selected_value {
		/* white-space: nowrap; */
	}
	.wpsdsp-select-wrap {
		border: 1px #333 solid;
		box-sizing: border-box;
		float: left;
		width: 100%;
	}
	.search_keyword_selected {
		display: none;
	}
	.keyword_search_button {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
	}
	.vehicle_search_keyword_box {
		height: 24px;
	}
	.wpsdsp_closed_field {
		display: none;
	}
	.wpsdsp_hide_field {
		display: none;
	}
	.wpsdsp-checkbox .selected_unhide {
		display: none !important;
	}
	input[type=button] {

		&.wpsdsp_show_inventory_btn {
			background: #b00;
			color: #fff;
			font-weight: 700;
			position: absolute;
			line-height: 14px;
			padding: 10px;
			width: 34px;
			right: 0;
			text-align: center;
			top: 52px;
			z-index: 4;
		}
		&.wpsdsp-view-inventory-btn {
			background: #0f5889;
			bottom: 0;
			color: #fff;
			cursor: pointer;
			display: none;
			float: none;
			font-size: 20px;
            font-weight: 400;
			left: 0;
			margin-left: auto;
			margin-right: auto;
			min-width: 100%;
			padding: 10px;
			position: fixed;
			text-align: center;
			text-transform: none;
			width: 100%;
			z-index: 50;
		}
		&.wpsdsp-view-inventory-btn.wpsdsp-view-inventory-btn_top {
			bottom: unset;
			top: 0;
		}
	}

	/***********************************************************/
	/* 
	 * Mobile adjustments
	*/
	/***********************************************************/
	&.wpsdsp-mobile-search-form {
		display: none;
        background: #fff;
        margin-bottom: 0px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        width: 100% !important;

        #wpsdsp-search-form {
			float: left;
			margin-top: 52px;
			width: 100%;            
		}
        .wpsdsp-label {
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
		.wpsdsp-mobile-search-form-input {
			visibility: hidden;
		}
		.wpsdsp-item {
			max-width: 100%;
		}
		.selectBox {
			/*margin-top: 38px;*/
            padding-top: 10px;
            padding-bottom: 10px;
		}
        label {
            margin-bottom: 6px;
            margin-top: 6px;
        }
        select, input[type=text] {
            min-height: 42px;
        }
	}

}

/**
 * Mobile Break Points
**/
@media only screen and (max-width : 479px) {
	.wpsdsp-search-form .selected-wrap, .wpsdsp-search-by-item {
		font-size: 23px !important;
		line-height: 25px !important;
	}	
}

.wpsdsp-mobile-lightbox {
	background-color: #fff;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 14999;
}


/*
Custom class for not converting the mobile form to just a button
*/
.wpsdsp-search-form.wpsdsp-search-form.wpsdsp_tb_no_mobile_button {
	display: block;
}