/* CSS Document */

.wpsd-calculator {
	/* Start CSS reset */
	div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-family: sans-serif;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
    i {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		text-decoration: none;
    }
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		
		tr {
			display: block;
			float: left;
			padding: 4px;
			width: calc(100% - 8px);
			
			td {
				display: block;
				float: left;
				width: 50%;
			}
		}
	}

	font-family: sans-serif;
	font-size: 20px;
	
	input[type=text], select {
		float: left;
		width: 80%;
		margin: 0;
		padding: 4px;
		border: 0;
		font-family: sans-serif;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
		
		&.wpsd-calc-payment {
            font-size: 1.2em;
            font-weight: 700;
            text-align: center;
            width: 100%;
		}
	}
	
	input[type=button] {
		box-sizing: border-box;
		float: left;
		clear: both;
		width: 100%;
		margin: 0;
		margin-bottom: 4px;
		margin-top: 4px;
		padding: 4px;
		border: 0;
		font-family: sans-serif;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
	
}

.wpsd-calc-block-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}