/* CSS Document */
.wpsd-edit-vehicle-data-api-wrap {
    position: relative;
    
    .wpsd-vehicle-history-report-wrap {
        display: none;
        left: 0px;
        position: absolute;
        top: 0px;
        z-index: 20;

        .wpsd-close-report {
            display: block;
        }
        
        .wpsd-report-section-header {
            width: 100%;
        }
        .wpsd-report-section {
            width: calc( 100% - 60px );
        }
    }
}

.wpsd-vehicle-history-report-wrap {
    background-color: #fff;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
    
    div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      line-height: 1;
      vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
    }
    ol, ul {
      list-style: none;
    }
    i {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      line-height: 1;
      vertical-align: baseline;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after {
      content: '';
      content: none;
    }
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    .wpsd-close-report {
        display: none;
    }
    
    .wpsd-vehicle-history-report {
        border: 1px solid #999;
        border-radius: 2px;
        color: #000;
        float: left;
        width: 100%;
    }
    
    .wpsd-vhr-header {
        background-color: #dbffc6;
        height: 100px;
        position: relative;
    }
    .wpsd-vhr-section {
        padding: 15px 20px;
        position: relative;
    }
    .wpsd-vhr-logo {
        position:absolute; 
        right: 16px; 
        top:7px
    }
    .wpsd-vhr-table {
        clear: both;
        margin-top: 7px;
        width: 100%;
        
        td {
            vertical-align: top
        }
    }
    .wpsd-vhr-title {
        font: 700 30px arial;
        margin: 15px 0;
        padding: 15px 0;        
    }
    .wpsd-vhr-sub-title {
        font: 400 22px arial;
        margin: 0 0 10px;
        
        b {
            font-weight: 700;
        }
    }
    .wpsd-vhr-info {
        font-size: 12px;
        padding-top: 6px;
        vertical-align: top;
            
        table {
            
        }
    }
    
    .wpsd-report-section {
        border: solid 1px #bbb;
        float: left;
        margin: 20px;
        padding: 10px;
        width: calc( 100% - 40px );
    }
    .wpsd-report-section-header {
        background-color: #e8e8ff;
        float: left;
        padding: 10px;
        position: relative;
        margin-bottom: 10px;
        margin-left: -10px;
        margin-top: -10px;
        width: calc(100% + 20px);
    }
    .wpsd-section-source {
        bottom: 20px;
        font-size: 12px;
        position: absolute;
        right: 20px;
    }
    .wpsd-report-section-title {
        font-size: 26px;
        font-weight: 700;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .wpsd-report-section-summary {
        font-size: 12px;
        padding-bottom: 10px;
    }
    .wpsd-report-item {
        float: left;
        padding: 2px;
        width: calc(100% - 4px);
        
        &:nth-of-type(odd) {
            background-color: #eee;
        }
    }
    .wpsd-report-item-label {
        float: left;
        font-weight: 500;
        padding: 4px;
        text-transform: uppercase;
        width: calc( 50% - 8px );
    }
    .wpsd-report-item-value {
        float: left;
        padding: 4px;
        width: calc( 50% - 8px );
    }
    
    .wpsd-report-item-table {
        float: left;
        width: 100%;
        
        th {
            background-color: #eee;
            font-weight: 500;
            padding: 6px;
            text-align: left;
        }
        td {
            padding: 6px;
            text-align: left;
        }
    }
    
    .wpsd-report-theft-item {
        float: left;
        font-size: 12px;
        margin: 4px;
        width: fit-content;
    }
    .wpsd-report-theft-item-label {
        float: left;
        font-size: 14px;
        font-weight: 500;
        padding: 4px;
        width: fit-content;
    }
    .wpsd-report-theft-item-value {
        background-color: #efeeef;
        float: left;
        font-size: 12px;
        line-height: 12px;
        padding: 4px;
        width: fit-content;
        text-decoration: underline;
    }

    .wpsd-report-accident-item {
        float: left;
        font-size: 12px;
        margin: 4px;
        width: fit-content;
    }
    .wpsd-report-accident-item-label {
        float: left;
        font-size: 14px;
        font-weight: 500;
        padding: 4px;
        width: fit-content;
    }
    .wpsd-report-accident-item-value {
        background-color: #efeeef;
        float: left;
        font-size: 12px;
        line-height: 12px;
        padding: 4px;
        width: fit-content;
        text-decoration: underline;
    }

   .wpsd-report-salvage-item {
        float: left;
        font-size: 12px;
        margin: 4px;
        width: fit-content;
    }
    .wpsd-report-salvage-item-label {
        float: left;
        font-size: 14px;
        font-weight: 500;
        padding: 4px;
        width: fit-content;
    }
    .wpsd-report-salvage-item-value {
        background-color: #efeeef;
        float: left;
        font-size: 12px;
        line-height: 12px;
        padding: 4px;
        width: fit-content;
        text-decoration: underline;
    }

   .wpsd-report-sale-item {
        float: left;
        font-size: 12px;
        margin: 4px;
        width: fit-content;
    }
    .wpsd-report-sale-item-label {
        float: left;
        font-size: 14px;
        font-weight: 500;
        padding: 4px;
        width: fit-content;
    }
    .wpsd-report-sale-item-value {
        background-color: #efeeef;
        float: left;
        font-size: 12px;
        line-height: 12px;
        padding: 4px;
        width: fit-content;
        text-decoration: underline;
    }

   .wpsd-report-check-item {
        float: left;
        font-size: 12px;
        margin: 4px;
        width: fit-content;
    }
    .wpsd-report-check-item-label {
        float: left;
        font-size: 14px;
        font-weight: 500;
        padding: 4px;
        width: fit-content;
    }
    .wpsd-report-check-item-value {
        background-color: #efeeef;
        float: left;
        font-size: 12px;
        line-height: 12px;
        padding: 4px;
        width: fit-content;
        text-decoration: underline;
    }

    .wpsd-report-theft-record, .wpsd-report-accident-record, 
    .wpsd-report-salvage-record, .wpsd-report-sale-record,
    .wpsd-report-check-record {
        border-bottom: 1px solid #333;
    }

}

@media all and (max-width: 575px) {
    
    .wpsd-vehicle-history-report-wrap {
        
        .wpsd-vhr-header {
            height: auto;
            
            .wpsd-vhr-logo {
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                width: 132px;
            }
        }
        
        .wpsd-report-item-label {
            max-width: calc(50% - 8px);
            width: fit-content;
        }
        .wpsd-report-item-value {
            text-align: right;
            width: fit-content;
            float: right;
        }
        
        .wpsd-report-section-titles, .wpsd-report-section-attributes {
            
            .wpsd-report-item-table-row:nth-of-type(1) {
                display: none;
            }
            
            tr {
                border-bottom: 1px solid #333;
                float: left;
                padding-bottom: 10px;
            }
            
            td, th {
                background-color: #eee;
                display: block;
                float: left;
                margin: 4px;
                padding: 4px;
            }
        }
    }
}