#wpsd-container-wrap {
	position: relative;
	
	.wp-pagenavi {

		a.last {
			display: none;
		}
		a.first {
			display: none;
		}
		.pages {
			display: none;
		}
	}
}
.wpsd-navigation-wrap {
	float: left;
	max-width: 400px;
	width: 100%;
}
.wpsd-navigation {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 10px;
	margin-top: 10px;

	/* Start CSS reset */
	div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	/* end css reset */

	li {
		display: inline;

		a {
			color: #333;
			text-decoration: none;
			background-color: #fff;
			border: 1px solid #333;
			cursor: pointer;
			padding: 4px;
			margin: 2px;

			&:hover {
				color: #333;
				text-decoration: none;
				background-color: #fff;
				border: 1px solid #333;
				cursor: pointer;
				padding: 4px;
				margin: 2px;
				background-color: #ccc;
			}
		}

	}

	li.active {

		a {
			color: #333;
			text-decoration: none;
			background-color: #fff;
			border: 1px solid #333;
			cursor: pointer;
			padding: 4px;
			margin: 2px;
			background-color: #ccc;
		}
	}

	li.disabled {
		color: #333;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #333;
		cursor: pointer;
		padding: 4px;
		margin: 2px;
	}
}