/* CSS Document */
.wpsd-search-by-wrap {
	float: left;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	max-width: 300px;
	width: 100%;

	/* Start CSS reset */
	div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	.wpsd-search-by-item {
		background-color: #ccc;
		float: left;
		font-size: 14px;
		line-height: 20px;
		font-weight: 700;
		margin: 4px;
		position: relative;
		
		.wpsd-search-by-item-remove {
			background-color: #b00;
			color: #fff;
			cursor: pointer;
			height: 18px;
			float: left;
			font-size: 10px;
			font-weight: 700;
			line-height: 10px;
			padding: 4px;
			text-align: center;
			width: 18px;
		}

		.wpsd-search-by-item-title {
			float: left;
			line-height: 14px;
			padding: 2px;
			padding-left: 6px;
			padding-right: 6px;
		}
	}
}

.srp-results-found, .wpsd-no-results-msg-wrap {
	float: left;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 6px;
	padding-top: 6px;
	max-width: 300px;
	width: 100%;

	/* Start CSS reset */
	div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
}

.wpsd-no-results-msg-wrap {
	max-width: 100%;
}

.wpsd-switch-srp-style-wrap {
	cursor: pointer;
	float: right;
	padding: 10px;
	padding-right: 0px;
	
	.wpsd-switch-srp-style-item {
		background-color: transparent;
		float: left;
		margin: 1px;

		&.active {
			background-color: #ccf;
		}

		&:hover {
			background-color: #cfc;
		}
	}
}

.wpsd-load-more-wrap {
	float: left;
	width: 100%;
	
	.wpsd-load-more {
		margin-left: auto;
		margin-right: auto;
		max-width: 220px !important;
		width: 100%;
	}
}