/* CSS Document */
/* CSS Document */
@media all and (max-width: 575px) {
  .srp-item.srp-item-one.grid {
    max-width: 100% !important; }
    .srp-item.srp-item-one.grid .srp-main-photo-wrap .srp-main-photo {
      height: auto;
      max-height: initial;
      max-width: 100% !important; }
    .srp-item.srp-item-one.grid .col {
      max-width: 100% !important; }
  .srp-item.srp-item-one .srp-main-photo-wrap .srp-main-photo {
    max-height: initial !important;
    max-width: 100% !important; }
  .srp-item.srp-item-one .col {
    max-width: 100% !important; } }
/* CSS Document */
@media all and (min-width: 576px) and (max-width: 768px) {
  .srp-item {
    /* end &.srp-item-one { */ }
    .srp-item.srp-item-one.grid {
      max-width: 100% !important; }
      .srp-item.srp-item-one.grid .srp-main-photo-wrap .srp-main-photo {
        max-width: 100% !important; }
      .srp-item.srp-item-one.grid .col {
        max-width: 100% !important; }
    .srp-item.srp-item-one .col {
      max-width: 182px !important; }
    .srp-item.srp-item-one .srp-main-photo-wrap .srp-main-photo {
      max-width: 176px !important; } }
/* CSS Document */
/* CSS Document */
.srp-item {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */
  /* end css reset */
  /* end &.srp-item-one { */ }
  .srp-item div, .srp-item span, .srp-item applet, .srp-item object, .srp-item iframe,
  .srp-item h1, .srp-item h2, .srp-item h3, .srp-item h4, .srp-item h5, .srp-item h6, .srp-item p, .srp-item blockquote, .srp-item pre,
  .srp-item a, .srp-item abbr, .srp-item acronym, .srp-item address, .srp-item big, .srp-item cite, .srp-item code,
  .srp-item del, .srp-item dfn, .srp-item em, .srp-item img, .srp-item ins, .srp-item kbd, .srp-item q, .srp-item s, .srp-item samp,
  .srp-item small, .srp-item strike, .srp-item strong, .srp-item sub, .srp-item sup, .srp-item tt, .srp-item var,
  .srp-item b, .srp-item u, .srp-item center,
  .srp-item dl, .srp-item dt, .srp-item dd, .srp-item ol, .srp-item ul, .srp-item li,
  .srp-item fieldset, .srp-item form, .srp-item label, .srp-item legend,
  .srp-item table, .srp-item caption, .srp-item tbody, .srp-item tfoot, .srp-item thead, .srp-item tr, .srp-item th, .srp-item td,
  .srp-item article, .srp-item aside, .srp-item canvas, .srp-item details, .srp-item embed,
  .srp-item figure, .srp-item figcaption, .srp-item footer, .srp-item header, .srp-item hgroup,
  .srp-item menu, .srp-item nav, .srp-item output, .srp-item ruby, .srp-item section, .srp-item summary,
  .srp-item time, .srp-item mark, .srp-item audio, .srp-item video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .srp-item i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none; }
  .srp-item article, .srp-item aside, .srp-item details, .srp-item figcaption, .srp-item figure,
  .srp-item footer, .srp-item header, .srp-item hgroup, .srp-item menu, .srp-item nav, .srp-item section {
    display: block; }
  .srp-item body {
    line-height: 1; }
  .srp-item ol, .srp-item ul {
    list-style: none; }
  .srp-item blockquote, .srp-item q {
    quotes: none; }
  .srp-item blockquote:before, .srp-item blockquote:after,
  .srp-item q:before, .srp-item q:after {
    content: '';
    content: none; }
  .srp-item table {
    border-collapse: collapse;
    border-spacing: 0; }
  .srp-item.srp-item-one {
    background-color: #fff;
    border-bottom: 1px dashed #333;
    float: left;
    margin-bottom: 8px; }
    .srp-item.srp-item-one .srp-main-photo-wrap {
      float: left; }
      .srp-item.srp-item-one .srp-main-photo-wrap .srp-main-photo {
        max-width: 184px;
        max-height: 120px;
        width: 100%; }
    .srp-item.srp-item-one .srp-title {
      font-size: 18px;
      line-height: 20px; }
    .srp-item.srp-item-one .col {
      float: left;
      width: 100%; }
    .srp-item.srp-item-one .srp-field {
      float: left;
      padding: 4px;
      width: calc(100% - 8px); }
      .srp-item.srp-item-one .srp-field .srp-field-title {
        float: left;
        font-weight: 700;
        min-width: fit-content;
        width: 50%; }
      .srp-item.srp-item-one .srp-field .srp-field-value {
        float: left;
        min-width: fit-content;
        width: 50%; }
    .srp-item.srp-item-one .vehicle-price-box {
      background-color: #eee;
      border: 1px dashed #333;
      float: left;
      padding: 6px;
      text-align: center;
      width: 100%; }
      .srp-item.srp-item-one .vehicle-price-box .price-item {
        float: left;
        width: 100%;
        /* end &.price-item-price { */ }
        .srp-item.srp-item-one .vehicle-price-box .price-item.no-price {
          font-size: 16px;
          font-weight: 700; }
        .srp-item.srp-item-one .vehicle-price-box .price-item .price-item-label {
          float: left;
          font-weight: 700;
          width: 50%; }
        .srp-item.srp-item-one .vehicle-price-box .price-item .price-item-value-wrap {
          float: left;
          width: 50%; }
        .srp-item.srp-item-one .vehicle-price-box .price-item .price-after {
          font-size: 12px;
          vertical-align: top; }
        .srp-item.srp-item-one .vehicle-price-box .price-item.price-item-price .price-item-label {
          float: left;
          line-height: 20px;
          font-size: 20px;
          width: 100%; }
        .srp-item.srp-item-one .vehicle-price-box .price-item.price-item-price .price-item-value-wrap {
          color: #0b0;
          float: left;
          line-height: 22px;
          font-size: 22px;
          font-weight: 700;
          width: 100%; }
    .srp-item.srp-item-one.full {
      width: 100%; }
      .srp-item.srp-item-one.full .col {
        max-width: calc(33% - 8px);
        min-width: 192px;
        padding: 4px; }
    .srp-item.srp-item-one.list {
      margin-bottom: 4px;
      width: 100%; }
      .srp-item.srp-item-one.list .srp-title {
        font-size: 16px;
        line-height: 18px; }
      .srp-item.srp-item-one.list .col {
        max-width: calc(33% - 8px);
        min-width: 236px;
        padding: 4px; }
        .srp-item.srp-item-one.list .col:nth-of-type(1) {
          max-width: 108px; }
          .srp-item.srp-item-one.list .col:nth-of-type(1) img {
            max-width: 100px; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item .price-after {
        font-size: 10px; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item-label, .srp-item.srp-item-one.list .vehicle-price-box .price-item-value {
        font-size: 12px;
        line-height: 12px; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item-price .price-item-label {
        font-size: 16px;
        line-height: 22px;
        width: 50%; }
      .srp-item.srp-item-one.list .vehicle-price-box .price-item-price .price-item-value-wrap {
        width: 50%; }
        .srp-item.srp-item-one.list .vehicle-price-box .price-item-price .price-item-value-wrap .price-item-value {
          font-size: 18px;
          line-height: 18px; }
      .srp-item.srp-item-one.list .srp-field {
        display: none; }
        .srp-item.srp-item-one.list .srp-field:nth-of-type(2) {
          display: block; }
        .srp-item.srp-item-one.list .srp-field:nth-of-type(3) {
          display: block; }
    .srp-item.srp-item-one.grid {
      margin-left: 5px;
      margin-right: 5px;
      max-width: 180px;
      width: 100%; }
      .srp-item.srp-item-one.grid .srp-main-photo-wrap .srp-main-photo {
        max-width: 180px; }
      .srp-item.srp-item-one.grid .srp-title {
        font-size: 14px;
        padding-left: 4px;
        padding-right: 4px;
        overflow: hidden;
        text-align: center;
        white-space: nowrap; }
      .srp-item.srp-item-one.grid .srp-field {
        display: none; }
        .srp-item.srp-item-one.grid .srp-field:nth-of-type(2) {
          display: block; }
      .srp-item.srp-item-one.grid .vehicle-price-box {
        box-sizing: border-box;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        margin-top: 6px;
        width: 90%; }
      .srp-item.srp-item-one.grid .price-item {
        display: none; }
        .srp-item.srp-item-one.grid .price-item.price-item-price {
          display: block; }
