/* CSS Document */
@import 'srp-item/575';
@import 'srp-item/768';
@import 'srp-item/991';
@import 'srp-item/1199';

.srp-item {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	
	/* Start CSS reset */
	div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
	i {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		text-decoration: none;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	/* end css reset */

	&.srp-item-one {
		background-color: #fff;
		border-bottom: 1px dashed #333;
		float: left;
		margin-bottom: 8px;
	
		.srp-main-photo-wrap {
			float: left;
			
			.srp-main-photo {
				max-width: 184px;
                max-height: 120px;
                width: 100%;
			}
		}

		.srp-title {
			font-size: 18px;
			line-height: 20px;
		}

		.col {
			float: left;
			width: 100%;
		}
		
		.srp-field {
			float: left;
			padding: 4px;
			width: calc(100% - 8px);

			.srp-field-title {
				float: left;
				font-weight: 700;
				min-width: fit-content;
				width: 50%;
			}
			.srp-field-value {
				float: left;
				min-width: fit-content;
				width: 50%;
			}
		}
		
		.vehicle-price-box {
			background-color: #eee;
			border: 1px dashed #333;
			float: left;
			padding: 6px;
			text-align: center;
			width: 100%;

			.price-item {
				float: left;
				width: 100%;
				
				&.no-price {
					font-size: 16px;
					font-weight: 700;
				}
				
				.price-item-label {
					float: left;
					font-weight: 700;
					width: 50%;
				}
				.price-item-value-wrap {
					float: left;
					width: 50%;

					.price-item-value {

					}
				}
				.price-before {

				}
				.price-after {
					font-size: 12px;
					vertical-align: top;
				}
				
				&.price-item-price {
					
					.price-item-label {
						float: left;
						line-height: 20px;
						font-size: 20px;
						width: 100%;
					}
					.price-item-value-wrap {
						color: #0b0;
						float: left;
						line-height: 22px;
						font-size: 22px;
						font-weight: 700;
						width: 100%;
					}
				} /* end &.price-item-price { */
			}
		}
		
		&.full {
			width: 100%;

			.col {
				max-width: calc(33% - 8px);
				min-width: 192px;
				padding: 4px;
				
				&:nth-of-type(2) {

				}
				&:nth-of-type(3) {

				}
			}
		}
		&.list {
			margin-bottom: 4px;
			width: 100%;
			
			.srp-title {
				font-size: 16px;
				line-height: 18px;
			}

			.col {
				max-width: calc(33% - 8px);
				min-width: 236px;
				padding: 4px;
				
				&:nth-of-type(1) {
					max-width: 108px;
					
					img {
						max-width: 100px;
					}
				}
				&:nth-of-type(3) {

				}
			}

			.vehicle-price-box {
				
				.price-item {
					
					.price-after {
						font-size: 10px;
					}
				}
				
				.price-item-label, .price-item-value {
					font-size: 12px;
					line-height: 12px;
				}
				
				.price-item-price {

					.price-item-label {
						font-size: 16px;
						line-height: 22px;
						width: 50%;
					}
					.price-item-value-wrap {
						width: 50%;
						
						.price-item-value {
							font-size: 18px;
							line-height: 18px;
						}
					}
				}
			}

			.srp-field {
				display: none;

				&:nth-of-type(2) {
					display: block;
				}
				&:nth-of-type(3) {
					display: block;
				}
			}
		}
		&.grid {
			margin-left: 5px;
			margin-right: 5px;
			max-width: 180px;
			width: 100%;
			
			.srp-main-photo-wrap {
				
				.srp-main-photo {
					max-width: 180px;
				}
			}
			
			.srp-title {
				font-size: 14px;
				padding-left: 4px;
				padding-right: 4px;
				overflow: hidden;
				text-align: center;
				white-space: nowrap;
			}
			
			.srp-field {
				display: none;
				
				&:nth-of-type(2) {
					display: block;
				}
			}
			
			.vehicle-price-box {
				box-sizing: border-box;
				margin-left: 5%;
				margin-right: 5%;
				margin-bottom: 10px;
				margin-top: 6px;
				width: 90%;
			}
			
			.price-item {
				display: none;
				
				&.price-item-price {
					display: block;
				}
			}
		}
		
		
	} /* end &.srp-item-one { */
}