/* CSS Document */
/* CSS Document */
@media all and (max-width: 575px) {
  .wpsd-vdp-wrap {
    /* end .vdp-item { */ }
    .wpsd-vdp-wrap .vdp-item {
      /* ned &.vdp-item-one { */ }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one {
        /* end .vdp-location-wrap { */ }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap {
          /* end .vdp-location-links { */ }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link {
            max-width: 100%;
            width: 100% !important; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-col {
          max-width: 100% !important; }

  /* end .wpsd-vdp-wrap  { */ }
/* CSS Document */
@media all and (min-width: 576px) and (max-width: 768px) {
  .wpsd-vdp-wrap {
    /* end .vdp-item { */ }
    .wpsd-vdp-wrap .vdp-item {
      /* ned &.vdp-item-one { */ }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one {
        /* end .vdp-location-wrap { */ }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap {
          /* end .vdp-location-links { */ }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link {
            max-width: calc(50% - 20px);
            width: calc(50% - 20px) !important; }

  /* end .wpsd-vdp-wrap  { */ }
/* CSS Document */
/* CSS Document */
.wpsd-vdp-wrap {
  float: left;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 16px;
  max-width: 100% !important;
  width: 100% !important;
  /* Start CSS reset */
  /* HTML5 display-role reset for older browsers */
  /* end .vdp-item { */ }
  .wpsd-vdp-wrap div, .wpsd-vdp-wrap span, .wpsd-vdp-wrap applet, .wpsd-vdp-wrap object, .wpsd-vdp-wrap iframe,
  .wpsd-vdp-wrap h1, .wpsd-vdp-wrap h2, .wpsd-vdp-wrap h3, .wpsd-vdp-wrap h4, .wpsd-vdp-wrap h5, .wpsd-vdp-wrap h6, .wpsd-vdp-wrap p, .wpsd-vdp-wrap blockquote, .wpsd-vdp-wrap pre,
  .wpsd-vdp-wrap a, .wpsd-vdp-wrap abbr, .wpsd-vdp-wrap acronym, .wpsd-vdp-wrap address, .wpsd-vdp-wrap big, .wpsd-vdp-wrap cite, .wpsd-vdp-wrap code,
  .wpsd-vdp-wrap del, .wpsd-vdp-wrap dfn, .wpsd-vdp-wrap em, .wpsd-vdp-wrap img, .wpsd-vdp-wrap ins, .wpsd-vdp-wrap kbd, .wpsd-vdp-wrap q, .wpsd-vdp-wrap s, .wpsd-vdp-wrap samp,
  .wpsd-vdp-wrap small, .wpsd-vdp-wrap strike, .wpsd-vdp-wrap strong, .wpsd-vdp-wrap sub, .wpsd-vdp-wrap sup, .wpsd-vdp-wrap tt, .wpsd-vdp-wrap var,
  .wpsd-vdp-wrap b, .wpsd-vdp-wrap u, .wpsd-vdp-wrap center,
  .wpsd-vdp-wrap dl, .wpsd-vdp-wrap dt, .wpsd-vdp-wrap dd, .wpsd-vdp-wrap ol, .wpsd-vdp-wrap ul, .wpsd-vdp-wrap li,
  .wpsd-vdp-wrap fieldset, .wpsd-vdp-wrap form, .wpsd-vdp-wrap label, .wpsd-vdp-wrap legend,
  .wpsd-vdp-wrap table, .wpsd-vdp-wrap caption, .wpsd-vdp-wrap tbody, .wpsd-vdp-wrap tfoot, .wpsd-vdp-wrap thead, .wpsd-vdp-wrap tr, .wpsd-vdp-wrap th, .wpsd-vdp-wrap td,
  .wpsd-vdp-wrap article, .wpsd-vdp-wrap aside, .wpsd-vdp-wrap canvas, .wpsd-vdp-wrap details, .wpsd-vdp-wrap embed,
  .wpsd-vdp-wrap figure, .wpsd-vdp-wrap figcaption, .wpsd-vdp-wrap footer, .wpsd-vdp-wrap header, .wpsd-vdp-wrap hgroup,
  .wpsd-vdp-wrap menu, .wpsd-vdp-wrap nav, .wpsd-vdp-wrap output, .wpsd-vdp-wrap ruby, .wpsd-vdp-wrap section, .wpsd-vdp-wrap summary,
  .wpsd-vdp-wrap time, .wpsd-vdp-wrap mark, .wpsd-vdp-wrap audio, .wpsd-vdp-wrap video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-vdp-wrap i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none; }
  .wpsd-vdp-wrap article, .wpsd-vdp-wrap aside, .wpsd-vdp-wrap details, .wpsd-vdp-wrap figcaption, .wpsd-vdp-wrap figure,
  .wpsd-vdp-wrap footer, .wpsd-vdp-wrap header, .wpsd-vdp-wrap hgroup, .wpsd-vdp-wrap menu, .wpsd-vdp-wrap nav, .wpsd-vdp-wrap section {
    display: block; }
  .wpsd-vdp-wrap body {
    line-height: 1; }
  .wpsd-vdp-wrap ol, .wpsd-vdp-wrap ul {
    list-style: none; }
  .wpsd-vdp-wrap blockquote, .wpsd-vdp-wrap q {
    quotes: none; }
  .wpsd-vdp-wrap blockquote:before, .wpsd-vdp-wrap blockquote:after,
  .wpsd-vdp-wrap q:before, .wpsd-vdp-wrap q:after {
    content: '';
    content: none; }
  .wpsd-vdp-wrap table {
    border-collapse: collapse;
    border-spacing: 0; }
  .wpsd-vdp-wrap .widget_text p {
    font-family: sans-serif; }
  .wpsd-vdp-wrap .vdp-item {
    /* end &.vdp-item-one { */ }
    .wpsd-vdp-wrap .vdp-item.vdp-item-one {
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      padding: 10px;
      padding-bottom: 20px;
      padding-top: 20px;
      width: calc(100% - 20px);
      /* end .vdp-image-box */
      /* end .vehicle-price-box { */
      /* end vdp-description-wrap */
      /* end vdp-specs-wrap */
      /* end wpsd-vehicle-options-wrap */
      /* .vdp-thumbnails-wrap { */
      /* end .vdp-location-wrap */ }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one.vdp-item-full-width {
        max-width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one.vdp-item-narrow-width {
        max-width: 600px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-col {
        float: left;
        max-width: 50%;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-check {
        color: #0b0;
        float: left;
        font-size: 24px;
        font-weight: 700;
        height: 20px;
        width: 20px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-image-box .vdp-main-image-wrap {
        cursor: pointer;
        position: relative; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-image-box .vdp-main-image-wrap img {
          width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-title {
        font-size: 28px;
        line-height: 32px;
        text-align: center; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap .vdp-summary-spec-item {
          float: left;
          padding: 4px;
          width: calc(100% - 8px); }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap .vdp-summary-spec-item .vdp-summary-spec-label {
            float: left;
            min-width: 100px;
            width: 50%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-summary-wrap .vdp-summary-spec-item .vdp-summary-spec-value {
            float: left;
            min-width: 100px;
            width: 50%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-price-box-wrap {
        box-sizing: border-box;
        float: left;
        padding: 10px;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box {
        background-color: #eee;
        border: 1px dashed #333;
        float: left;
        padding: 6px;
        text-align: center;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item {
          float: left;
          width: 100%;
          /* end &.price-item-price { */ }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item.no-price {
            font-size: 16px;
            font-weight: 700; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item .price-item-label {
            float: left;
            font-weight: 700;
            width: 50%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item .price-item-value-wrap {
            float: left;
            width: 50%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item .price-after {
            font-size: 12px;
            vertical-align: top; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item.price-item-price .price-item-label {
            float: left;
            line-height: 20px;
            font-size: 20px;
            width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vehicle-price-box .price-item.price-item-price .price-item-value-wrap {
            color: #0b0;
            float: left;
            line-height: 22px;
            font-size: 22px;
            font-weight: 700;
            width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-description-wrap {
        float: left;
        padding: 10px;
        width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-description-wrap .vdp-description-title {
          float: left;
          font-size: 22px;
          font-weight: 700;
          padding: 10px;
          width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-description-wrap .vdp-description {
          float: left;
          padding: 10px;
          width: calc(100% - 20px); }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap {
        box-sizing: border-box;
        float: left;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        /* end .wpsd-vehicle-spec-group */ }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group {
          box-sizing: border-box;
          padding: 10px;
          width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .wpsd-vehicle-spec-group-title {
            float: left;
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item {
            box-sizing: border-box;
            float: left;
            padding: 10px;
            padding-bottom: 6px;
            padding-top: 6px;
            width: 100%; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item:nth-of-type(odd) {
              background-color: #ddd; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item .vdp-spec-item-label {
              float: left;
              width: 50%; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-specs-wrap .wpsd-vehicle-spec-group .vdp-spec-item .vdp-spec-item-value {
              float: left;
              width: 50%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap {
        box-sizing: border-box;
        float: left;
        padding: 10px;
        padding-bottom: 4px;
        padding-top: 4px;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-group-title {
          float: left;
          font-size: 22px;
          font-weight: 700;
          line-height: 24px;
          padding-bottom: 4px;
          padding-top: 4px;
          width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group {
          box-sizing: border-box;
          float: left;
          padding: 10px;
          width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-sub-group-title {
            background-color: #ddd;
            box-sizing: border-box;
            float: left;
            margin-bottom: 10px;
            padding: 10px;
            width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-item-wrap {
            border-bottom: 1px dashed #333;
            box-sizing: border-box;
            float: left;
            margin-bottom: 10px;
            padding: 20px;
            padding-bottom: 4px;
            padding-top: 4px;
            width: 100%; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-item-wrap .vdp-check {
              float: right; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-vehicle-options-wrap .wpsd-vehicle-options-group .wpsd-vehicle-options-sub-group .wpsd-vehicle-options-item-wrap .wpsd-vehicle-options-item {
              float: left;
              padding: 4px;
              width: fit-content; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-before, .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-summary, .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-middle, .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-sidebar-after {
        float: left;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap {
        box-sizing: border-box;
        float: left;
        height: 150px;
        overflow: hidden;
        padding: 10px;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap .vdp-thumbnails {
          position: relative; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap .vdp-thumbnails .vdp-thumbnail-wrap {
            float: left;
            margin: 0px;
            margin-bottom: 4px;
            margin-left: 4px;
            margin-right: 4px;
            margin-top: 4px;
            max-width: 100px;
            position: relative; }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-wrap .vdp-thumbnails .vdp-thumbnail-wrap .vdp-thumbanil {
              cursor: pointer;
              float: left;
              position: relative;
              width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-view-all {
        background-color: #ddd;
        bottom: 0;
        box-sizing: border-box;
        cursor: pointer;
        float: left;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-thumbnails-view-all .dashicons {
          margin-right: 6px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-history-report-title {
        border-top: 1px solid #333;
        float: left;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        padding-bottom: 4px;
        padding-top: 14px;
        width: 100%; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .wpsd-history-report-title {
        margin-bottom: 20px; }
      .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap {
        box-sizing: border-box;
        float: left;
        padding: 10px;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-name {
          float: left;
          font-size: 22px;
          font-weight: 700;
          padding: 10px;
          position: relative;
          text-transform: capitalize;
          width: calc(100% - 20px); }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-address-wrap .vdp-location-city {
          float: left;
          margin-right: 10px; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-conact-name {
          font-size: 18px;
          padding: 10px; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-conact-phone-wrap {
          font-size: 18px;
          padding: 10px; }
        .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links {
          box-sizing: border-box;
          float: left;
          padding: 10px;
          width: 100%; }
          .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link {
            background-color: #ddd;
            box-sizing: border-box;
            color: #333;
            cursor: pointer;
            float: left;
            margin: 10px;
            min-width: 150px;
            padding: 10px;
            text-align: center;
            width: calc(25% - 20px); }
            .wpsd-vdp-wrap .vdp-item.vdp-item-one .vdp-location-wrap .vdp-location-links .vdp-link-item a.vdp-link:hover {
              background-color: #eee; }
