/* CSS Document */
@import 'vdp-item/575';
@import 'vdp-item/768';
@import 'vdp-item/991';
@import 'vdp-item/1199';

.wpsd-vdp-wrap {
	float: left;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 16px;
	max-width: 100% !important;
	width: 100% !important;

	/* Start CSS reset */
	div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-family: sans-serif;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-decoration: none;
	}
    i {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		vertical-align: baseline;
		text-decoration: none;
    }
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.widget_text {
		
		p {
			font-family: sans-serif;
		}
	}
	
	.vdp-item {

		&.vdp-item-one {
			background-color: #fff;
			margin-left: auto;
			margin-right: auto;
			max-width: 800px;
			padding: 10px;
			padding-bottom: 20px;
			padding-top: 20px;
			width: calc(100% - 20px);
			
			&.vdp-item-full-width {
				max-width: 100%;
			}
			&.vdp-item-narrow-width {
				max-width: 600px;
			}
			
			.vdp-col {
				float: left;
				max-width: 50%;
				width: 100%;
			}
			
			.vdp-check {
				color: #0b0;
				float: left;
				font-size: 24px;
				font-weight: 700;
				height: 20px;
				width: 20px;
			}
			
			.vdp-image-box {
				
				.vdp-main-image-wrap {
					cursor: pointer;
					position: relative;
					
					.vdp-before-main-image {
						
					}
					img {
						width: 100%;
					}
					.vdp-after-main-image {
						
					}
				}
			} /* end .vdp-image-box */
			
			.vdp-title {
				font-size: 28px;
                line-height: 32px;
				text-align: center;
			}
			.vdp-summary-wrap {
				margin-left: auto;
				margin-right: auto;
				padding: 10px;
				width: calc(100% - 20px);
				
				.vdp-summary-spec-item {
					float: left;
					padding: 4px;
					width: calc(100% - 8px);

					.vdp-summary-spec-label {
						float: left;
						min-width: 100px;
						width: 50%;
					}
					.vdp-summary-spec-value {
						float: left;
						min-width: 100px;
						width: 50%;
					}
				}
			}
			
			.vdp-price-box-wrap {
				box-sizing: border-box;
				float: left;
				padding: 10px;
				width: 100%;
			}
			.vehicle-price-box {
				background-color: #eee;
				border: 1px dashed #333;
				float: left;
				padding: 6px;
				text-align: center;
				width: 100%;

				.price-item {
					float: left;
					width: 100%;

					&.no-price {
						font-size: 16px;
						font-weight: 700;
					}

					.price-item-label {
						float: left;
						font-weight: 700;
						width: 50%;
					}
					.price-item-value-wrap {
						float: left;
						width: 50%;

						.price-item-value {

						}
					}
					.price-before {

					}
					.price-after {
						font-size: 12px;
						vertical-align: top;
					}

					&.price-item-price {

						.price-item-label {
							float: left;
							line-height: 20px;
							font-size: 20px;
							width: 100%;
						}
						.price-item-value-wrap {
							color: #0b0;
							float: left;
							line-height: 22px;
							font-size: 22px;
							font-weight: 700;
							width: 100%;
						}
					} /* end &.price-item-price { */
				}
			} /* end .vehicle-price-box { */

			.vdp-description-wrap {
				float: left;
				padding: 10px;
				width: calc(100% - 20px);

				.vdp-description-title {
					float: left;
					font-size: 22px;
					font-weight: 700;
					padding: 10px;
					width: calc(100% - 20px);
				}
				.vdp-description {
					float: left;
					padding: 10px;
					width: calc(100% - 20px);
				}
			} /* end vdp-description-wrap */
			.vdp-specs-wrap {
				box-sizing: border-box;
				float: left;
				margin-bottom: 10px;
				margin-top: 10px;
				padding: 10px;
				width: 100%;
				
				.wpsd-vehicle-spec-group {
					box-sizing: border-box;
					padding: 10px;
					width: 100%;
					
					.wpsd-vehicle-spec-group-title {
						float: left;
						font-size: 22px;
						font-weight: 700;
						line-height: 24px;
						padding-bottom: 4px;
						padding-top: 4px;
						width: 100%;
					}
					.vdp-spec-item {
						box-sizing: border-box;
						float: left;
						padding: 10px;
						padding-bottom: 6px;
						padding-top: 6px;
						width: 100%;
						
						&:nth-of-type(odd) {
							background-color: #ddd;
						}

						.vdp-spec-item-label {
							float: left;
							width: 50%;
						}
						.vdp-spec-item-value {
							float: left;
							width: 50%;								
						}
					}
				} /* end .wpsd-vehicle-spec-group */
				
			} /* end vdp-specs-wrap */
			
			.wpsd-vehicle-options-wrap {
				box-sizing: border-box;
				float: left;
				padding: 10px;
				padding-bottom: 4px;
				padding-top: 4px;
				width: 100%;
				
				.wpsd-vehicle-options-group {
					
					.wpsd-vehicle-options-group-title {
						float: left;
						font-size: 22px;
						font-weight: 700;
						line-height: 24px;
						padding-bottom: 4px;
						padding-top: 4px;
						width: 100%;
					}
					
					.wpsd-vehicle-options-sub-group {
						box-sizing: border-box;
						float: left;
						padding: 10px;
						width: 100%;
						
						.wpsd-vehicle-options-sub-group-title {
							background-color: #ddd;
							box-sizing: border-box;
							float: left;
							margin-bottom: 10px;
							padding: 10px;
							width: 100%;
						}
						.wpsd-vehicle-options-item-wrap {
							border-bottom: 1px dashed #333;
							box-sizing: border-box;
							float: left;
							margin-bottom: 10px;
							padding: 20px;
							padding-bottom: 4px;
							padding-top: 4px;
							width: 100%;
							
							.vdp-check {
								float: right;
							}
							
							.wpsd-vehicle-options-item {
								float: left;
								padding: 4px;
								width: fit-content;
							}
						}
					}
				}
			} /* end wpsd-vehicle-options-wrap */
			
			.vdp-sidebar-before, .vdp-sidebar-summary, .vdp-sidebar-middle, .vdp-sidebar-after {
				float: left;
				width: 100%;
			}
			
			.vdp-thumbnails-wrap {
				box-sizing: border-box;
				float: left;
				height: 150px;
				overflow: hidden;
				padding: 10px;
				padding-left: 8px;
				padding-right: 8px;
				position: relative;
				width: 100%;
				
				.vdp-thumbnails {
					position: relative;
					
					.vdp-thumbnail-wrap {
						float: left;
						margin: 0px;
                        margin-bottom: 4px;
						margin-left: 4px;
						margin-right: 4px;
                        margin-top: 4px;
						max-width: 100px;
						position: relative;
						
						.vdp-thumbanil {
							cursor: pointer;
							float: left;
							position: relative;
							width: 100%;
						}
					}
				}
			} /* .vdp-thumbnails-wrap { */
			
			.vdp-thumbnails-view-all {
				background-color: #ddd;
				bottom: 0;
				box-sizing: border-box;
				cursor: pointer;
				float: left;
				font-size: 20px;
				font-weight: 700;
				padding: 10px;
				position: absolute;
				text-align: center;
				width: 100%;
                
                .dashicons {
                    margin-right: 6px;
                }
			}
            
            .wpsd-history-report-title {
                border-top: 1px solid #333;
                float: left;
                font-size: 22px;
                font-weight: 700;
                line-height: 24px;
                padding-bottom: 4px;
                padding-top: 14px;
                width: 100%;
            }

            .wpsd-history-report-title {
                margin-bottom: 20px;
            }
			
			.vdp-location-wrap {
				box-sizing: border-box;
				float: left;
				padding: 10px;
				padding-left: 8px;
				padding-right: 8px;
				position: relative;
				width: calc(100% - 20px);

				.vdp-location-name {
					float: left;
					font-size: 22px;
					font-weight: 700;
					padding: 10px;
					position: relative;
					text-transform: capitalize;
					width: calc(100% - 20px);
				}
				
				.vdp-location-address-wrap {
					
					.vdp-location-address {
						
					}
					.vdp-location-city {
						float: left;
						margin-right: 10px;
					}
					.vdp-location-state {
						
					}
					.vdp-location-zip {
						
					}
				}
				
				.vdp-location-conact-name {
					font-size: 18px;
					padding: 10px;
				}
				.vdp-location-conact-phone-wrap {
					font-size: 18px;
					padding: 10px;
				}
				
				.vdp-location-links {
					box-sizing: border-box;
					float: left;
					padding: 10px;
					width: 100%;

					.vdp-link-item {
						
						a.vdp-link {
							background-color: #ddd;
							box-sizing: border-box;
							color: #333;
							cursor: pointer;
							float: left;
							margin: 10px;
							min-width: 150px;
							padding: 10px;
							text-align: center;
							width: calc(25% - 20px);
							
							&:hover {
								background-color: #eee;
							}
						}
					}
				}
				
			} /* end .vdp-location-wrap */
		} /* end &.vdp-item-one { */
	} /* end .vdp-item { */
}