#wpsd-inventory-wrap {
	min-height: 100%;
	position: relative;
}

#wpsdsp_inventory_top {
	float: left;
	height: 20px;
	width: 100%;
}

.wpsdsp_inventory_top {
	margin-top: 20px;
}

.clear {
	clear: both;
}

.wpsd-search-form-wrap {
    
}

.wpsdsp-end-of-form {
	bottom: 0px;
	position: absolute;
}

.wpsdsp-mobile-filter-button, .wpsdsp-view-inventory-btn {
	background: #0f5889;
    color: #fff;
    cursor: pointer;
	display: none;
    float: none;
    font-family: sans-serif;
	font-size: 22px;
    margin-bottom: 0px !important;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: none;
    width: 100%;
    
    .dashicons {
        line-height: 30px;
        margin-right: 8px;
    }
}
