/***********************************************************/
/* 
 * Loading
*/
/***********************************************************/
.wpsdsp_loading_inventory {
	height: 100%;
	position: absolute;
	width: 100%;

	.wpsdsp-loading-inventory-wrap {
		background-color: #000;
		height: 100%;
		min-height: 2600px;
		opacity: .6;
		position: absolute;
		width: 100%;
		z-index: 100;

	}
	img {
		display: block;
		max-width: 329px !important;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25%;
		position: relative;
		width: 100%;
		z-index: 101;
	}
}