.wpsdsp-range-wrap {
	float: left;
	width: 100%;
}

.search-form-sliders {
    
    .wpsdsp-range-wrap {
        
        select {
            display: none;
        }
    }
    .wpsdsp-range-label {
        float: left;
        min-width: 100px;
        padding-left: 4px;
        width: fit-content;
    }
    .wpsdsp-range-min-value, .wpsdsp-range-max-value {
        float: right;
        max-width: 150px;
        width: fit-content
    }
}

.wpsdsp-range-slider-wrap {
	float: left;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	width: 100%;

	.wpsdsp_price_slide_min, .wpsdsp_price_slide_max, .wpsdsp_mileage_slide_min, .wpsdsp_mileage_slide_max, .wpsdsp_vehicle_year_slide_min, .wpsdsp_vehicle_year_slide_max {
		height: 2px !important;
		background: #324d89 !important;
	}
	
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background: #324d89 !important;
		border-radius: 10px;
		top: -8px;
	}
}

.wpsdsp-range-label {
	float: left;
	font-weight: 700 !important;
	width: 50%;
}

.wpsdsp-range-price-min-value, .wpsdsp-range-mileage-min-value, .wpsdsp-range-year-min-value {
	float: left;
	width: 50%;
}

.wpsdsp_tb_forms_one {

	.wpsdsp_price.wpsdsp_min, .wpsdsp_price.wpsdsp_max, .wpsdsp_mileage.wpsdsp_min, .wpsdsp_mileage.wpsdsp_max, .wpsdsp_year.wpsdsp_min, .wpsdsp_year.wpsdsp_max {
		display: none;
	}
}