/***********************************************************/
/* 
 * Style Three
*/
/***********************************************************/
/*
Style Two Mobile Adjustments
*/
.wpsdsp-search-form {
	
	&.wpsdsp-search-form-three {
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 40px;
		margin-left: auto;
		margin-right: auto;
		max-width: 900px !important;
		padding: 10px;
		
		&.wpsdsp-mobile-search-form {
			.selectBox {
				margin-top: 0px;
			}
		}
		.wpsd-sort-by-label {
			color: transparent;
			float: left;
			height: 10px;
		}
		.wpsdsp-item {
			
			.wpsd-sort-by-combined {
				border: none;
				color: #aaa;
				margin-top: 6px;
			}
			.wpsdsp-current-filters {
				background-color: #ddd;
				border: none;
				float: left;
				margin-bottom: 10px;
				margin-left: 24px;
				width: 90%;
			}
		}
		.selected {
			display: none;
		}
		.wpsdsp-current-filters-top {
			display: none;
		}
		.wpsdsp-current-filters-middle {
			display: none;
		}
		.wpsdsp-current-filters_bottom {
			&:empty {
				display: none;
			}
		}
		.selectArrow {
			display: none;
		}
		select {
			font-size: 18px;
			margin-left: 0px !important;
			option {
				&:hover {
					background-color: #ddf;
				}
			}
			&.wpsdsp-range {
				color: #aaa;
			}
		}
		input[type=text] {
			box-shadow: none;
			font-size: 18px;
			height: 34px;
			&::placeholder {
				color: #aaa;
				text-align: center;
			}
		}
		.search-keyword {
			input[type=text] {
				padding-left: 18px;
			}
		}
		.selectBox {
			font-size: 18px;
			height: 34px;
		}
		select.selectOptions {
			option {
				height: 22px;
				padding: 4px;
			}
		}
		.wpsdsp-item.wpsdsp-item-submit {
			text-align: center;
			border: none;
			margin-top: 10px;
			padding-left: 4px;

			.wpsdsp-button-box {
				float: none;
				margin-left: auto;
				margin-right: auto;
			
				.wpsdsp-button {
					background: transparent;
					max-width: 38px;
					padding-top: 0px;

					.wpsdsp-button-label {
						color: #aaa;
						float: right;
						line-height: 36px;
						padding-left: 8px;
						
						&:hover {
							color: #1cc518;
						}
					}
				}
				.wpsdsp-button-icon {
					background-color: #333;
					background-image: url(../images/btn-search.png);
					border: 0;
					width: 34px;
					height: 34px;
					float: left;
					border-radius: 20px;
					cursor: pointer;
					font-size: 24px;
					padding: 0px;
					
					&:hover {
						background-color: #1cc518;
					}
				}
			} /* end .wpsdsp-button-box { */
		} /* end .wpsdsp-item-submit { */
		.wpsdsp-item {
			border-right: 1px solid #ddd;
			max-width: 175px;
			&:last-of-type {
				border: none;
			}
		}
		.wpsdsp-select-wrap {
			border: none;
			float: none;
			max-width: 350px;
			margin-left: auto;
			margin-right: auto;
			min-height: 55px;
		}
		.keyword_search_button {
			display: none;
			height: 34px;
			width: 34px;
		}
		.wpsdsp-label {
			height: 10px;
			visibility: hidden;
		}
		.wpsdsp-range {

			.wpsdsp-label {
				color: #aaa;
				font-size: 12px;
				font-weight: 400;
				height: fit-content;
				line-height: 14px;
				visibility: visible;
			}
		}
		.view_inventory_button {
			float: left;
			width: 100%;

			div {
				background-color: rgba(0,0,0,.5);
				border: 1px solid #fff;
				border-radius: 30px;
				box-sizing: border-box;
				color: #fff;
				cursor: pointer;
				display: block;
				font-size: 20px;
				font-weight: 700;
				margin-left: auto;
				margin-right: auto;
				margin-top: 20px;
				padding: 8px;
				text-align: center;
				width: 240px;
				&:hover {
					background-color: rgba(0,0,0,.8);
					color: #0b0;
				}
			}
		} /* end .view_inventory_button { */
		
	} /* end &.wpsdsp-search-form-two { */
}

@media all and (max-width: 599px) {
	.wpsdsp-search-form.wpsdsp-search-form-two.wpsdsp-mobile-search-form {
		display: block;
		.wpsdsp-item {
			max-width: 100%;
			border-right: none;
		}
		.wpsdsp-view-inventory-btn {
			display: none;
		}
		.wpsdsp_show_inventory_btn {
			display: none;
		}
		.search-keyword {
			input[type=text] {
				border-radius: 0px;
			}
		}
		select {
			border: none;
			height: auto;
			min-height: 32px;
		}
		.selectOption {
			border: 1px solid #ddd;
		}
		.wpsdsp-current-filters {
			margin-bottom: 0px;
			margin-left: auto;
			margin-top: 10px;
			width: 100%;
		}
		#wpsdsp-search-form {
			margin-top: 32px;
		}
		.wpsdsp-item.wpsdsp-item-submit {
			border-right: none;
			border-top: 1px solid #ddd;
			box-sizing: border-box;
			margin-top: 0px;
			padding-bottom: 10px;
			padding-top: 10px;
		}
		.wpsdsp-label {
			background: #eef;
			color: #333;
			font-size: 22px;
			height: auto;
			padding: 6px;
			visibility: visible;
		}
		.wpsdsp-button {
			display: block;
			float: none;
			max-width: 130px;
			margin-left: auto;
			margin-right: auto;
			.wpsdsp-button-label {
				display: block;
				float: left;
				font-size: 24px;
				margin-right: 10px;
				padding-top: 6px;
			}
		}
	}
	.wpsdsp-search-form.wpsdsp-search-form-two {
		.wpsdsp-mobile-search-form-input {
			display: none;
		}
	}
}
