/***********************************************************/
/* 
 * Style Four
*/
/***********************************************************/
.wpsdsp-search-form.wpsdsp-search-form-four {
//	max-width: 100% !important;
//	width: 100% !important;
	
	.wpsdsp-item {
		max-width: 150px;
		min-height: auto;
		
		.wpsdsp-label {
			font-size: 14px;
			font-weight: 400;
			display: none;
		}
		.selectArrow {
			display: none;
		}
		select {
			color: #777;
			z-index: 1;
		}
		.wpsd-sort-by-combined {
			color: #777;
		}
	}
	.wpsdsp-current-filters {
		display: none;
	}
	.wpsd-sort-by-label {
		display: none;
	}
	.wpsdsp-item-submit {
		
		.wpsdsp-button {
			background-color: #777;
			color: #fff;
			cursor: pointer;
			display: block;
			font-size: 14px;
			font-weight: 400;
			min-width: fit-content;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			padding: 1px;
			text-align: center;
			width: 100%;
		}
	}
}