/***********************************************************/
/* 
 * Style Two
*/
/***********************************************************/
.wpsdsp-search-form.wpsdsp-search-form-two {

	&.wpsdsp-mobile-search-form {
		
		.checkbox input[type="checkbox"] {
			height: 32px;
		}
		div div.wpsdsp-label {
			font-size: 26px;
		}
		.selectOption {
			font-size: 22px;
		}
		select {
			border: solid 1px #ddd;
			height: 36px;
			font-size: 22px;

			&.wpsdsp-range {
				font-size: 22px;
			}
		}
		.keyword_search_button {
			height: 38px;
		}
		.search-keyword input[type=text] {
			height: 38px;
		}
		.vehicle_search_keyword_box {
			height: 38px;
		}
	}
	/* end mobile */

	div div.wpsdsp-label {
		background-color: #fff;
		color: #0f5889;
		cursor: pointer;
		font-size: 1.25em;
		font-weight: 900;
		margin: 0;
		margin-bottom: 14px;
		margin-top: 14px;
		position: relative;
	}

	.wpsd-sort-by-combined {
		border: solid 1px #333;
		padding-bottom: 1px;
		padding-top: 1px;
		position: relative;
	}
	.wpsd-sort-by-label {
		background-color: #fff;
		color: #0f5889;
		cursor: pointer;
		display: block;
		font-size: 1.25em;
		font-weight: 900;
		margin: 0;
		margin-bottom: 14px;
		margin-top: 14px;
		position: relative;	
	}

	.wpsd-sort-form-wrap {
		padding-bottom: 16px;
	}

	.wpsdsp-item  {

        .selectArrow {
            display: block;
        }
    }
    
	.checkbox input[type="checkbox"] {
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		height: 20px;
		margin: 0px;
		margin-right: 6px;
		margin-top: -2px;
		width: 20px;
	}

	.wpsdsp-select-wrap {
		border: none;
		border-bottom: 1px solid #DDD;
		margin-bottom: 14px;
		padding-bottom: 16px;	
	}

	select.wpsdsp-range {
		float: left;
		position: relative;
		width: 48%;
	}

	.wpsdsp-checkbox div {
		font-weight: 400;
		line-height: 1.5;	
		margin-bottom: 3px;
		margin-top: 3px;
	}

	input[type="text"] {
		background-color: #eee;
		border: 1px solid #888;
		box-shadow: none;
		height: 28px;
		transition: unset;
		width: 96%;
	}

	input[type="text"]::placeholder {
		color: #333;
	}

	select {
		width: 94%;
	}

	select option {
		font-size: 16px;
		font-weight: 700;
		padding-bottom: 4px;
		padding-top: 6px;
	}

	select option:hover {
		background-color: #ddf;
	}

	.wpsdsp-item {
		background-color: #fff;
		border-radius: 6px;
		box-sizing: border-box;
		float: left;
		margin: 4px;
		max-width: 250px;
		min-height: 50px;
		padding: 8px;
		padding-bottom: 0px;
		padding-top: 0px;
		width: calc(100% - 8px);	
	}

	.keyword_search_button {
		height: 28px;
	}

	.wpsdsp-current-filters {
		display: none;
	}

	.wpsdsp-item-submit .wpsdsp-button {
		background: #0f5889;
		color: #fff;
		cursor: pointer;
		float: none;
		font-size: 18px;
		font-weight: 700;
		margin-left: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		padding: 6px;
		padding-left: 14px;
		padding-right: 14px;
		text-transform: none;
		text-align: center;
		width: 100%;
	}

	.wpsdsp-button-label {
		color: #fff;
		cursor: pointer;
		font-size: 18px;
		font-weight: 700;
		margin-left: 0;
		width: 100%;
	}
}
