/* CSS Document */
.wpsdsort-admin-label {
    background-color: #ddd;
    box-sizing: border-box;
    cursor: pointer;
	margin-bottom: 4px;
	margin-top: 4px;
    padding: 6px;
    width: 100%;
}

.wpsdsort_inactive {
	display: none;
}

.wpsdsort_option_group {
	float: left;
	width: 100%;	
}

.wpsdsort_options {
	float: left;
	width: 100%;
}

.wpsdsort-item-field {
	
}

.wpsdsort-item-field label {
	display: inline-block;
	padding-right: 20px;
	text-align: right;
	width: 150px;
}

.wpsdsort-item-field span {
	
}

.wpsdsort-item-field span input[type=text] {
    width: 400px;
}

.wpsdsort-note {
	color: #b00;
	font-size: 14px;
	font-weight: 700;
	margin: 10px;
}

.wpsdsort-note br {
	
}

.wpsdsort-clear {
	clear: both;
}

.wpsdsort-default-radio {
	display: none;
	float: right;
}

.wpsdsort-default-radio input[type=radio] {
	
}

.wpsdsort-default-direction {
	padding: 10px;
}

.wpsdsort-default-item {
	float: left;
	margin-bottom: 26px;
	min-width: 198px;
	width: 33%;
}

.wpsdsort-default-item label {
	float: left;
	margin-top: 4px;
	width: 100%;
}

.wpsdsort-default-item select {
	max-width: 180px;
}

.wpsdsort-item-field-type, .wpsdsort-item-field-field_name {
	display: none;
}